/* ────────────────────────── Navigation File Tree ────────────────────────── */
/* ──────────────────────────── by jdanielmourao ──────────────────────────── */

.nav-folder-children .nav-file,
.nav-folder-children .nav-folder {
	position: relative;
}

.nav-folder-children .nav-folder-children .nav-file:before,
.nav-folder-children .nav-folder-children .nav-folder:before,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-file:before,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder:before {
	position: absolute;
	display: block;
	content: "";
	height: 0.03ch;
	width: 6px;
	top: 14px;
	left: 2px;
	background-color: var(--text-muted);
}

.nav-folder-children .nav-folder-children .nav-file:after,
.nav-folder-children .nav-folder-children .nav-folder:after,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-file:after,
.nav-folder-children .nav-folder-children .nav-folder-children .nav-folder:after {
	position: absolute;
	display: block;
	content: "";
	height: 100%;
	width: 0.03ch;
	top: 0px;
	left: 2px;
	background-color: var(--text-muted);
}

.nav-folder-children .nav-folder-children > .nav-file:last-child:before,
.nav-folder-children .nav-folder-children > .nav-folder:last-child:before,
.nav-folder-children .nav-folder-children .nav-folder-children> .nav-file:last-child:before,
.nav-folder-children .nav-folder-children .nav-folder-children> .nav-folder:last-child:before {
	position: absolute;
	display: block;
	content: "";
	top: 14px;
	left: 2px;
	height: 0.03ch !;
	width: 6px;
	margin: auto;
	background-color: var(--text-muted);
}

.nav-folder-children .nav-folder-children > .nav-file:last-child:after,
.nav-folder-children .nav-folder-children > .nav-folder:last-child:after,
.nav-folder-children .nav-folder-children .nav-folder-children> .nav-file:last-child:after,
.nav-folder-children .nav-folder-children .nav-folder-children> .nav-folder:last-child:after {
	position: absolute;
	display: block;
	content: "";
	top: 0px;
	left: 2px;
	height: 14px;
	width: 0.03ch;
	margin: auto;
	background-color: var(--text-muted);
	background-repeat: repeat;
}