.markdown-preview-view mark,
span.cm-highlight {
		font-weight: 400;
		color: var(--text-normal);
		text-decoration: underline solid #d69f28 2.5px;
		background-color: transparent;
		background: linear-gradient(120deg,#d69f28,#d69f28);
		background-position: 0 100%;
		background-repeat: no-repeat;
		background-size: 100% 0px;
		transition: background 240ms cubic-bezier(0, 0, 0.38, 0.9);
}
.markdown-preview-view mark:hover,
span.cm-highlight:hover {
		text-decoration: none;
		background-size: 100% 100%;
		color: var(--text-normal);
}
