@use 'var';

// Blockquote paragraph styling
blockquote p {
    display: block;
 }

.markdown-source-view.mod-cm6.is-live-preview blockquote, // <blockquote>
.markdown-source-view.mod-cm6.is-live-preview blockquote.paraphrase, // <blockquote class="paraphrase">
.markdown-source-view.mod-cm6.is-live-preview :not(.cm-active) .cm-quote, // >
.markdown-preview-view blockquote { // blockquote preview
    border-radius: var.$size-0;
    border-width: var.$size-0
                  var.$size-0
                  var.$size-0
                  var.$size-0;
    border-color: transparent;
    border-left: 1.5px solid var(--color-accent);
    background-color: transparent;
    color:var(--text-muted);
    margin-inline-start: 27px;
    margin-block-start: var.$size-0;
    margin-block-end: var.$size-0;
    margin-bottom: 16px;
    padding: var.$size-2 var.$size-4 var.$size-2 var.$size-4;
    text-align: left;
    font-family: var(--font-preview);
    font-style: normal;
    font-weight: var.$font-light;
    font-size: var.$font-scale-0;
    line-height: var.$leading-3;
    letter-spacing: var.$tracking-0;
    position: relative;

    &:after {
        content: '\201C';
        font-family: sans-serif;
        position: absolute;
        top: 0.36em;
        left: -28px;
        font-size: 3.75rem;
    	color: var(--color-accent);
    }
    &.paraphrase:after { // when paraphrasing, wrap your quote in <blockquote class="paraphrase">
    	display: none;
    }
}

.markdown-source-view.mod-cm6.is-live-preview div.cm-active.cm-line span.cm-formatting.cm-formatting-quote {
	margin: 0;
	border:none;
	padding: 0;

	&::after {
		display: none;
		margin: 0;
		border: none;
	}
}

cite { // for citations
	color: var(--text-muted);
	text-align: end;
	display: block;
}