@use 'var';

// Blockquote paragraph styling
blockquote p {
	display: block;
 }

.markdown-preview-view blockquote { // blockquote preview
	border-radius: var.$size-0;
	border-width:	var.$size-0;
	border-color: transparent;
	border-left: 1.5px solid var(--color-accent);
	background-color: transparent;
	color:var(--text-muted);
	margin-inline-start: 27px;
	margin-block-start: var.$size-0;
	margin-block-end: var.$size-0;
	margin-bottom: 16px;
	padding: var.$size-2 var.$size-4 var.$size-2 var.$size-4;
	text-align: left;
	font-family: var(--font-preview);
	font-style: normal;
	font-weight: var(--font-light);
	font-size: var.$font-scale-0;
	line-height: var.$leading-3;
	letter-spacing: var.$tracking-0;
	position: relative;

	&:after {
		content: '\201C';
		font-family: sans-serif;
		position: absolute;
		top: 0.31em;
		left: -28px;
		font-size: 3.75rem;
		color: var(--color-accent);
	}
	&.paraphrase:after { // when paraphrasing, wrap your quote in <blockquote class="paraphrase">
		display: none;
	}
}


cite { // for citations
	color: var(--text-muted);
	text-align: end;
	display: block;
}


//Live Preview
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
	border: 0 solid var(--color-accent);
	border-left-width: 1.5px;

	&:before {
		content: '\201C';
		font-family: sans-serif;
		position: absolute;
		top: 0em;
		left: -16px;
		font-size: 3.75rem;
		color: var(--color-accent);
	}
}

//blockquote and paraphrase Live Preview
.markdown-source-view.mod-cm6.is-live-preview .cm-html-embed.cm-embed-block blockquote,
.markdown-source-view.mod-cm6.is-live-preview .cm-html-embed.cm-embed-block blockquote.paraphrase {
	border-radius: 0;
	border: none;
	border-left: 1.5px solid var(--color-accent);
	padding: 0;
	margin: 0;
	margin-left: 20px;
	padding-left: 16px;
	color: var(--text-muted);
}

.markdown-source-view.mod-cm6.is-live-preview .cm-html-embed.cm-embed-block blockquote:not(.paraphrase) {
	margin-left: 20px;
	&:after {
		content: '\201C';
		font-family: sans-serif;
		position: absolute;
		top: 0.31em;
		left: 0px;
		font-size: 3.75rem;
		color: var(--color-accent);
	}
}

/*
.markdown-source-view.mod-cm6.is-live-preview .cm-html-embed.cm-embed-block .edit-block-button {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M12 15H6.11A9 9 0 0 1 10 8.86l1.79-1.2L10.69 6 8.9 7.2A11 11 0 0 0 4 16.35V23a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2Zm14 0h-5.89A9 9 0 0 1 24 8.86l1.79-1.2L24.7 6l-1.8 1.2a11 11 0 0 0-4.9 9.15V23a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2Z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
	background-color: transparent;
	background-repeat: no-repeat;
	filter: opacity(.7);
	transform: scale(.8);
	left: -75px;
	top: -4px;

	.theme-dark & {
		filter: invert(1) opacity(.9);
	}
}


.markdown-source-view.mod-cm6.is-live-preview .cm-html-embed.cm-embed-block .edit-block-button svg {
	color: transparent;
}*/