
@use 'var';

@mixin button-l {
	border-radius: 0px;
	padding: var.$size-3
			 var.$size-8
			 var.$size-3
			 var.$size-5;
	font-size: var(--font-scale-00);
	font-weight: var(--font-regular);
	font-family: var(--font-ui);
	//border: 1px solid rgba(var(--rgb-primary-10), .2);
	//box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset,
	//0px 2px 4px 0px rgb(0 0 0 / 20%);
	//text-shadow: 0 .5px 0px rgba(var(--rgb-primary-10), .3);
}
@mixin button-m {
	border-radius: 0px;
	padding: var.$size-2
			 var.$size-5
			 var.$size-2
			 var.$size-5;
	font-size: var(--font-scale-00);
	font-weight: var(--font-regular);
	font-family: var(--font-ui);
	//border: 1px solid rgba(var(--rgb-primary-10), .2);
	//box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset,
	//0px 2px 4px 0px rgb(0 0 0 / 20%);
}

@mixin button-s { // for sort icons, etc
	border-radius: 3px;
	padding: var.$size-2
			 var.$size-2
			 var.$size-0
			 var.$size-2;
	font-size: var(--font-scale-00);
	font-weight: var(--font-regular);
	font-family: var(--font-ui);
	//border: 1px solid rgba(var(--rgb-primary-10), .2);
	//box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset,
	//0px 2px 4px 0px rgb(0 0 0 / 20%);
}

button.mod-warning {
	background-color: var(--background-modifier-error);
	color: var(--background-primary);
	border-radius: 0px;
	@include button-l;
}

button.mod-cta {
	color: var(--background-primary);
	border-radius: 0px;
	@include button-l;
	background-color: var(--color-accent);

	.theme-dark & {
		font-weight: var(--font-medium);
	}
	&:hover {
		background-color: var(--color-primary-4);
	}
	&:active {
		background-color: var(--color-primary-5);
	}
}


.modal.mod-community-theme .theme-list .community-theme {
	body .modal.mod-publish .publish-changes-info button.publish-changes-add-linked-btn,
	& button.mod-cta {
		color: var(--text-normal);
		@include button-m;
		outline: 1px solid transparent;
	}
	&:hover button.mod-cta {
		background-color: var(--color-primary-3);
	}
	&:hover button.mod-cta:hover {
		background-color: var(--color-primary-4);
	}
	&:hover button.mod-cta:active {
		background-color: var(--color-primary-5);
	}
}

/* Sort, Selected icons*/
.modal.mod-community-plugin .setting-item-control button.clickable-icon,
.modal.mod-community-theme .setting-item-control button.clickable-icon {
	color: var(--text-faint);
	@include button-s;
	background-color: var(--background-primary);
	margin-left: 0;
}

// Publish Page buttons
.modal.mod-publish button:not(.mod-cta):not(.mod-warning) {
	color: var(--color-primary-2);
	@include button-l;
	background-color: var(--color-hover);
}

//Community Plugins Modal buttons

.modal.mod-settings .setting-item-control button:not(.mod-cta):not(.mod-warning):not(.pcr-button),
.modal.mod-community-plugin .community-plugin-info p button:not(.mod-cta):not(.mod-warning) {
	color: var(--text-normal);
	@include button-l;
	background-color: var(--color-primary-2);

	&:hover {
		background-color: var(--color-primary-3);
	}
	&:active {
		background-color: var(--color-primary-4);
	}
}