
@use 'var';

@mixin button-l {
	border-radius: 4px;
	padding: 7px 39px 7px 15px; //take 1px from every side for the border
	font-size: var(--font-scale-00);
	font-weight: var(--font-regular);
	font-family: var(--font-ui);
	//border: 1px solid rgba(var(--rgb-primary-10), .2);
	//box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset,
	//0px 2px 4px 0px rgb(0 0 0 / 20%);
	//text-shadow: 0 .5px 0px rgba(var(--rgb-primary-10), .3);
}
@mixin button-m {
	border-radius: 0px;
	padding: var.$size-2
			 var.$size-5
			 var.$size-2
			 var.$size-5;
	font-size: var(--font-scale-00);
	font-weight: var(--font-regular);
	font-family: var(--font-ui);
	//border: 1px solid rgba(var(--rgb-primary-10), .2);
	//box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset,
	//0px 2px 4px 0px rgb(0 0 0 / 20%);
}

@mixin button-s { // for sort icons, etc
	border-radius: 3px;
	padding: var.$size-2
			 var.$size-2
			 var.$size-0
			 var.$size-2;
	font-size: var(--font-scale-00);
	font-weight: var(--font-regular);
	font-family: var(--font-ui);
	//border: 1px solid rgba(var(--rgb-primary-10), .2);
	//box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset,
	//0px 2px 4px 0px rgb(0 0 0 / 20%);
}

button.mod-warning {
	background-color: var(--background-modifier-error);
	color: var(--background-primary);
	text-shadow: 0 -1px rgba(0 0 0 / .3);
	box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset;
	@include button-l;
	
	&:hover {
		filter: brightness(.95);
	}
	&:active {
		text-shadow: none;
		box-shadow: 0px -1px 0px 0px rgba(8 8 8 / 0.2) inset,
					0px 1px 0px 0px rgba(245 243 240 / 0.35) inset;
	}
}

button.mod-cta {
	color: var(--background-primary);
	@include button-l;
	background-color: rgba(var(--color-accent-l) / 1);
	border: 1px solid rgba(var(--color-accent-l) / 1);
	text-shadow: 0 -1px rgba(0 0 0 / .3);
	box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset;

	&:hover {
		background-color: rgba(var(--color-accent-l) / .9);
	}
	&:active {
		background-color: rgba(var(--color-accent-l) / 1);
		text-shadow: none;
		box-shadow: 0px -1px 0px 0px rgba(8 8 8 / 0.2) inset,
					0px 1px 0px 0px rgba(245 243 240 / 0.35) inset;
	}
	.theme-dark & {
		font-weight: var(--font-medium);
		color: var(--color-primary-10);
		background-color: rgba(var(--color-accent-d) / 1);
		border: 1px solid rgba(var(--color-accent-d) / 1);

		&:hover {
			background-color: rgba(var(--color-accent-d) / .9);
		}
		&:active {
			background-color: rgba(var(--color-accent-d) / 1);
		}
	}
}

/* Sort, Selected icons*/
.modal.mod-community-plugin .setting-item-control button.clickable-icon,
.modal.mod-community-theme .setting-item-control button.clickable-icon {
	color: var(--text-muted);
	@include button-s;
	background-color: var(--color-primary-2);
	padding: 2px 4px;
	border: 1px solid var(--color-primary-3);
	box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.1) inset;
	line-height: .9;

	&:hover {
		filter: brightness(.95);
	}
	&:active {
		background-color: var(--color-primary-2);
		text-shadow: none;
		box-shadow: 0px -1px 0px 0px rgba(8 8 8 / 0.2) inset,
					0px 1px 0px 0px rgba(245 243 240 / 0.35) inset;
	}

	.theme-dark & {
		box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset;
	}
}

// Publish Page buttons
.modal.mod-publish button:not(.mod-cta):not(.mod-warning) {
	color: var(--color-primary-2);
	@include button-l;
	background-color: var(--color-hover);
}

//Community Plugins Modal buttons

.modal.mod-settings .setting-item-control button:not(.mod-cta):not(.mod-warning):not(.pcr-button),
.modal.mod-community-plugin .community-plugin-info p button:not(.mod-cta):not(.mod-warning) {
	color: var(--text-normal);
	@include button-l;
	background-color: var(--color-primary-2);
	border: 1px solid var(--color-primary-3);
	text-shadow: 0 -1px rgba(254 254 254 / .3);
	box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.1) inset;

	&:hover {
		filter: brightness(.95);
	}
	&:active {
		background-color: var(--color-primary-2);
		text-shadow: none;
		box-shadow: 0px -1px 0px 0px rgba(8 8 8 / 0.2) inset,
					0px 1px 0px 0px rgba(245 243 240 / 0.35) inset;
	}

	.theme-dark & {
		box-shadow: 0px -2px 0px 0px rgba(8 8 8 / 0.2) inset;
	}
}