@use 'var';

.modal.mod-community-plugin {
	height: 70%;
	max-width: unset;
}

.community-plugin-info {
	overflow-y: auto;
	padding: var.$size-7
			 var.$size-8
			 var.$size-6
			 var.$size-3;
}

.community-plugin-search {
	& .search-input-container input {
		padding-left: var.$size-3;
		width: 200px;
	}
	& .setting-item-control button {
		margin-left: var.$size-3;
		margin-right: var.$size-9;
		padding: var.$size-2
				 var.$size-3
				 var.$size-1;
	}
}

.community-plugin-search-summary { //"showing x plugins:"
	color: var(--text-faint);
	font-size: var.$font-scale-00;
}

.community-plugin-item {
	padding-top: 0.5rem;
	padding-bottom: .5rem;
	padding-left: var.$size-5; // removed 3px to make up for border
	margin: var.$size-0;
	margin-left: var.$size-0;
	border-left: 1.5px solid transparent;

	&:hover {
		border-left: 1.5px solid var(--color-accent);
		background-color: var(--background-primary); // color of hovered item in theme style
	}
}

div.community-plugin-item .community-plugin-author,
div.community-plugin-item .community-plugin-desc,
div.community-plugin-item .community-plugin-version {
	font-size: var.$font-scale-000;
	line-height: var.$leading-0;
	color: var(--text-muted);
}

.community-plugin-author,
.community-plugin-version {
	font-style: italic;
}

// text formatting of "Showing x plugins"
.community-plugin-search-summary.u-muted {
	font-weight: 500;
	padding-left: 1rem;
}

.community-plugin-name {
	line-height: var.$leading-2;
	font-size: var.$font-scale-00;
	font-weight: var(--font-medium);

	& .flair.mod-pop {
		top: var.$size-2;
		background-color: var.$color-green-5;
	}
}

.community-plugin-info .community-plugin-readme {
	overflow-y: visible;
	height: auto;
	padding: var.$size-0
			 var.$size-0;
}
