@use 'var';

.modal.mod-community-plugin {
	height: 70%;
	max-width: unset;
}

.community-plugin-info {
	overflow-y: auto;
	padding: var.$size-7
			 var.$size-8
			 var.$size-6
			 var.$size-3;
}

.community-plugin-search {
	& .search-input-container input {
		padding-left: var.$size-3;
		width: 200px;
	}
	& .setting-item-control button {
		margin-left: var.$size-3;
		margin-right: var.$size-9;
		padding: var.$size-2
				 var.$size-3
				 var.$size-1;
	}
}

.community-plugin-item {
	padding-top: 0.5rem;
	padding-bottom: .5rem;
	padding-left: var.$size-5; // removed 3px to make up for border
	margin: var.$size-0;
	margin-left: var.$size-0;
	border-left: 3px solid transparent;

	&:hover {
		border-left: 3px solid var(--color-accent);
		background-color: var(--background-primary); // color of hovered item in theme style
	}
}

div.community-plugin-item .community-plugin-author,
div.community-plugin-item .community-plugin-desc,
div.community-plugin-item .community-plugin-version {
	font-size: var.$font-scale-000;
	line-height: var.$leading-0;
	color: var(--text-muted);
}

.community-plugin-author,
.community-plugin-version {
	font-style: italic;
}

// text formatting of "Showing x plugins"
.community-plugin-search-summary.u-muted {
	font-weight: 500;
	padding-left: 1rem;
}

.community-plugin-name {
	line-height: var.$leading-2;
	font-size: var.$font-scale-00;
	font-weight: var(--font-medium);

	& .flair.mod-pop {
		top: var.$size-2;
		background-color: var(--color-primary-20);
	}
	&::before { // checkmark next to plugin named
		content: "☐0";
		color: transparent;
		background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' fill='hsl(61.3, 41.1%, 45.3%)' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; %7D %3C/style%3E%3C/defs%3E%3Cpolygon points='13 24 4 15 5.414 13.586 13 21.171 26.586 7.586 28 9 13 24'/%3E%3Crect id='_Transparent_Rectangle_' data-name='&lt;Transparent Rectangle&gt;' class='cls-1' width='32' height='32'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: var.$scale-2 var.$scale-2;
		background-position: center center;
		top: var.$size-2;
		margin-right: var.$size-2;
	}
}

.community-plugin-info .community-plugin-readme {
	overflow-y: visible;
	height: auto;
	padding: var.$size-0
			 var.$size-0;
}
