@use 'var';

.modal.mod-community-plugin {
	height: 70%;
	max-width: unset;
}

.community-plugin-info {
	overflow-y: auto;
	padding: 32px
			 40px
			 24px
			 8px;
}

.community-plugin-search {
	& .search-input-container input {
		padding-left: 8px;
		width: 200px;
	}
	& .setting-item-control button {
		margin-left: 8px;
		margin-right: 48px;
		padding: 4px
				 8px
				 2px;
	}
}

.community-plugin-search-summary { //"showing x plugins:"
	color: var(--text-faint);
	font-size: var(--font-scale-00);
}

.community-plugin-item {
	padding-top: 0.5rem;
	padding-bottom: .5rem;
	padding-left: 16px; // removed 3px to make up for border
	margin: 0px;
	margin-left: 0px;
	border-left: 1.5px solid transparent;

	&:hover {
		border-left: 1.5px solid var(--color-accent);
		background-color: var(--background-primary); // color of hovered item in theme style
	}
}

div.community-plugin-item .community-plugin-author,
div.community-plugin-item .community-plugin-desc,
div.community-plugin-item .community-plugin-version {
	font-size: var(--font-scale-000);
	line-height: var(--leading-0);
	color: var(--text-muted);
}

.community-plugin-author,
.community-plugin-version {
	font-style: italic;
}

// text formatting of "Showing x plugins"
.community-plugin-search-summary.u-muted {
	font-weight: 500;
	padding-left: 1rem;
}

.community-plugin-name {
	line-height: var(--leading-2);
	font-size: var(--font-scale-00);
	font-weight: var(--font-medium);

	& .flair.mod-pop {
		margin-left: -2px;
		top: 4px;
		color: transparent;
		background: none;

		&::before { // checkmark next to plugin named ✓
			content: "☐0";
			color: transparent;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='hsl(60.7, 41%, 39.2%)' width='32' height='32'%3E%3Cpath d='m14 21.414-5-5.001L10.413 15 14 18.586 21.585 11 23 12.415l-9 8.999z'/%3E%3Cpath d='M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2Zm0 26a12 12 0 1 1 12-12 12 12 0 0 1-12 12Z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 14px 14px;
			background-position: center 70%;
			margin-left: 0px;
		}
	}
}

.community-plugin-info .community-plugin-readme {
	overflow-y: visible;
	height: auto;
	padding: 0px
			 0px;
}
