@use 'var';

select.dropdown {
	appearance: none;
	font-family: var(--font-ui);
	font-size: var.$font-scale-00;
	color: var(--text-normal);
	line-height: var.$leading-2;
	padding: var.$size-2 var.$size-6 var.$size-2 var.$size-5;
	max-width: 100%;
	box-sizing: border-box;
	margin: var.$size-0;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid var(--color-primary-5);
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E%0A");
	background-size: var.$scale-2
					 var.$scale-2;
	background-position: right 0.6em top 50%, 0 0;
	background-color: var(--color-primary-2);
	transition: var.$duration-fast-2 var.$motion-entrance-productive;
	cursor: pointer;

	.theme-dark & { // text normal colour
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='icon' fill='hsl(0, 0%, 99.6%)' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E%0A");
	}
	&:hover {
		background-color: var(--color-primary-3);
	}
	&:focus {
		border-color: transparent;
		outline: 1px solid var.$color-blue-5;
		background-color: var(--color-primary-2);
	}
}

select.dropdown option {
	appearance: none;
	font-weight: normal;
	border-radius: 0;
	background-color: var(--color-primary-2);
}