@use 'var';

/* ────────────────────────────────── Bold ────────────────────────────────── */
.cm-s-obsidian .cm-strong,
.markdown-preview-section strong,
strong { /* Bold */
    font-style: normal;
    color: currentColor;
    font-weight: var.$font-bold;
}
/* ───────────────────────────────── Italic ───────────────────────────────── */
.cm-em,
em {  /* Italic */
    font-style: italic;
    font-weight: var.$font-light;
}

/* ──────────────────────── Highlighting & Selection ──────────────────────── */
// highlight active line
.CodeMirror-activeline .CodeMirror-linebackground {
	background-color: var(--color-primary-20);
}
// highlight active line number + gutter
.CodeMirror-activeline-gutter {
    background-color: var(--color-primary-20);
}
// accent color active line highlight
.accent-active-line .CodeMirror-activeline .CodeMirror-linebackground {
    background-color: hsla(var(--color-l-accent-h),var(--color-l-accent-s),var(--color-l-accent-l),.35);
}
.accent-active-line .CodeMirror-activeline-gutter {
    background-color: hsla(var(--color-l-accent-h),var(--color-l-accent-s),var(--color-l-accent-l),.35);
}

// ───────────────────────────── text selection ───────────────────────────── */
// for text selection, check the --text-selection custom property in _var

/* ──────────────────────── Multi-Color Highlighting ──────────────────────── */

/* ───────────────── Yellow Highlight (Regular highlight 1) ───────────────── */
.cm-s-obsidian span.cm-formatting-highlight,
 .cm-s-obsidian span.cm-highlight {
    background-color: unset;
}
.markdown-preview-view mark {
    overflow: hidden;
    background-color: transparent;
    padding: 0 2px;
    vertical-align: middle;
}
.markdown-preview-view mark,
 span.cm-highlight {
    font-weight: normal;
    color: var(--text-normal);
    background-color: transparent;
    background-image: linear-gradient(120deg,var(--color-highlight-1),var(--color-highlight-1));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: background var.$duration-slow-1 var.$motion-entrance-productive;
}
.markdown-preview-view mark:hover,
 span.cm-highlight:hover {
    background-size: 100% 100%;
    color: var(--color-highlight-1-h);
}

/* ──────────────────────────── Cyan Highlight 2 ──────────────────────────── */

.markdown-preview-view em > mark,
 span.cm-em.cm-highlight {
    font-style: normal;
    font-weight: normal;
    background-image: linear-gradient(120deg,var(--color-highlight-2),var(--color-highlight-2));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: background var.$duration-slow-1 var.$motion-entrance-productive;
}
.markdown-preview-view em > mark:hover,
 span.cm-em.cm-highlight:hover {
    background-size: 100% 100%;
    color: var(--color-highlight-2-h);
}

/* ─────────────────────────── Magenta Highlight 3 ────────────────────────── */
.markdown-preview-view strong > mark,
 span.cm-strong.cm-highlight {
    font-weight: normal;
    background-image: linear-gradient(120deg,var(--color-highlight-3),var(--color-highlight-3));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
    transition: background var.$duration-slow-1 var.$motion-entrance-productive;
}
.markdown-preview-view strong > mark:hover,
 span.cm-strong.cm-highlight:hover {
    background-size: 100% 100%;
    color: var(--color-highlight-3-h);
}

/* ────────────────────────────── Strikethrough ───────────────────────────── */
.cm-strikethrough,
del {
    text-decoration: line-through;
}