@use 'var';

/* ──────────────────────────────── Flashing ──────────────────────────────── */
.is-flashing {
	transition: background-color 1s ease;
	background-color: var(--text-highlight-bg);
	color: var(--text-normal);
	border-radius: 4px;
}

/* ────────────────────────────────── Bold ────────────────────────────────── */
.cm-s-obsidian .cm-strong,
.markdown-preview-section strong,
strong { /* Bold */
	font-style: normal;
	font-weight: var(--font-bold);
}
/* ───────────────────────────────── Italic ───────────────────────────────── */
.cm-em,
em {  /* Italic */
	font-style: italic;
	font-weight: var(--font-regular);
}

/* ──────────────────────── Highlighting & Selection ──────────────────────── */
// highlight active line
body:not(.active-line-hl) .cm-active.cm-line,
body:not(.active-line-hl) .CodeMirror-activeline .CodeMirror-linebackground {
	position: relative;
	background-color: var(--color-primary-2);
}

.is-mobile .cm-active.cm-line,
.is-mobile .CodeMirror-activeline .CodeMirror-linebackground {
	position: unset;
}

/* Focus Mode
.cm-line:not(.cm-active.cm-line) {
	opacity: .5;
}*/

// accent color active line highlight
.accent-active-line .cm-active.cm-line,
.accent-active-line .CodeMirror-activeline .CodeMirror-linebackground {
	background-color: hsla(var(--color-l-accent-h),var(--color-l-accent-s),var(--color-l-accent-l),.3);
}
.theme-dark.accent-active-line .cm-active.cm-line,
.theme-dark.accent-active-line .CodeMirror-activeline .CodeMirror-linebackground {
	background-color: hsla(var(--color-d-accent-h),var(--color-d-accent-s),var(--color-d-accent-l),.3);
}

// ───────────────────────────── text selection ───────────────────────────── */
// for text selection, check the --text-selection custom property in _var

/* ──────────────────────── Multi-Color Highlighting ──────────────────────── */

/* ───────────────── Yellow Highlight (Regular highlight 1) ───────────────── */
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
	background-color: unset;
}
.markdown-preview-view mark {
	overflow: hidden;
	background-color: transparent;
	padding: 0 2px;
	vertical-align: middle;
}

body:not(.is-mobile) {
	& .markdown-preview-view mark,
	& span.cm-highlight {
		font-weight: var(--font-regular);
		color: var(--text-normal);
		background-color: transparent;
		background: linear-gradient(120deg,var(--color-highlight-1),var(--color-highlight-1));
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size: calc(100% - 4px) 8px;
		transition: background var.$duration-moderate-2 var.$motion-entrance-productive;

		&:hover {
			background-size: calc(100% - 4px) 100%;
			background-position: 50% 100%;
			color: var(--color-highlight-1-h);
		}
	}
	& span.cm-highlight {
		background-size: 100% 8px;
		&:hover {
			background-size: 100% 100%;
		}
	}
}

body.is-mobile {
	& .markdown-preview-view mark,
	& span.cm-highlight {
		font-weight: var(--font-regular);
		color: var(--text-normal);
		text-decoration: underline solid var(--color-highlight-1) 8px;
		text-decoration-skip-ink: none;
		text-underline-offset: -7px;
		background-color: transparent;
	}
}

/* ──────────────────────────── Cyan Highlight 2 ──────────────────────────── */

body:not(.is-mobile) {
	& .markdown-preview-view em > mark,
	& span.cm-em.cm-highlight {
		font-style: normal;
		font-weight: var(--font-regular);
		color: var(--text-normal);
		background-color: transparent;
		background: linear-gradient(120deg,var(--color-highlight-2),var(--color-highlight-2));
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size: calc(100% - 4px) 8px;
		transition: background var.$duration-moderate-2 var.$motion-entrance-productive;

		&:hover {
			background-size: calc(100% - 4px) 100%;
			background-position: 50% 100%;
			color: var(--text-normal);
		}
	}
	& span.cm-em.cm-highlight {
		background-size: 100% 8px;
		&:hover {
			background-size: 100% 100%;
		}
	}
}
body.is-mobile {
	& .markdown-preview-view em > mark,
	& span.cm-em.cm-highlight {
		font-style: normal;
		font-weight: var(--font-regular);
		color: var(--text-normal);
		text-decoration: underline solid var(--color-highlight-2) 8px;
		text-decoration-skip-ink: none;
		text-underline-offset: -7px;
		background-color: transparent;
	}
}
/* ─────────────────────────── Magenta Highlight 3 ────────────────────────── */
body:not(.is-mobile) {
	& .markdown-preview-view strong > mark,
	& span.cm-strong.cm-highlight {
		font-weight: var(--font-regular);
		font-weight: var(--font-regular);
		color: var(--text-normal);
		background-color: transparent;
		background: linear-gradient(120deg,var(--color-highlight-3),var(--color-highlight-3));
		background-position: 50% 100%;
		background-repeat: no-repeat;
		background-size: calc(100% - 4px) 8px;
		transition: background var.$duration-moderate-2 var.$motion-entrance-productive;

		&:hover {
			background-size: calc(100% - 4px) 100%;
			background-position: 50% 100%;
			color: var(--text-normal);
		}
	}
	& span.cm-strong.cm-highlight {
		background-size: 100% 8px;
		&:hover {
			background-size: 100% 100%;
		}
	}
}
body.is-mobile {
	& .markdown-preview-view strong > mark,
	& span.cm-strong.cm-highlight {
		font-style: normal;
		font-weight: var(--font-regular);
		color: var(--text-normal);
		text-decoration: underline solid var(--color-highlight-3) 8px;
		text-decoration-skip-ink: none;
		text-underline-offset: -7px;
		background-color: transparent;
	}
}
/* ────────────────────────────── Strikethrough ───────────────────────────── */
.cm-strikethrough,
del {
	text-decoration: line-through;
}

/* ────────────────────────── Spell Check highlight ───────────────────────── */
.CodeMirror .cm-spell-error {
	background-image: none;
	text-decoration: underline solid var(--color-red-5);
	text-decoration-thickness: 2px;
}