@use 'var';

.graph-view.color {
	// color of nodes
	&-fill {
		color: var(--color-primary-70);

		&-focused {
			color: var(--color-fill-focused);
		}
		.theme-dark &-tag,
		.theme-light &-tag {
			color: var(--color-fill-tag);
		}
		.theme-light &-attachment,
		.theme-dark &-attachment {
			color: var(--color-fill-attachment);
		}
		&-highlight { // focused node colour
			color: var(--color-green);
		}
		&-unresolved {
			color: var(--background-modifier-error);
			opacity: 1;
		}
	}
	// focused node border color
	&-circle {
	    color: var(--color-primary-70);
	}
	&-line {
		.theme-light &,
		.theme-dark & {
		    color: var(--color-primary-40);
		    opacity: .5;
		}
		// focused node connections
		&-highlight {
		    color: var(--color-primary-70);
		}
	}
	&-arrow {
	    color: var(--color-primary-70);
	    opacity: 1;
	}
	&-text {
	    color: var(--text-muted);
	}
}

.graph-controls {
	border-color: var(--color-border-1);

	.theme-light & {
		background-color: var(--background-primary);
		transition: var.$duration-fast-1 var.$motion-standard-expressive;
	}
	.theme-light & {
		background: hsla(34.3, 21.2%, 93.5%, .9);
	}
	.theme-dark &:not(.tree-item-self) {
		background-color: hsla(0, 0%, 7.8%, .9);
	}
	&.is-close {
		min-width: inherit;
		background-color: var(--background-primary);
		//border: 1px solid var(--color-border-1);
		padding: var.$size-3
				 var.$size-3
				 var.$size-3
				 var.$size-3;
	}
	&.is-close:hover {
	//box-shadow: var.$elevation-1;
	}
	&:not(.graph-controls.is-close) {
		box-shadow: var.$elevation-1;
	}
	&::-webkit-scrollbar-thumb {
		border-width: 3px;
		&:hover {
			border-width: 2px;
		}
	}
}