@use 'var';

// Restrict image size in Preview Mode
.workspace-leaf-content img:not([width]),
.view-content .markdown-preview-view img {
	max-width: 100%; // value relative to note width
}

// Desaturate images
.markdown-preview-view img:not(.link-favicon) {
	opacity: 0.75;
	transition: opacity var(--duration-slow-1) var(--motion-exit-expressive);
}

.workspace-leaf-content img:not([width]):hover,
.markdown-preview-view img:hover {
	opacity: 1;
	transition: opacity var(--duration-slow-1) var(--motion-entrance-expressive);
}

.markdown-preview-view img.link-favicon {
	padding-right: 4px;
}
