@use 'var';

// Link alias
.cm-s-obsidian span.cm-link {
    color: var(--text-normal);
}
// Link url
.cm-s-obsidian span.cm-string.cm-url {
    color: var(--text-faint);
	opacity: 1;
    font-family: var(--font-editor);
    font-size: var.$font-scale-0;
}

/* ───────────────────────────── External Links ───────────────────────────── */
.external-link {
    word-break: break-all;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg id='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; %7D %3C/style%3E%3C/defs%3E%3Cpath d='M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z'/%3E%3Cpolygon points='20 2 20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2'/%3E%3Crect id='_Transparent_Rectangle_' data-name='&lt;Transparent Rectangle&gt;' class='cls-1' width='32' height='32'/%3E%3C/svg%3E%0A");
    background-size: 13px;
    padding-right: var.$size-5;
    background-position-y: 5px;
    text-decoration: none;

    .theme-dark & {
        background-image: url("data:image/svg+xml,%3Csvg id='icon' fill='white' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; %7D %3C/style%3E%3C/defs%3E%3Cpath d='M26,28H6a2.0027,2.0027,0,0,1-2-2V6A2.0027,2.0027,0,0,1,6,4H16V6H6V26H26V16h2V26A2.0027,2.0027,0,0,1,26,28Z'/%3E%3Cpolygon points='20 2 20 4 26.586 4 18 12.586 19.414 14 28 5.414 28 12 30 12 30 2 20 2'/%3E%3Crect id='_Transparent_Rectangle_' data-name='&lt;Transparent Rectangle&gt;' class='cls-1' width='32' height='32'/%3E%3C/svg%3E%0A");
    }
    &:hover {
        color: var(--text-accent);
        text-decoration: underline solid currentColor 1.5px;
    }
}

.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-url, // regular external link
.cm-s-obsidian span.cm-formatting-link.cm-link { // [alias](external link)
    color: var(--text-accent);
    text-decoration: none;
}

.cm-s-obsidian span.cm-url:hover,
.cm-s-obsidian span.cm-formatting-link.cm-link:hover {
    color: var(--text-accent);
    text-decoration: underline solid currentColor 1.5px;
}

/* ───────────────────────────── Internal Links ───────────────────────────── */
.markdown-preview-view .internal-link {
    text-decoration: underline solid transparent 1.5px;

    &:hover {
        color: var(--text-accent);
        text-decoration: underline solid currentColor 1.5px;
    }
    &:active {
        color: var(--color-blue);
        text-decoration: underline solid currentColor 1.5px;
    }
}

.cm-s-obsidian span.cm-hmd-internal-link {
    color: var(--text-accent);
    text-decoration: underline solid transparent 1.5px;
    cursor: pointer;
}

/* ──────────────────────────── Unresolved Links ──────────────────────────── */
// Internal link to uncreated note
.markdown-preview-view .internal-link.is-unresolved {
    opacity: 0.5;
}