@use 'var';

ul li::marker,
ol li::marker {
	font-weight: var(--font-regular);
	font-size: var.$font-scale-0;
	color: var(--text-normal);
	font-family: var(--font-sans); // not font-preview, because otherwise it will change
	font-variant-numeric: tabular-nums;
}

li::marker {
	color: inherit;
	-webkit-font-smoothing: auto;
}

.markdown-preview-view {
	& ol li p {
		margin: 0;
	}
	& ol li,
	& ul li {
		line-height: var.$leading-4; //adds white space to lists, and makes it match task lists
		margin: 4px 0;
	}
	
	& .list-collapse-indicator { // generic ul and task list
		margin-left: -3rem;
		color: var(--text-faint);
	}
	& ol li .list-collapse-indicator { // ol under 10
		margin-left: -3rem;
	}
	& ol li:nth-child(n+10) ol ol li:nth-child(n+10) .list-collapse-indicator, // ol over 10
	& ol li:nth-child(n+10) .list-collapse-indicator {
		margin-left: -3rem;
	}
	& ol li:nth-child(n+10) ol .list-collapse-indicator {
		margin-left: -3rem;
	}
	.relationship-lines & {
		& ol .list-collapse-indicator,
		& ul ol .list-collapse-indicator,
		& ol ul ol .list-collapse-indicator,
		& ul ol ol .list-collapse-indicator { // generic ol
		margin-left: -2.5em;
		}
		& ul .list-collapse-indicator,
		& ol ul .list-collapse-indicator,
		& ul ol ul .list-collapse-indicator,
		& ol ul ul .list-collapse-indicator { // generic ul
		margin-left: -2.45em;
		}
		& ul li.task-list-item > .list-collapse-indicator { //tasks
			margin-left: -2.8em;
		}
	}
}

/* ────────────────────────────── Ordered List ────────────────────────────── */

ol,
ol ol ol,
ol ol ol ol ol,
ol ol ol ol ol ol ol {
	margin-left: var.$size-0;
	list-style-type: decimal;
}

ol ol,
ol ol ol ol,
ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol {
	margin-left: var.$size-0;
	list-style-type: lower-alpha;
}

/* ───────────────────────────── Unordered List ───────────────────────────── */
ul {
	padding-inline-start: 1.5rem;
	list-style-position: outside;
}

ul,
ul ul ul,
ul ul ul ul ul,
ul ul ul ul ul ul ul,
ol ul, // making sure that even if you indent an ul inside an ol, it will display the correct list-style-type
ul ol ul,
ol ol ul,
ol ul ol ul,
ol ul ul ul,
ul ol ul ul ul {
	list-style-type: '–\2009\2009'; // "\2009" stands for thin space
	margin: var.$size-0;
	padding: var.$size-0;
	padding-left: 1.5rem;
}

ul ul,
ul ul ul ul,
ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul,
ol ul ul,
ol ol ul ul,
ul ol ul ul,
ol ul ol ul ul,
ul ol ol ul ul {
	list-style-type: '▪  '; // don't set it as square, because it will misalign
	padding: var.$size-0;
	padding-left: 1.5rem;
}
/*
ul,
ul ul ul,
ul ul ul ul ul,
ul ul ul ul ul ul ul,
ol ul, // making sure that even if you indent an ul inside an ol, it will display the correct list-style-type
ul ol ul,
ol ol ul,
ol ul ol ul,
ol ul ul ul,
ul ol ul ul ul {
	list-style-type: disc;
}

ul ul,
ul ul ul ul,
ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul,
ol ul ul,
ol ol ul ul,
ul ol ul ul,
ol ul ol ul ul,
ul ol ol ul ul {
	list-style-type: circle;
}*/

ol {
	padding-inline-start: 1.5em;
	list-style-position: outside;
}

li {
	margin-bottom: 4px; // adds a bit more spacing to lists
}

.cm-s-obsidian .HyperMD-list-line {
	padding-top: 0; // avoids weird disalignment with line numbers
}

/* ─────────────────────────── Relationship Lines ─────────────────────────── */
/*
.relationship-lines li:not(.task-list-item):not(.footnotes li) {
	padding-left: .2rem;
	border-left: 1.5px solid var(--color-primary-2);
}

.relationship-lines-alternating {
	& li:not(.task-list-item):not(.footnotes li) {
		padding-left: .2rem;
		border-left: 1.5px solid var(--color-primary-2);
	}

	& li:nth-child(even):not(.task-list-item):not(.footnotes li) {
		padding-left: .2rem;
		border-left: 1.5px solid var(--color-primary-4);
	}
}*/

/* ────────────────────────── New Relationship Lines ───────────────────────── */
/*
.relationship-lines ul {
	list-style-type: none;
}

ul li {
	position: relative;
	margin-bottom: 0;
}

.relationship-lines ul > li:before {
	content: "";
}

// level 2
.relationship-lines ul > li > ul > li::before {
	position: absolute;
	display: block;
	content: "";
	height: 100%;
	width: 1px;
	top: 1px;
	left: -24px;
	background-color: var(--text-faint);
}

.relationship-lines ul > li > ul > li::after {
	position: absolute;
	display: block;
	content: "";
	height: 1px;
	width: 12px;
	top: 12px;
	left: -24px;
	background-color: var(--text-faint);
}

.relationship-lines ul > li > ul > li:last-child:before {
	position: absolute;
	display: block;
	content: "";
	height: 15px;
	width: 1px;
	top: -3px;
	left: -24px;
	background-color: var(--text-faint);
}

.relationship-lines ul > li > ul > li:last-child:after {
	position: absolute;
	display: block;
	content: "";
	height: 1px;
	width: 12px;
	top: 12px;
	left: -24px;
	background-color: var(--text-faint);
}*/

/* Relationship lines in Reading View */

.relationship-lines {

	& ul > li,
	& ol > li {
	position: relative;
	}
	& ol,
	& ul {
		position: relative;
	}
	& .markdown-preview-view ul ul,
	& .markdown-preview-view ol ol {
		position: relative;
	}
	& ul > li::before,
	& ol > li::before {
		position: absolute;
		content: "";
		border-left: 1px solid var(--text-faint);
		opacity: .7;
		height: calc(100% - 2em);
		margin-left: -.65em;
		top: 1.5em;
	}
	& ol > li::before { // Ordered Lists
		margin-left: -.8em;
	}
	& :not(.admonitions) ul > li.task-list-item::before,
	& :not(.admonitions) ol > li.task-list-item::before { //task lists, no admonitions
		left: -.1em;
	}
	& .admonitions ul > li.task-list-item::before,
	& .admonitions ol > li.task-list-item::before { //task lists, admonitions
		left: -.4em;
	}
	& ul ul::before,
	& ol ol::before {
		content: "";
		position: absolute;
	}
}

:root {
	--rel-line-width: 3.05ch;
}

/* Relationship Lines in Editing View */
body:not(.relationship-lines) {
	& .mod-cm6.is-live-preview .HyperMD-list-line.cm-line {
		overflow: hidden;
	}
	& .mod-cm6.is-live-preview .HyperMD-list-line.cm-line .cm-hmd-list-indent {
		position: relative;
		font-family: 'IBM Plex Sans';
		font-size: calc(var(--editor-font-size) + 9px);
		padding-right: 0px;
	}
	& .mod-cm6.is-live-preview .HyperMD-list-line.cm-line .cm-hmd-list-indent::before {
		content: '';
		//font-family: var(--font-mono);
		//font-size: var(--editor-font-size);
		display: block;
		position: absolute;
		width: 100%;
		top: -1.6em;
		padding-bottom: 999em;
		background-image: linear-gradient( to right, var(--text-faint) 1px, transparent 1px);
		background-size: 1.6ch 1px;
		left: 3px;
		opacity: .7;
	}
	& .mod-cm6.is-live-preview .HyperMD-list-line.cm-line > span:last-child { //adds a bit of spacing between markers and text
		padding-left: 4px;
	}
}
/* ──────────────────────────────── Outliner ──────────────────────────────── */

// Some Outliner Edit Mode Corrections 
.outliner-plugin-bls .cm-s-obsidian span span.cm-formatting-list-ul:before {
	margin-top: 0px;
}
.outliner-plugin-bls .cm-s-obsidian span.cm-formatting-list{
	letter-spacing: 0px;
}

body.outliner-plugin-bls .cm-line .cm-hmd-list-indent::before {
	content: "";
	display: block;
	position: absolute;
	background-image: linear-gradient( to right, var(--text-faint) 1px, transparent 1px );
	background-size: 2.9ch 1px;
	background-position-x: 3px;
	width: 100%;
	left: 0;
	top: -1.6em;
	padding-bottom: 999em;
}

body.outliner-plugin-bls .cm-s-obsidian:not(.is-live-preview) .cm-formatting-list-ul:before,
body.outliner-plugin-bls .cm-s-obsidian.is-live-preview .list-bullet:before {
	content: "–  ";
	font-size: 100%;
	position: absolute;
	margin-top: -1px;
	margin-left: -4px;
	color: var(--text-muted);
}

// Live Preview bullet points
.list-bullet {
	left: 0px;
}

.markdown-source-view.mod-cm6 .list-bullet::after {
	font-family: var(--font-sans);
}
.list-bullet::after {
	color:var(--text-normal);
	margin-right: 0px;
	transform: translateY(-1px); }

.markdown-source-view.mod-cm6 .cm-list-1 .list-bullet::after { content: "–\2009\2009"; }
.markdown-source-view.mod-cm6 .cm-list-2 .list-bullet::after { content: "▪  "; }
.markdown-source-view.mod-cm6 .cm-list-3 .list-bullet::after { content: "–\2009\2009"; }
.markdown-source-view.mod-cm6 .cm-list-4 .list-bullet::after { content: "▪  "; }
.markdown-source-view.mod-cm6 .cm-list-5 .list-bullet::after { content: "–\2009\2009"; }
.markdown-source-view.mod-cm6 .cm-list-6 .list-bullet::after { content: "▪  "; }
.markdown-source-view.mod-cm6 .cm-list-7 .list-bullet::after { content: "–\2009\2009"; }
.markdown-source-view.mod-cm6 .cm-list-8 .list-bullet::after { content: "▪  "; }
.markdown-source-view.mod-cm6 .cm-list-9 .list-bullet::after { content: "–\2009\2009"; }
.markdown-source-view.mod-cm6 .cm-list-10 .list-bullet::after { content: "▪  "; }

span.cm-comment .list-bullet::after { // makes bullets same colors as comments when inside them
	color: var(--text-faint);
}

//Fix collapse indicators size in LP Headings
.markdown-source-view.mod-cm6 .HyperMD-header-1 > .cm-fold-indicator {font-size: var(--heading-1);}
.markdown-source-view.mod-cm6 .HyperMD-header-2 > .cm-fold-indicator {font-size: var(--heading-2);}
.markdown-source-view.mod-cm6 .HyperMD-header-3 > .cm-fold-indicator {font-size: var(--heading-3);}
.markdown-source-view.mod-cm6 .HyperMD-header-4 > .cm-fold-indicator {font-size: var(--heading-4);}
.markdown-source-view.mod-cm6 .HyperMD-header-5 > .cm-fold-indicator {font-size: var(--heading-5);}
.markdown-source-view.mod-cm6 .HyperMD-header-6 > .cm-fold-indicator {font-size: var(--heading-6);}


//.markdown-source-view.mod-cm6 .HyperMD-list-line-1.cm-active > .cm-fold-indicator .collapse-icon,
//.markdown-source-view.mod-cm6 .HyperMD-list-line-2.cm-active > .cm-fold-indicator .collapse-icon,
//.markdown-source-view.mod-cm6 .HyperMD-list-line-3.cm-active > .cm-fold-indicator .collapse-icon,
//.markdown-source-view.mod-cm6 .HyperMD-list-line-4.cm-active > .cm-fold-indicator .collapse-icon,
//.markdown-source-view.mod-cm6 .HyperMD-list-line-5.cm-active > .cm-fold-indicator .collapse-icon,
//.markdown-source-view.mod-cm6 .HyperMD-list-line-6.cm-active > .cm-fold-indicator .collapse-icon,
//.markdown-source-view.mod-cm6 .HyperMD-list-line-7.cm-active > .cm-fold-indicator .collapse-icon,
//.markdown-source-view.mod-cm6 .HyperMD-list-line-8.cm-active > .cm-fold-indicator .collapse-icon,
//.markdown-source-view.mod-cm6 .HyperMD-list-line-9.cm-active > .cm-fold-indicator .collapse-icon,
//.markdown-source-view.mod-cm6 .HyperMD-list-line-10.cm-active > .cm-fold-indicator .collapse-icon {
//}



//.list-bullet { color: transparent; }
//.list-bullet::before { color:var(--text-normal); margin-right: -12px; }
//.HyperMD-list-line-1 .list-bullet::before { content: "–  "; }
//.HyperMD-list-line-2 .list-bullet::before { content: "▪  "; }
//.HyperMD-list-line-3 .list-bullet::before { content: "–  "; }
//.HyperMD-list-line-4 .list-bullet::before { content: "▪  "; }
//.HyperMD-list-line-5 .list-bullet::before { content: "–  "; }
//.HyperMD-list-line-6 .list-bullet::before { content: "▪  "; }
//.HyperMD-list-line-7 .list-bullet::before { content: "–  "; }
//.HyperMD-list-line-8 .list-bullet::before { content: "▪  "; }
//.HyperMD-list-line-8 .list-bullet::before { content: "–  "; }
//.HyperMD-list-line-8 .list-bullet::before { content: "▪  "; }
//
//.list-bullet,
//.list-bullet::before,
//.HyperMD-list-line-1 .list-bullet::before,
//.HyperMD-list-line-2 .list-bullet::before,
//.HyperMD-list-line-3 .list-bullet::before,
//.HyperMD-list-line-4 .list-bullet::before,
//.HyperMD-list-line-5 .list-bullet::before,
//.HyperMD-list-line-6 .list-bullet::before,
//.HyperMD-list-line-7 .list-bullet::before,
//.HyperMD-list-line-8 .list-bullet::before,
//.HyperMD-list-line-8 .list-bullet::before,
//.HyperMD-list-line-8 .list-bullet::before {
//	font-family: var(--font-sans);
//}

//id: rel-line-width
//title: Relationship Lines Spacing
//description: Leave as default if you're using the default font. If using another font, you may try the other settings. If using IBM Plex, try the 'Proportional Font Fix' option.
//type: variable-select
//default: 3.05ch
//options:
//	-
//		label: Monospaced Font Fix
//		value: 4.05ch
//	-
//		label: Default
//		value: 3.05ch
//	-
//		label: Proportional Font Fix
//		value: 1.6ch
//-