@use 'var';

.modal {
	border:none;
	background:var(--background-primary);
	border-radius: 6px;
	overflow:hidden;
	padding: var.$size-5
			 var.$size-5
			 var.$size-3;

	&-close-button {
		right: var.$size-4;
		top: var.$size-4;
	
		&:before {
			color: transparent;
			background-image: url("data:image/svg+xml,%3Csvg id='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:hsl(34.3, 21.2%25, 93.5%25);%7D.cls-2%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eclose%3C/title%3E%3Cpolygon class='cls-1' points='24 9.4 22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4'/%3E%3Crect class='cls-2' width='32' height='32'/%3E%3C/svg%3E");    background-repeat: no-repeat;
			background-size: var.$scale-3 var.$scale-3;
			background-position: center center;
		}
		.theme-light &:before {
			background-image: url("data:image/svg+xml,%3Csvg id='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23000000;%7D.cls-2%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eclose%3C/title%3E%3Cpolygon class='cls-1' points='24 9.4 22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4'/%3E%3Crect class='cls-2' width='32' height='32'/%3E%3C/svg%3E");
		}
	}
	&.mod-sync-history { //generic modal dimensions
		width: 40vw;
		min-width: 1000px;
		max-width: 40vw;
		max-height: 80vh;
	}
}

//Sync History
textarea.sync-history-content {
	margin-top: 7px;
	border-radius: 0px;
	border-color: var(--color-border-1);
}

.sync-history-list {
	& .setting-item-control div.search-input-container {
		margin: var.$size-5
				var.$size-5
				var.$size-5
				var.$size-5;
	}
	& .search-input-container .search-input-clear-button {
		margin-right: -6px;
		background-color: transparent;
	}
	&-item {
		border-left: 1.5px solid transparent;
		padding: var.$size-3
				 var.$size-5
				 var.$size-3
				 var.$size-5;

		&.is-active,
		&:hover {
			background-color: var(--background-secondary);
			border-left: 1.5px solid var(--color-accent);
		}
		&:hover {
			background-color: var(--color-hover);
		}
	}
}

