@use 'var';

.menu {
	background-color: var(--color-primary-1);
	border-radius: 4px;
	border: 1px solid var(--color-border-1);
	box-shadow: var.$elevation-1;
	position: fixed;
	z-index: var(--layer-menu);
	user-select: none;
	max-height: calc(100% - 25px);
	overflow: hidden;

	.theme-dark & {
		box-shadow: var.$elevation-2;
	}
	&-separator {
		height: var.$size-0;
		margin: var.$size-2
				var.$size-0;
		border-bottom: 1px solid var(--color-primary-1);
	}
}

.menu-item {
	&:not(.is-disabled):not(.is-label) {
		background-color: var(--color-primary-1);
		padding: var.$size-0
				 var.$size-5
				 var.$size-0
				 var.$size-5;
	}
	&:not(.is-disabled):not(.is-label):hover {
		background-color: var(--color-hover);
	}
	div.menu &:hover .menu-item-title {
		color: var(--text-normal);
	}
	&.selected .menu-item-title {
		color: var(--text-normal);
	}
}