@use 'var';

/* ──────────────── For the icon(s), check SVG Replacement ──────────────── */
.checklist-plugin-main {

	.is-mobile & button {
		width: 15%;
	}
	.is-mobile & ul {
		padding-inline-start: var.$size-0;
	}
	& button {
		margin: initial;
	}
	& p {
		margin: initial;
	}
	& ul li.classic {
		display: flex;
		align-items: center;
		background-color: var(--background-primary);
		border-radius: 0px;
		cursor: pointer;
		transition: background-color var.$duration-fast-2 var.$motion-standard-expressive;
		padding: var.$size-0;
		font-size: var.$font-scale-00;
		line-height: var.$leading-0;
		margin-bottom: var.$size-1;
	}
	& li.classic .checkbox {
		width: 16px;
		height: var.$scale-2;
		min-width: var.$scale-2;
		min-height: var.$scale-2;
		border-radius: 100%;
		padding: var.$size-1;
		margin-right: var.$size-3;
		margin-left: var.$size-0;
		position: relative;
		border: 1.5px solid var(--color-primary-40);
		border-radius: 4px;
	}
	& li.classic .checkbox:hover {
		filter: brightness(150%);
	}
	& li.classic .toggle {
		padding: var.$size-0;
		padding-left: var.$size-3;
	}
	& button:hover {
		background-color: var(--background-primary);
	}
	.theme-light & header .count {
		background: var(--color-primary-20);
		font-weight: var.$font-regular;
	}
	& header .count {  // Counter
		padding: var(--todoList-countPadding);
		background: var(--color-primary-10);
		border-radius: var.$size-7;
		font-size: var.$font-scale-000;
		font-weight: var.$font-light;
	}
	& header.group-header.page {
		margin: var(--todoList-pageMargin);
		color: var(--text-normal);
		transition: opacity var.$duration-moderate-1 var.$motion-standard-productive;
		cursor: pointer;
		font-size: var.$font-scale-0;
		font-weight: var.$font-regular;
	}
	& .header {
		margin: var(--todoList-headerMargin);
		display: flex;
		gap: var(--todoList-headerGap);
		align-items: center;
	}
	& .collapse .down {
		transform: rotate(180deg);
		transition: 0s;
	}
	& .collapse .left {
		transform: rotate(0deg);
		transition: 0s;
	}
}