@use 'var';

.admonition.admonition-plugin {
	margin: var.$size-6 var.$size-0;
	padding: 0;
	overflow: hidden;
	color: var(--text-normal);
	page-break-inside: avoid;
	background-color: var(--background-primary);
	border-left: 2px solid rgb(var(--admonition-color));
	border-radius: 4px;
	box-shadow: var.$elevation-1;
}

.admonition-content-copy {
	margin-top: 8px;
	margin-right: 4px;
	height: 20px;
	width: 20px;

	& svg {
		color: var(--text-faint);
	}
	& svg:hover {
		color: var(--text-muted);
	}
	&:active svg {
		color: var(--text-normal);
		transform: scale(.8);
	}
}

.admonition-title-content .admonition-title-icon {
	color: rgb(var(--admonition-color));
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px 8px 0 4px;
	min-width: 1em;
}

details.admonition {
	--admonition-details-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='icon' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='22,16 12,26 10.6,24.6 19.2,16 10.6,7.4 12,6 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E%0A");

	&.admonition-plugin > summary > .collapser > .handle {
		transform: rotate(90deg);
		transition: 0s;
	}
	&.admonition-plugin[open] > summary > .collapser > .handle {
		transform: rotate(270deg);
		transition: 0s;
	}
}