@use 'var';

// For the icon(s), check SVG Replacement
div.kanban-plugin {
	background-color: var(--background-primary);
}

.view-content .kanban-plugin .tag {
	border: 0px;
	background-color: var(--text-accent);
	color: var(--background-primary);
	border-radius: 30px;
}

.kanban-plugin__item-tags a.kanban-plugin__item-tag {
	background-color: rgba(var(--interactive-accent-rgb),.1);
	padding: 0px
			 4px;
	border-radius: 30px;
	margin: 0px;
}

div.kanban-plugin__lane {
	background: var(--background-primary);
	border-radius: 4px;
	padding: 4px;
	box-shadow: var(--elevation-1);
	border: 1px solid var(--color-primary-0);

	.theme-dark & {
		box-shadow: var(--elevation-2);
	}
}

.theme-dark div.kanban-plugin__lane {
	border: 1px solid var(--color-primary-1);
}

div.kanban-plugin__item {
	border: 1px solid var(--color-border-1);
}

div.kanban-plugin__item-button-wrapper {
	border-top: 1.5px solid var(--color-border-1);
	padding: 4px;
}

div.kanban-plugin__item-title-wrapper {
	background: var(--background-primary);
	display: flex;
	padding: 4px
			 8px;
}

.kanban-plugin__item-title-wrapper:hover {
	filter: brightness(.95);
}

body .kanban-plugin__lane-items.is-dragging-over {
	border: 1px solid var(--interactive-accent);
	background-color: var(--background-primary);
	box-shadow: var(--elevation-1);
}

body .kanban-plugin__grow-wrap > textarea,
body .kanban-plugin__grow-wrap:after {
	border: 1px solid var(--color-border-1);
	padding: 4px
			 8px;
	font: inherit;
	font-size: var(--font-scale-00);
	overflow: hidden;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

button.kanban-plugin__new-item-button:hover {
	color: var(--text-on-accent);
	background-color: var(--color-hover);
	border-radius: 0px;
}

textarea.kanban-plugin__item-input:focus {
	outline: 1px solid var(--color-blue);
	padding: 0px;
}

.kanban-plugin__lane .kanban-plugin__lane-header-wrapper {
	padding: 8px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	flex-grow: 0;
	border-bottom: 1.5px solid var(--color-border-1);
}

body .kanban-plugin__drag-container > .kanban-plugin__lane-wrapper > .kanban-plugin__lane {
	box-shadow: var(--elevation-2);
}

body .kanban-plugin__drag-container > .kanban-plugin__item-wrapper > .kanban-plugin__item {
	box-shadow: var(--elevation-2);
}

.kanban-wrap .kanban-plugin__board.kanban-plugin__board > div {
	display: grid;
	grid-template-columns: repeat(auto-fit, var(--lane-width));
	width: 100%;
	gap: 12px;
	overflow: auto;
}

.kanban-plugin__markdown-preview-view code {
	font-size: var(--font-scale-00);
}

body .kanban-plugin__markdown-preview-view {
	font-family: var(--font-preview);
	font-size: var(--font-size-00);
	line-height: 1.5em;
	padding: unset;
	width: unset;
	height: unset;
	position: unset;
	overflow-y: hidden;
	overflow-wrap: unset;
	color: unset;
	user-select: unset;
	-webkit-user-select: unset;
}

body .kanban-plugin__markdown-preview-view > div > * {
	overflow-x: visible;
	overflow-wrap: break-word;
}