@use 'var';

.popover.hover-popover {
	position: absolute;
	border-radius: 4px;
	animation: var(--duration-fast-2) var(--motion-standard-productive);
	transition: var(--motion-standard-productive);
	width: 40vw; // width of popover
	background-color: var(--background-primary);
	max-height: 40vh; // height of popover
	box-shadow: var(--elevation-1);
	border: 1px solid var(--color-border-1);
	overflow: hidden;
	padding: 8px;

	& .markdown-preview-view {
		padding-bottom: 16px;
		padding-top: 0px !important;
		padding: 24px;
		font-size: calc(var(--font-scale-0) - 0.1rem);
	}
	&.is-loaded .markdown-embed-link { //fixes link icon position
		top: 16px;
	}
}