@use 'var';

/* ────────────────────────────────── Print ───────────────────────────────── */

.print.print-preview .markdown-preview-view.show-frontmatter {
	padding: 2cm 30vw 2cm 30vw;
	width: 100%;
	z-index: 1;
	background-color: white;
	color: black;
	--editor-font-size: 12pt;
	font-size: var(--editor-font-size) !important;
}

.print.print-preview .markdown-preview-view.show-frontmatter pre.frontmatter.language-yaml {
	display: none; // not really need, but removes it from the preview
}

@media print {
	.markdown-preview-view.show-frontmatter {
		padding: 0cm 26vw 0cm 26vw;
		--editor-font-size: 12pt;
		font-size: var(--editor-font-size) !important;
		color: black;
	}
	h1 {
		font-size: 32pt;
	}
	h2 {
		font-size: 28pt;
	}
	h3 {
		font-size: 24pt;
	}
	h4 {
		font-size: 20pt;
	}
	h5 {
		font-size: 16pt;
	}
	h6 {
		font-size: 14pt;
	}
	canvas {
		box-sizing: border-box;
		width: 50vw !important;
		height: 30vw !important;
	}
	pre.frontmatter.language-yaml {
		display: none;
	}
	.aside-right {
		margin: 0;
		margin-right: -22vw;
		width: 20vw;
		break-before: page;
		break-after: avoid;
		break-inside: avoid;
	}
	.aside-left {
		width: 20vw;
		margin: 0;
		margin-left: -22vw;
		break-before: page;
		break-after: avoid;
		break-inside: avoid;
	}
	.aside-in {
		width: 40%;
		break-before: avoid;
		break-after: avoid;
		break-inside: avoid;
	}
	table {
		break-inside: avoid;
	}

	body:not(.is-mobile) .cm-scroller,
	body:not(.is-mobile) .markdown-preview-view { //shadow on reading and editing modes, credit @mgmeyers
	background: none
	}

	.markdown-preview-view img:not(.link-favicon) {
		opacity: 1;
	}

	body:not(.is-mobile) .markdown-preview-view mark {
		font-weight: var(--font-regular);
		color: var(--color-black);
		background: none;
		background-color: var(--color-highlight-1);
		font-weight: 400;
		text-decoration: none;
	}

	body:not(.is-mobile) .markdown-preview-view em > mark {
		font-style: normal;
		font-weight: var(--font-regular);
		color: var(--text-normal);
		background: none;
		background-color: var(--color-highlight-2);
		text-decoration: none;
	}

	body:not(.is-mobile) .markdown-preview-view strong > mark {
		font-weight: var(--font-regular);
		background: none;
		background-color: var(--color-highlight-3);
		color: var(--text-normal);
		text-decoration: none;
	}
}