@use 'var';

.prompt {
	padding: var.$size-5;
	box-shadow: var.$elevation-1;

	&-results {
		padding: var.$size-5
				 var.$size-0
				 var.$size-0
				 var.$size-0;
	}
	&-results span.suggestion-flair {
		left: 0px;
		transform: scale(1) translateY(4px);
	}
}

.suggestion {
	border-radius: 4px;

	&-container{ // hashtag suggestion
		border: none;
		box-shadow: var.$elevation-1;
	}
	.suggestion-container & .suggestion-item {
		position: relative;
		padding: var.$size-2
				 var.$size-5 
				 var.$size-2 
				 var.$size-7;
		cursor: pointer;
		white-space: pre-wrap;
		line-height: var.$leading-3;
	}
	.suggestion-container & .suggestion-flair {
		margin-left: -4px;
		transform: scale(.8);
		margin-top: -2px;
	}
	&-item { // prompt suggestion
		position: relative;
		padding: var.$size-3
				 var.$size-0 
				 var.$size-3 
				 var.$size-7;
		cursor: pointer;
		white-space: pre-wrap;
		line-height: var.$leading-3;
		
		& .suggestion-hotkey {
			background-color: var(--color-primary-0);
			border: 1px solid var(--color-border-1);
		}
		&:hover .suggestion-hotkey {
			border-color: var(--color-border-2);
		}
	}
	&-item:hover {
		background-color: var(--color-hover);
	}
	&-item.is-selected {
		background-color: var(--color-hover);
	}
	.prompt-results &-flair {
		left: 0px;
		transform: scale(0.8);
		padding-left: var.$size-3;
	}
	.prompt-results &-prefix {
		color: var(--color-accent);
	}
}