@use 'var';

.markdown-source-view.is-live-preview progress,
.markdown-preview-view progress {
	-webkit-writing-mode: horizontal-tb;
	writing-mode: horizontal-tb;
	appearance: none;
	box-sizing: border-box;
	display: inline-block;
	height: var.$size-2;
	width: 240px;
	border-radius: 0;
	vertical-align: -0.2rem;

	&[value]::-webkit-progress-bar { //background
		background-color: var(--color-primary-2);
		border-radius: 0px;
	}

	&[value]::-webkit-progress-value{ //actual bar
		background-color: var(--color-accent);
	}
	
	&[value^='1']::-webkit-progress-value,
	&[value^='2']::-webkit-progress-value,
	&[value^='3']::-webkit-progress-value {
		background-color: var.$color-red-5;
	}
	&[value^='4']::-webkit-progress-value,
	&[value^='5']::-webkit-progress-value,
	&[value^='6']::-webkit-progress-value {
		background-color: var.$color-orange-5;
	}
	&[value^='7']::-webkit-progress-value,
	&[value^='8']::-webkit-progress-value,
	&[value^='9']::-webkit-progress-value {
		background-color: var.$color-green-5;
	}
	&[value^='10']::-webkit-progress-value {
		background-color: var(--color-accent);
	}
}