@use 'var';

input[type="range"] {
	-webkit-appearance: none;
	background-color: transparent;
	height: var.$scale-3;
	padding: var.$size-0;
	cursor: default;
	border-radius: 50%;
	width: 128px;

	&::-webkit-slider-runnable-track {
		background: var(--background-modifier-border);
		border: 0px solid var(--color-border-1);
		height: 2px;
		width: 128px;
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: var.$size-5;
		width: var.$size-5;
		margin-top: calc(-1 * var.$size-2);
		cursor: ew-resize;
		transition: var.$duration-slow-1 var.$motion-standard-expressive;
		background: var(--color-accent);
		border: 2px solid var(--background-primary);
		border-radius: 50%;
	}
}



.graph-controls input[type="range"] {
	&::-webkit-slider-runnable-track {
		margin-top: -5px;
	}
	&::-webkit-slider-thumb {
		border-color: var(--background-primary);
	}
}