@use 'var';

input[type="range"] {
    background-color: transparent;
    height: var.$scale-3;
    padding: var.$size-0;
    -webkit-appearance: none;
    cursor: default;
    border-radius: 90px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--background-modifier-border);
    border: 1px solid var(--color-border-1);
    height: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var.$size-5;
    width: var.$size-5;
    margin-top: calc(-1 * var.$size-2);
    cursor: ew-resize;
    transition: var.$duration-slow-1 var.$motion-standard-expressive;
    background: var(--color-accent);
    border: 2px solid var(--background-primary);
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active {
    border-width: 1;
    border: 1px solid transparent;
    transition: var.$duration-fast-1 var.$motion-standard-productive;
    border: 2px solid var(--background-primary);
}

.graph-controls input[type="range"]::-webkit-slider-runnable-track {
    margin-top: -5px;
}

.theme-dark .graph-controls input[type="range"]::-webkit-slider-thumb {
    border-color: var(--color-primary-10); 
}