@use 'var';

.markdown-preview-view table {
    border-collapse: collapse;
    margin-top: var.$size-6;
    margin-bottom: var.$size-6;
    table-layout: auto;
    width: max-content;
    max-width: var(--limit-tables);

    .center-tables & { // centered tables
        margin-right: auto;
        margin-left: auto;
    }
}

.markdown-preview-view th { // aka table header
    padding-left: var.$size-5;
    text-align: left;
    font-weight: var.$font-regular;
    background-color: var(--color-border-1);
    color: var(--color-primary-k);
    border: 1px solid var(--color-primary-30);
    border-bottom: none;
    border-top: none;
}

.markdown-preview-view td { // aka table data cell
    font-size: var.$font-scale-00;
    font-weight: var.$font-regular;
    padding: var.$size-3
             var.$size-5
             var.$size-3
             var.$size-5;
    justify-content: left;
    background-color: hsla(var(--hsl-color-primary-w),.8);
    border: var.$size-0;
    border: 1px solid var(--color-primary-20);
    border-bottom-width: 1.5;
}

.markdown-preview-view th:first-child,
.markdown-preview-view td:first-child {
    border-left: none;
}
.markdown-preview-view th:last-child,
.markdown-preview-view td:last-child {
    border-right: none;
}
.markdown-preview-view tr:first-child td {
    border-top-color: var(--color-primary-30);
}
.markdown-preview-view tr:last-child td {
    border-bottom: none;
}

/* ───────────────────────────── Dataview Tables ──────────────────────────── */
table.table-view-table > thead > tr > th {
    font-size: var.$font-scale-0;
    background-color: var(--color-primary-20);
    border-width: 0px;
    border-bottom: 1px solid var(--color-border-2);
}

.alternate-dataview .dataview.table-view-table {
    & .table-view-tbody tr:nth-child(odd) {
        background-color: var(--color-primary-w);
    }
    & .table-view-tbody tr:nth-child(even) {
        background-color: var(--color-primary-10);
    }
    & .table-view-tbody td {
        background-color: transparent;
    }
}