@use 'var';

/* Tags in Edit Mode */

div > .CodeMirror-line span.cm-hashtag-end {
	font-weight: var(--font-regular);
	color: var(--color-accent);
}

/* Tags in Preview */
.cm-s-obsidian span.cm-hashtag,
.tag:not(.token) {
	display: inline-block;
	background-color: rgba(var(--color-accent-l) / .15);
	color: var(--color-accent);
	font-size: var(--font-scale-00);
	font-weight: var(--font-medium);
	line-height: var(--leading-0);
	padding: 2px 8px 2px 8px;
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	border-radius: 16px;
	border: 1px solid rgba(var(--color-accent-l) / .2);
	transition: var(--duration-moderate-1) var(--motion-exit-productive);
	filter: saturate(1);
	
	&:hover {
		cursor: pointer;
		color: var(--text-normal);
	}

	.theme-dark & {
		background-color: rgba(var(--color-accent-d) / .15);
		border-color: rgba(var(--color-accent-d) / .2);
	}
}

.cm-s-obsidian .cm-hashtag-begin.cm-meta {
	display: none;
}

.cm-s-obsidian span.cm-hashtag::before { //adds an hashtag in editing view
	content: "#";
}


/* Frontmatter tag*/
.frontmatter-container .tag:hover {
	color: var(--background-primary);
	font-weight: var(--font-semi-bold);
	background-color: var(--color-accent);
	border: 1px solid var(--color-accent);
}