@use 'var';

/* Tags in Edit Mode */

div > .CodeMirror-line span.cm-hashtag-end {
	font-weight: var(--font-regular);
	color: var(--color-accent);
}

/* Removes underline from generic tags in edit mode*/
.cm-s-obsidian span.cm-hashtag { //gotta wait until tags are supported in Live Preview
	text-decoration: none;
	color: var(--text-accent);
	font-weight: var(--font-semi-bold);

	&:hover {
		filter: brightness(1.2);
	}
}

/* Tags in Preview */
.tag:not(.token) {
	display: inline-block;
	background-color: var(--color-accent);
	color: var(--background-primary);
	font-size: var.$font-scale-000;
	font-weight: var(--font-medium);
	line-height: var.$leading-0;
	padding: var.$size-2 var.$size-3 var.$size-2 var.$size-3;
	text-align: center;
	text-decoration: none;
	margin: var.$size-0 var.$size-0;
	cursor: text;
	border-radius: var.$size-8; 
	transition: var.$duration-moderate-1 var.$motion-exit-productive;

	&:hover {
		cursor: pointer;
		filter: brightness(1.2);
	}
}

/* Frontmatter tag*/
.frontmatter-container .tag:hover {
	color: var(--background-primary);
	font-weight: var(--font-semi-bold);
	background-color: var(--color-accent);
	border: 1px solid var(--color-accent);
}