@use 'var';

.checkbox-container { //background
	cursor: pointer;
	display: inline-block;
	position: relative;
	user-select: none;
	height: 24px;
	width: 48px;
	border-radius: 30px;
	transition: var.$duration-fast-1 var.$motion-standard-expressive;
	background-color: var(--color-primary-3);
}

.checkbox-container:after { //circle
	pointer-events: none;
	content: "";
	display: inline-block;
	position: absolute;
	background-color: var.$color-grey-1;
	width: 18px;
	height: 18px;
	inset: 0 0 0 -2px;
	top: 0px;
	border-radius: 50%;
	transition: transform var.$duration-fast-1 var.$motion-entrance-productive,
				width var.$duration-fast-2 var.$motion-exit-expressive,
				left var.$duration-fast-2 var.$motion-standard-expressive,
				-webkit-transform var.$duration-fast-1 var.$motion-standard-expressive;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
		0 0 0 1px rgba(0, 0, 0, 0.03);
}

.checkbox-container.is-enabled:after {
	transform: translate3d(26px, 0, 0); // distance travelled
}

.checkbox-container.is-enabled {
	background-color: var(--color-accent);
}

/* ──────────────────────────── Graph Checkboxes ──────────────────────────── */
.graph-controls .checkbox-container {
	height: 20px;
	width: 40px;
	border-radius: 30px;
}
.graph-controls .checkbox-container:after {
	width: 14px;
	height: 14px;
}
.graph-controls .checkbox-container.is-enabled:after {
	transform: translate3d(22px, 0, 0);
}