@use 'var';

.tooltip {
    animation: pop-down var.$duration-moderate-2 forwards var.$motion-standard-expressive;
    box-shadow: var.$elevation-1;
    background-color: var(--color-primary-k);
    border-radius: 3px;
    color: var(--color-primary-10);
    font-size: var.$font-scale-00;
    left: 50%;
    line-height: 20px;
    max-width: 300px;
    padding: var.$size-2 var.$size-3;
    position: fixed;
    font-weight: var.$font-regular;
    text-align: center;
    transform: translateX(-50%);
    z-index: var(--layer-tooltip);
    pointer-events: none;
    white-space: pre-wrap;
}

.tooltip.mod-left,
.tooltip.mod-right {
    animation: pop-right var.$duration-moderate-2 forwards var.$motion-standard-expressive;
}

.tooltip .tooltip-arrow {
    border-bottom: 5px solid var(--color-primary-k);
}

.tooltip.mod-right .tooltip-arrow {
    border-right: 5px solid var(--color-primary-k);
}

.tooltip.mod-left .tooltip-arrow {
    border-left: 5px solid var(--color-primary-k);
}

.tooltip.mod-top .tooltip-arrow {
    border-top: 5px solid var(--color-primary-k);
}

.tooltip.mod-error .tooltip-arrow {
    border-bottom-color: var(--background-modifier-error);
}

.tooltip.mod-error.mod-right .tooltip-arrow {
    border-right-color: var(--background-modifier-error);
    border-bottom: 5px solid transparent;
}

.tooltip.mod-error.mod-left .tooltip-arrow {
    border-left-color: var(--background-modifier-error);
    border-bottom: 5px solid transparent;
}