@use 'var';

/* ───────────────────────────────── UI Font ──────────────────────────────── */
body {
	font-feature-settings: 'zero', 'ss05', 'ss02' on;

	&, body input, body button {
		font-optical-sizing: auto;
		font-family: var(--font-ui);
		font-feature-settings: "zero", "ss05" on;
		font-weight:  var(--font-regular);
		font-size: var.$font-scale-00;
		line-height: var.$leading-2;
		letter-spacing: var.$tracking-1;
		font-variant-ligatures: no-common-ligatures;
	}
	&.theme-dark , body.theme-dark input, body.theme-dark button {
		--font-regular: 300; //for visual balance between light and dark modes
	}
}

/* ───────────────────────────── Note Typography ──────────────────────────── */
.markdown-preview-view { //preview
	font-optical-sizing: auto;
	font-family: var(--font-preview);
	line-height: var.$leading-3;
	letter-spacing: var.$tracking-0;
	hyphens: auto;
	font-variant-ligatures: common-ligatures;
}

.cm-list-1, .cm-list-2, .cm-list-3, .cm-list-4, .cm-list-5, .cm-list-6, .cm-list-7, .cm-list-8, .cm-list-9, .cm-list-10,
.cm-line, // live preview
.markdown-source-view.mod-cm6 .cm-scroller,
.markdown-source-view,
.cm-s-obsidian,
.HyperMD-table-2.HyperMD-table-row.cm-line { //tables
	font-variant-ligatures: common-ligatures;
	font-optical-sizing: auto;
	font-family: var(--font-editor);
	line-height: var.$leading-3;
	letter-spacing: var.$tracking-2;
}

.cm-s-obsidian { //edit/source mode
	font-variant-ligatures: common-ligatures;
	font-optical-sizing: auto;
	font-family: var(--font-editor);
	line-height: var.$leading-3;
	letter-spacing: var.$tracking-2;
}

.CodeMirror-sizer {
	line-height: var.$leading-2;
}
/*
.CodeMirror-wrap .CodeMirror-line,
.CodeMirror-wrap .CodeMirror-line-like {
	word-wrap: break-word; // same as overflow-wrap:break-word 
	white-space: pre-wrap;
	word-break: break-word;
	hyphens: auto;
}*/

/* ──────────────────────────────── Headings ──────────────────────────────── */

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
	font-family: var(--font-heading-preview);
}

.cm-s-obsidian .cm-header-1,
.cm-s-obsidian .cm-header-2,
.cm-s-obsidian .cm-header-3,
.cm-s-obsidian .cm-header-4,
.cm-s-obsidian .cm-header-5,
.cm-s-obsidian .cm-header-6,
.cm-s-obsidian .HyperMD-header-1,
.cm-s-obsidian .HyperMD-header-2,
.cm-s-obsidian .HyperMD-header-3,
.cm-s-obsidian .HyperMD-header-4,
.cm-s-obsidian .HyperMD-header-5,
.cm-s-obsidian .HyperMD-header-6 {
	font-family: var(--font-heading-editor) !important; //!important is for edge cases like underline, which inherit body text font family
}


.markdown-preview-view {
	.heading-clr & {
		& h1 {
			color: var(--color-heading-1);
		}
		& h2 {
			color: var(--color-heading-2);
		}
		& h3 {
			color: var(--color-heading-3);
		}
		& h4 {
			color: var(--color-heading-4);
		}
		& h5 {
			color: var(--color-heading-5);
		}
		& h6 {
			color: var(--color-heading-6);
		}
	}
	.heading-clr-bg & {
		& h1 {
			background-color: var(--color-heading-1-bg);
			padding: 4px;
		}
		& h2 {
			background-color: var(--color-heading-2-bg);
			padding: 4px;
		}
		& h3 {
			background-color: var(--color-heading-3-bg);
			padding: 4px;
		}
		& h4 {
			background-color: var(--color-heading-4-bg);
			padding: 4px;
		}
		& h5 {
			background-color: var(--color-heading-5-bg);
			padding: 4px;
		}
		& h6 {
			background-color: var(--color-heading-6-bg);
			padding: 4px;
		}
	}
}

.cm-s-obsidian {
	.heading-clr & {
		& .cm-header-1 {
			color: var(--color-heading-1);
		}
		& .cm-header-2 {
			color: var(--color-heading-2);
		}
		& .cm-header-3 {
			color: var(--color-heading-3);
		}
		& .cm-header-4 {
			color: var(--color-heading-4);
		}
		& .cm-header-5 {
			color: var(--color-heading-5);
		}
		& .cm-header-6 {
			color: var(--color-heading-6);
		}
	}
	.heading-clr-bg & {
		.cm-header-1 {
			background-color: var(--color-heading-1-bg);
			padding: 4px;
		}
		.cm-header-2 {
			background-color: var(--color-heading-2-bg);
			padding: 4px;
		}
		.cm-header-3 {
			background-color: var(--color-heading-3-bg);
			padding: 4px;
		}
		.cm-header-4 {
			background-color: var(--color-heading-4-bg);
			padding: 4px;
		}
		.cm-header-5 {
			background-color: var(--color-heading-5-bg);
			padding: 4px;
		}
		.cm-header-6 {
			background-color: var(--color-heading-6-bg);
			padding: 4px;
		}
	}
}

@media (max-width:320px){
	.markdown-preview-view h1,
	.cm-s-obsidian .cm-header-1,
	.cm-s-obsidian .HyperMD-header-1 {
	font-size: var.$font-scale-5;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: .625em;
	margin-bottom: .625em;
	}	
	.markdown-preview-view h2,
	.cm-s-obsidian .cm-header-2,
	.cm-s-obsidian .HyperMD-header-2 {
	font-size: var.$font-scale-5;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .625em;
	margin-bottom: .625em;
	}	
	.markdown-preview-view h3,
	.cm-s-obsidian .cm-header-3,
	.cm-s-obsidian .HyperMD-header-3 {
	font-size: var.$font-scale-4;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .5625em;
	margin-bottom: .5625em;
	}	
	.markdown-preview-view h4,
	.cm-s-obsidian .cm-header-4,
	.cm-s-obsidian .HyperMD-header-4 {
	font-size: var.$font-scale-1;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .5625em;
	margin-bottom: .5625em;
	}	
	.markdown-preview-view h5,
	.cm-s-obsidian .cm-header-5,
	.cm-s-obsidian .HyperMD-header-5 {
	color:var(--text-normal);
	font-size: var.$font-scale-0;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: .5em;
	margin-bottom: .5em;
	}	
	.markdown-preview-view h6,
	.cm-s-obsidian .cm-header-6,
	.cm-s-obsidian .HyperMD-header-6 {
	color:var(--text-normal);
	font-size: var.$font-scale-00;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-1;
	margin-top: .5em;
	margin-bottom: .5em;
	}
}

@media (min-width:321px) and (max-width:672px){
	.markdown-preview-view h1,
	.cm-s-obsidian .cm-header-1,
	.cm-s-obsidian .HyperMD-header-1 {
	font-size: var.$font-scale-7;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: .625em;
	margin-bottom: .625em;
	}	
	.markdown-preview-view h2,
	.cm-s-obsidian .cm-header-2,
	.cm-s-obsidian .HyperMD-header-2 {
	font-size: var.$font-scale-6;
	line-height: var.$leading-1;
	font-weight: var(--heading-light);
	letter-spacing: var.$tracking-0;
	margin-top: .625em;
	margin-bottom: .625em;
	}	
	.markdown-preview-view h3,
	.cm-s-obsidian .cm-header-3,
	.cm-s-obsidian .HyperMD-header-3 {
	font-size: var.$font-scale-4;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .5625em;
	margin-bottom: .5625em;
	}	
	.markdown-preview-view h4,
	.cm-s-obsidian .cm-header-4,
	.cm-s-obsidian .HyperMD-header-4 {
	font-size: var.$font-scale-2;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .5625em;
	margin-bottom: .5625em;
	}	
	.markdown-preview-view h5,
	.cm-s-obsidian .cm-header-5,
	.cm-s-obsidian .HyperMD-header-5 {
	color:var(--text-normal);
	font-size: var.$font-scale-0;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: .5em;
	margin-bottom: .5em;
	}	
	.markdown-preview-view h6,
	.cm-s-obsidian .cm-header-6,
	.cm-s-obsidian .HyperMD-header-6 {
	color:var(--text-normal);
	font-size: var.$font-scale-00;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-1;
	margin-top: .5em;
	margin-bottom: .5em;
	}
}

@media (min-width:673px) and (max-width:1056px) {
	.markdown-preview-view h1,
	.cm-s-obsidian .cm-header-1,
	.cm-s-obsidian .HyperMD-header-1 {
	font-size: var.$font-scale-7;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: .6875em;
	margin-bottom: .6875em;
	}	
	.markdown-preview-view h2,
	.cm-s-obsidian .cm-header-2,
	.cm-s-obsidian .HyperMD-header-2 {
	font-size: var.$font-scale-7;
	line-height: var.$leading-1;
	font-weight: var(--heading-light);
	letter-spacing: var.$tracking-0;
	margin-top: .6875em;
	margin-bottom: .6875em;
	}	
	.markdown-preview-view h3,
	.cm-s-obsidian .cm-header-3,
	.cm-s-obsidian .HyperMD-header-3 {
	font-size: var.$font-scale-4;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .625em;
	margin-bottom: .625em;
	}	
	.markdown-preview-view h4,
	.cm-s-obsidian .cm-header-4,
	.cm-s-obsidian .HyperMD-header-4 {
	font-size: var.$font-scale-2;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .625em;
	margin-bottom: .625em;
	}	
	.markdown-preview-view h5,
	.cm-s-obsidian .cm-header-5,
	.cm-s-obsidian .HyperMD-header-5 {
	color:var(--text-normal);
	font-size: var.$font-scale-0;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: .5625em;
	margin-bottom: .5625em;
	}	
	.markdown-preview-view h6,
	.cm-s-obsidian .cm-header-6,
	.cm-s-obsidian .HyperMD-header-6 {
	color:var(--text-normal);
	font-size: var.$font-scale-00;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-1;
	margin-top: .5625em;
	margin-bottom: .5625em;
	}
}

@media (min-width:1057px) and (max-width:1312px) {
	.markdown-preview-view h1,
	.cm-s-obsidian .cm-header-1,
	.cm-s-obsidian .HyperMD-header-1 {
	font-size: var.$font-scale-8;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: .6875em;
	margin-bottom: .6875em;
	}	
	.markdown-preview-view h2,
	.cm-s-obsidian .cm-header-2,
	.cm-s-obsidian .HyperMD-header-2 {
	font-size: var.$font-scale-8;
	line-height: var.$leading-1;
	font-weight: var(--heading-light);
	letter-spacing: var.$tracking-0;
	margin-top: .6875em;
	margin-bottom: .6875em;
	}	
	.markdown-preview-view h3,
	.cm-s-obsidian .cm-header-3,
	.cm-s-obsidian .HyperMD-header-3 {
	font-size: var.$font-scale-5;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .625em;
	margin-bottom: .625em;
	}	
	.markdown-preview-view h4,
	.cm-s-obsidian .cm-header-4,
	.cm-s-obsidian .HyperMD-header-4 {
	font-size: var.$font-scale-2;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .625em;
	margin-bottom: .625em;
	}	
	.markdown-preview-view h5,
	.cm-s-obsidian .cm-header-5,
	.cm-s-obsidian .HyperMD-header-5 {
	color:var(--text-normal);
	font-size: var.$font-scale-0;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: .5625em;
	margin-bottom: .5625em;
	}	
	.markdown-preview-view h6,
	.cm-s-obsidian .cm-header-6,
	.cm-s-obsidian .HyperMD-header-6 {
	color:var(--text-normal);
	font-size: var.$font-scale-00;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-1;
	margin-top: .5625em;
	margin-bottom: .5625em;
	}
}

@media (min-width:1313px) {
	.markdown-preview-view h1,
	.cm-s-obsidian .cm-header-1,
	.cm-s-obsidian .HyperMD-header-1 {
	font-size: var.$font-scale-8;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: .65em;
	margin-bottom: .65em;
	}	
	.markdown-preview-view h2,
	.cm-s-obsidian .cm-header-2,
	.cm-s-obsidian .HyperMD-header-2 {
	font-size: var.$font-scale-8;
	line-height: var.$leading-1;
	font-weight: var(--heading-light);
	letter-spacing: var.$tracking-0;
	margin-top: .65em;
	margin-bottom: .65em;
	}	
	.markdown-preview-view h3,
	.cm-s-obsidian .cm-header-3,
	.cm-s-obsidian .HyperMD-header-3 {
	font-size: var.$font-scale-5;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .6875em;
	margin-bottom: .6875em;
	}	
	.markdown-preview-view h4,
	.cm-s-obsidian .cm-header-4,
	.cm-s-obsidian .HyperMD-header-4 {
	font-size: var.$font-scale-3;
	line-height: var.$leading-1;
	font-weight: var(--heading-regular);
	letter-spacing: var.$tracking-0;
	margin-top: .6875em;
	margin-bottom: .6875em;
	}	
	.markdown-preview-view h5,
	.cm-s-obsidian .cm-header-5,
	.cm-s-obsidian .HyperMD-header-5 {
	color:var(--text-normal);
	font-size: var.$font-scale-0;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-0;
	margin-top: 1.125em;
	margin-bottom: 1.125em;
	}	
	.markdown-preview-view h6,
	.cm-s-obsidian .cm-header-6,
	.cm-s-obsidian .HyperMD-header-6 {
	color:var(--text-normal);
	font-size: var.$font-scale-00;
	line-height: var.$leading-1;
	font-weight: var(--heading-semi-bold);
	letter-spacing: var.$tracking-1;
	margin-top: 1.125em;
	margin-bottom: 1.125em;
	}
}

// Legacy Editor (fixes the cursor problem)
.markdown-source-view.mod-cm5 .cm-s-obsidian .HyperMD-header {
	padding: 0;
	margin: 0;
}

/* ─────────────────────────── Productive Headings ────────────────────────── */
:root {
	--productive-heading-1: 2rem;
	--productive-heading-2: 1.75rem;
	--productive-heading-3: 1.5rem;
	--productive-heading-4: 1.25rem;
	--productive-heading-5: 1.125rem;
	--productive-heading-6: 1rem;

	--productive-heading-1-weight: 600; //semi-bold by default
	--productive-heading-2-weight: 600;
	--productive-heading-3-weight: 600;
	--productive-heading-4-weight: 600;
	--productive-heading-5-weight: 600;
	--productive-heading-6-weight: 600;
}


.productive-mode .markdown-preview-view h1,
.productive-mode .cm-s-obsidian .cm-header-1,
.productive-mode .cm-s-obsidian .HyperMD-header-1 {
	font-size: var(--productive-heading-1);
	line-height: var.$leading-1;
	font-weight: var(--productive-heading-1-weight);
	letter-spacing: var.$tracking-0;
	margin-top: .5rem;
	margin-bottom: .5rem;
}	
.productive-mode .markdown-preview-view h2,
.productive-mode .cm-s-obsidian .cm-header-2,
.productive-mode .cm-s-obsidian .HyperMD-header-2 {
	font-size: var(--productive-heading-2);
	line-height: var.$leading-1;
	font-weight: var(--productive-heading-2-weight);
	letter-spacing: var.$tracking-0;
	margin-top: .5rem;
	margin-bottom: .5rem;
}	
.productive-mode .markdown-preview-view h3,
.productive-mode .cm-s-obsidian .cm-header-3,
.productive-mode .cm-s-obsidian .HyperMD-header-3 {
	font-size: var(--productive-heading-3);
	line-height: var.$leading-1;
	font-weight: var(--productive-heading-3-weight);
	letter-spacing: var.$tracking-0;
	margin-top: .5rem;
	margin-bottom: .5rem;
}	
.productive-mode .markdown-preview-view h4,
.productive-mode .cm-s-obsidian .cm-header-4,
.productive-mode .cm-s-obsidian .HyperMD-header-4 {
	font-size: var(--productive-heading-4);
	line-height: var.$leading-1;
	font-weight: var(--productive-heading-4-weight);
	letter-spacing: var.$tracking-0;
	margin-top: .5rem;
	margin-bottom: .5rem;
}	
.productive-mode .markdown-preview-view h5,
.productive-mode .cm-s-obsidian .cm-header-5,
.productive-mode .cm-s-obsidian .HyperMD-header-5 {
	color:var(--text-normal);
	font-size: var(--productive-heading-5);
	line-height: var.$leading-1;
	font-weight: var(--productive-heading-5-weight);
	letter-spacing: var.$tracking-0;
	margin-top: .5rem;
	margin-bottom: .5rem;
}	
.productive-mode .markdown-preview-view h6,
.productive-mode .cm-s-obsidian .cm-header-6,
.productive-mode .cm-s-obsidian .HyperMD-header-6 {
	color:var(--text-normal);
	font-size: var(--productive-heading-6);
	line-height: var.$leading-1;
	font-weight: var(--productive-heading-6-weight);
	letter-spacing: var.$tracking-1;
	margin-top: .5rem;
	margin-bottom: .5rem;
}



.community-plugin-info .community-plugin-readme { // Plugin README headings, tables, lists and paragraphs
	& table,
	& li,
	& p {
		font-size: var.$font-scale-0;
		color: var(--text-normal);
	}
	& h1 {
		font-size: var.$font-scale-6;
	}
	& h2 {
		font-size: var.$font-scale-5;
	}
	& h3 {
		font-size: var.$font-scale-4;
	}
	& h4 {
		font-size: var.$font-scale-3;
	}
	& h5 {
		font-size: var.$font-scale-2;
	}
	& h6 {
		font-size: var.$font-scale-1;
	}
}

/* ────────────────────────── Contextual Typography ───────────────────────── */
.markdown-preview-view {
	& div[data-tag-name="h1"] + div > h1,
	& div[data-tag-name="h1"] + div > h2,
	& div[data-tag-name="h2"] + div > h2,
	& div[data-tag-name="h2"] + div > h3,
	& div[data-tag-name="h3"] + div > h3,
	& div[data-tag-name="h3"] + div > h4,
	& div[data-tag-name="h4"] + div > h4,
	& div[data-tag-name="h4"] + div > h5,
	& div[data-tag-name="h5"] + div > h5,
	& div[data-tag-name="h5"] + div > h6,
	& div[data-tag-name="h6"] + div > h6 {
		margin-top: -.5em;
	}
	& div[data-tag-name="h1"] + div > hr,
	& div[data-tag-name="h2"] + div > hr,
	& div[data-tag-name="h3"] + div > hr,
	& div[data-tag-name="h4"] + div > hr,
	& div[data-tag-name="h5"] + div > hr,
	& div[data-tag-name="h6"] + div > hr {
		margin-top: -.875em;
	}
	.productive-mode & div[data-tag-name="h1"] + div > hr,
	.productive-mode & div[data-tag-name="h2"] + div > hr,
	.productive-mode & div[data-tag-name="h3"] + div > hr,
	.productive-mode & div[data-tag-name="h4"] + div > hr,
	.productive-mode & div[data-tag-name="h5"] + div > hr,
	.productive-mode & div[data-tag-name="h6"] + div > hr {
		margin-top: -.5em;
	}
	.is-mobile & div[data-tag-name="h1"] + div > hr,
	.is-mobile & div[data-tag-name="h2"] + div > hr,
	.is-mobile & div[data-tag-name="h3"] + div > hr,
	.is-mobile & div[data-tag-name="h4"] + div > hr,
	.is-mobile & div[data-tag-name="h5"] + div > hr,
	.is-mobile & div[data-tag-name="h6"] + div > hr {
		margin-top: -.5em;
	}
}