// Font Weights$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Typographic Modular Scale
$font-scale-000: .75rem;
$font-scale-00: .875rem;
$font-scale-0:     1rem;
$font-scale-1: 1.125rem;
$font-scale-2:  1.25rem;
$font-scale-3:   1.5rem;
$font-scale-4:  1.75rem;
$font-scale-5:     2rem;
$font-scale-6:  2.25rem;
$font-scale-7: 2.625rem;
$font-scale-8:     3rem;
$font-scale-9: 3.375rem;
$font-scale-10: 3.75rem;

// Leading (line-height)
$leading-0:      1em;
$leading-1:  1.125em;
$leading-2:   1.25em;
$leading-3:  1.375em;
$leading-4:    1.5em;
$leading-5:  1.625em;
$leading-6:   1.75em;
$leading-7:  1.875em;
$leading-8:   2.25em;
$leading-9:    2.5em;
$leading-10:  2.75em;
$leading-11: 3.125em;
$leading-12:   3.5em;
$leading-13:  3.75em;
$leading-14:     4em;
$leading-15: 4.375em;

// Tracking (letter-spacing)
$tracking-0:   0px;
$tracking-1: .16px;
$tracking-2: .32px;

// Layout Sizing

$size-0:    0px;
$size-1:    2px;
$size-2:    4px;
$size-3:    8px;
$size-4:   12px;
$size-5:   16px;
$size-6:   24px;
$size-7:   32px;
$size-8:   40px;
$size-9:   48px;
$size-10:  64px;
$size-11:  80px;
$size-12:  96px;
$size-13: 160px;

// Fixed Base Units
// To be used for dimensioning of icons, content boxes, and
// vertical margins (multiples of 8)
$scale-1:   8px;
$scale-2:  16px;
$scale-3:  24px;
$scale-4:  32px;
$scale-6:  48px;
$scale-8:  64px;
$scale-10: 80px;

// Colours
// These colours are left here in case you need more for 
// customization, like custom tag colours, etc

$color-white:    hsl(30, 25%, 98.4%);
$color-grey-10:  hsl(34.3, 21.2%, 93.5%);
$color-grey-20:  hsl(30, 9.4%, 87.5%);
$color-grey-30:  hsl(30, 3.4%, 76.9%);
$color-grey-40:  hsl(40, 1.8%, 68%);
$color-grey-50:  hsl(20, 1.4%, 59.4%);
$color-grey-60:  hsl(20, 1.2%, 52.4%);
$color-grey-70:  hsl(20, 1.3%, 43.7%);
$color-grey-80:  hsl(20, 1.6%, 37.5%);
$color-grey-90:  hsl(30, 1.5%, 26.3%);
$color-grey-100: hsl(300, 1%, 19.8%);
$color-grey: $color-grey-10;
$color-black:    hsl(0, 0%, 7.8%);
$color-dark:hsl(0, 0%, 5%);

$color-green-300: hsl(60.9, 41.6%, 69.8%);
$color-green-500: hsl(61.3, 41.1%, 45.3%);
$color-green-700: hsl(60, 40.9%, 31.2%);
$color-green: $color-green-500;

$color-viridian-300: hsl(146.7, 35.5%, 70.2%);
$color-viridian-500: hsl(146.5, 37.3%, 50%);
$color-viridian-700: hsl(146.3, 36.4%, 34.5%);
$color-viridibluean: $color-viridian-500;

$color-blue-300: hsl(178, 39.5%, 70.2%);
$color-blue-500: hsl(177.4, 40.5%, 45.5%);
$color-blue-700: hsl(178, 39.4%, 30.4%);
$color-blue: $color-blue-500;

$color-teal-300: hsl(201.4, 36.8%, 70.2%);
$color-teal-500: hsl(201.1, 36.8%, 37.8%);
$color-teal-700: hsl(200, 37.3%, 30%);
$color-teal: $color-teal-500;

$color-indigo-300: hsl(241.2, 32%, 70%);
$color-indigo-500: hsl(241.6, 30.1%, 48.8%);
$color-indigo-700: hsl(241.4, 31.9%, 26.5%);
$color-indigo: $color-indigo-500;

$color-purple-300: hsl(321.4, 47.1%, 69.6%);
$color-purple-500: hsl(325.6, 43.3%, 49.8%);
$color-purple-700: hsl(320, 49%, 30%);
$color-purple: $color-purple-500;

$color-pink-300: hsl(349.8, 78.1%, 74.9%);
$color-pink-500: hsl(349.7, 79%, 60.8%);
$color-pink-700: hsl(351.2, 73.9%, 36.1%);
$color-pink: $color-pink-500;

$color-red-300: hsl(0.6, 67.3%, 70%);
$color-red-500: hsl(0.4, 66.8%, 46.1%);
$color-red-700: hsl(0, 66.2%, 30.2%);
$color-red: $color-red-500;

$color-orange-300: hsl(31.1, 90.8%, 70%);
$color-orange-500: hsl(31.1, 91.1%, 48.6%);
$color-orange-700: hsl(22.7, 70.7%, 46.9%);
$color-orange: $color-orange-500;

$color-yellow-300: hsl(48.4, 83.9%, 68.4%);
$color-yellow-500: hsl(41.3, 79.6%, 59.6%);
$color-yellow-700: hsl(41.4, 79%, 44.9%);
$color-yellow: $color-yellow-500;

$color-brown-300: hsl(30.8, 24.2%, 70%);
$color-brown-500: hsl(30.5, 24.7%, 50%);
$color-brown-700: hsl(30.9, 24.5%, 28%);
$color-brown: $color-brown-500;

// Elevation
$elevation-1:  0 2px 6px 0 rgba(0,0,0,.2);
$elevation-2: 0 2px 6px 0 rgba(0,0,0,.3);

// Animations / Transitions 
$motion-entrance-productive: cubic-bezier(0, 0, 0.38, 0.9);
$motion-entrance-expressive: cubic-bezier(0, 0, 0.3, 1);
$motion-standard-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
$motion-standard-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
$motion-exit-productive:     cubic-bezier(0.2, 0, 1, 0.9);
$motion-exit-expressive:     cubic-bezier(0.4, 0.14, 1, 1);

// Duration
$duration-fast-1:     70ms;
$duration-fast-2:     110ms;
$duration-moderate-1: 150ms;
$duration-moderate-2: 240ms;
$duration-slow-1:     400ms;
$duration-slow-2:     700ms;

:root {
/* ────────────────────────────── Font Families ───────────────────────────── */

--font-sans: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
--font-serif: 'IBM Plex Serif', 'Georgia', Times, serif;
--font-mono: 'IBM Plex Mono', 'iA Writer Mono V', 'iA IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
--mermaid-font: var(--font-sans);

--font-preview: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
--font-editor: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
--font-ui: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
--font-heading-editor: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
--font-heading-preview: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
--footnote-id: 'Footnotes';

/* ──────────────────────────────── Variables ─────────────────────────────── */

--weight-heading: 1;

--heading-thin: calc(100 * var(--weight-heading));
--heading-extra-light: calc(200 * var(--weight-heading));
--heading-light: calc(300 * var(--weight-heading));
--heading-regular: calc(400 * var(--weight-heading));
--heading-medium: calc(500 * var(--weight-heading));
--heading-semi-bold: calc(600 * var(--weight-heading));
--heading-bold: calc(700 * var(--weight-heading));

--line-width: 42em;

--heading-1: 100;
--heading-2: 100;
--heading-3: 100;
--heading-4: 100;
--heading-5: 100;
--heading-6: 100;

--size-tab-header: 16px;
--limit-tables: 100%;

--community-theme: 40vw;
--community-plugin: 40vw;
--settings: 40vw;



--color-l-accent-h: 177.4;
--color-l-accent-s: 40.5%;
--color-l-accent-l: 45.5%;

--color-d-accent-h: 178;
--color-d-accent-s: 39.5%;
--color-d-accent-l: 70.2%;

--color-highlight-1: rgb(234, 183, 70);
--color-highlight-2: rgb(69, 163, 159);
--color-highlight-3: rgb(234, 76, 103);
--color-highlight-1-h: rgb(20, 20, 20);
--color-highlight-2-h: rgb(20, 20, 20);
--color-highlight-3-h: rgb(20, 20, 20);

--color-fill-focused: rgb(161, 163, 68);
--color-fill-tag: rgb(69, 163, 159);
--color-fill-attachment: rgb(234, 183, 70);

} /* ────────────────────────────── END OF ROOT ───────────────────────────── */
/* ─────────────────────────── Light Theme Colours ────────────────────────── */
.theme-light.sanctum-light-template {
    --hsl-color-primary-w: ;
    --color-primary-w:   ;
    --color-primary-10:  ;
    --color-primary-20:  ;
    --color-primary-30:  ;
    --color-primary-40:  ;
    --color-primary-50:  ;
    --color-primary-60:  ;
    --color-primary-70:  ;
    --color-primary-80:  ;
    --color-primary-90:  ;
    --color-primary-100: ;
    --color-primary-k:   ;
}

.theme-light {
    --hsl-color-primary-w: 30, 25%, 98.4%;
    --color-primary-w:   #{$color-white};
    --color-primary-10:  #{$color-grey-10};
    --color-primary-20:  #{$color-grey-20};
    --color-primary-30:  #{$color-grey-30};
    --color-primary-40:  #{$color-grey-40};
    --color-primary-50:  #{$color-grey-50};
    --color-primary-60:  #{$color-grey-60};
    --color-primary-70:  #{$color-grey-70};
    --color-primary-80:  #{$color-grey-80};
    --color-primary-90:  #{$color-grey-90};
    --color-primary-100: #{$color-grey-100};
    --color-primary-k:   #{$color-black};
}
.theme-light {
    --color-hover: var(--color-primary-20);
    --color-border-1:    var(--color-primary-20);
    --color-border-2:    var(--color-primary-30);

    --color-accent: hsl(var(--color-l-accent-h),var(--color-l-accent-s),var(--color-l-accent-l));

    --background-primary:        var(--color-primary-10);
    --background-primary-alt:    var(--color-primary-w);
    --background-secondary:      var(--color-primary-10);
    --background-secondary-alt:  var(--color-primary-10);

    --background-modifier-border:var(--color-primary-60);

    --background-modifier-form-field:           rgba(0, 0, 0, .05);
    --background-modifier-form-field-highlighted: var(--color-primary-20);
    --background-modifier-box-shadow:           rgba(0, 0, 0, 0.2);
    --background-modifier-success:                #{$color-green-500};
    --background-modifier-error:                  #{$color-red-500};
    --background-modifier-error-rgb:              196, 46, 39;
    --background-modifier-error-hover:            #{$color-red-500};
    --background-modifier-cover:                  var(--color-primary-20);

    --text-normal:       var(--color-primary-k);
    --text-muted:        var(--color-primary-90);
    --text-faint:        var(--color-primary-70);
    --text-accent:       var(--color-accent);
    --text-on-accent:    var(--color-primary-k);
    --text-accent-hover: rgb(237, 128, 11);
    --text-error:        var(--color-red);
    --text-error-hover:  var(--color-red);

    --text-highlight-bg:        var(--color-highlight-1);
    --text-highlight-bg-active: #{$color-teal-300};
    --text-selection:           hsla(var(--color-l-accent-h), var(--color-l-accent-s), var(--color-l-accent-l), 0.5);
    
    --interactive-normal:       var(--color-primary-20);
    --interactive-hover:        var(--color-primary-20);
    --interactive-accent:       var(--color-primary-20);
    --interactive-accent-rgb:   var(--color-primary-20);
    --interactive-accent-hover: var(--color-primary-30);
    --interactive-success:      #{$color-green-500};

    --scrollbar-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
    --highlight-mix-blend-mode: darken;
}

/* ─────────────────────────── Dark Theme Colours ─────────────────────────── */
.theme-dark.sanctum-dark-template {
    --hsl-color-primary-w: ;
    --color-primary-w:   ;
    --color-primary-10:  ;
    --color-primary-20:  ;
    --color-primary-30:  ;
    --color-primary-40:  ;
    --color-primary-50:  ;
    --color-primary-60:  ;
    --color-primary-70:  ;
    --color-primary-80:  ;
    --color-primary-90:  ;
    --color-primary-100: ;
    --color-primary-k:   ;
}

.theme-dark {
    --hsl-color-primary-w: 300, 1%, 19.8%;

    --color-primary-w: #{$color-black};
    --color-primary-10: #{$color-grey-100};
    --color-primary-20: #{$color-grey-90};
    --color-primary-30: #{$color-grey-80};
    --color-primary-40: #{$color-grey-70};
    --color-primary-50: #{$color-grey-60};
    --color-primary-60: #{$color-grey-50};
    --color-primary-70: #{$color-grey-40};
    --color-primary-80: #{$color-grey-30};
    --color-primary-90: #{$color-grey-20};
    --color-primary-100: #{$color-grey-10};
    --color-primary-k: #{$color-white};
}
.theme-dark {
    --color-hover: var(--color-primary-10);
    --color-border-1: var(--color-primary-20);
    --color-border-2: var(--color-primary-30);

    --color-accent: hsl(var(--color-d-accent-h),var(--color-d-accent-s),var(--color-d-accent-l));

    --background-primary:        var(--color-primary-w);
    --background-primary-alt:    var.$color-dark;
    --background-secondary:      var(--color-primary-w);
    --background-secondary-alt:  var(--color-primary-w);

    --background-modifier-border:var(--color-primary-60);

    --background-modifier-form-field:           rgba(0, 0, 0, .05);
    --background-modifier-form-field-highlighted: var(--color-primary-10);
    --background-modifier-box-shadow:           rgba(0, 0, 0, 0.2);
    --background-modifier-success:                #{$color-green-300};
    --background-modifier-error:                  #{$color-red-500};
    --background-modifier-error-rgb:              196, 46, 39;
    --background-modifier-error-hover:            #{$color-red-500};
    --background-modifier-cover:                  var(--color-primary-20);

    --text-normal:       var(--color-primary-100);
    --text-muted:        var(--color-primary-80);
    --text-faint:        var(--color-primary-60);
    --text-accent:       var(--color-accent);
    --text-on-accent:    var(--color-primary-100);
    --text-accent-hover: rgb(237, 128, 11);
    --text-error:        var(--color-red);
    --text-error-hover:  var(--color-red);

    --text-highlight-bg:        var(--color-highlight-1);
    --text-highlight-bg-active: #{$color-teal-500};
    --text-selection:           hsla(var(--color-d-accent-h), var(--color-d-accent-s), var(--color-d-accent-l), 0.5);
    
    --interactive-normal:       var(--color-primary-10);
    --interactive-hover:        var(--color-primary-10);
    --interactive-accent:       var(--color-primary-10);
    --interactive-accent-rgb:   var(--color-primary-10);
    --interactive-accent-hover: var(--color-primary-20);
    --interactive-success:      #{$color-green-500};

    --scrollbar-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
    --highlight-mix-blend-mode: lighten;
}