// Typographic Modular Scale
$font-scale-000: .75rem;
$font-scale-00: .875rem;
$font-scale-0:     1rem;
$font-scale-1: 1.125rem;
$font-scale-2:  1.25rem;
$font-scale-3:   1.5rem;
$font-scale-4:  1.75rem;
$font-scale-5:     2rem;
$font-scale-6:  2.25rem;
$font-scale-7: 2.625rem;
$font-scale-8:     3rem;
$font-scale-9: 3.375rem;
$font-scale-10: 3.75rem;

// Leading (line-height)
$leading-0:      1em;
$leading-1:  1.125em;
$leading-2:   1.25em;
$leading-3:  1.375em;
$leading-4:    1.5em;
$leading-5:  1.625em;
$leading-6:   1.75em;
$leading-7:  1.875em;
$leading-8:   2.25em;
$leading-9:    2.5em;
$leading-10:  2.75em;
$leading-11: 3.125em;
$leading-12:   3.5em;
$leading-13:  3.75em;
$leading-14:     4em;
$leading-15: 4.375em;

// Tracking (letter-spacing)
$tracking-0:   0px;
$tracking-1: .16px;
$tracking-2: .32px;

// Layout Sizing

$size-0:    0px;
$size-1:    2px;
$size-2:    4px;
$size-3:    8px;
$size-4:   12px;
$size-5:   16px;
$size-6:   24px;
$size-7:   32px;
$size-8:   40px;
$size-9:   48px;
$size-10:  64px;
$size-11:  80px;
$size-12:  96px;
$size-13: 160px;

// Fixed Base Units
// To be used for dimensioning of icons, content boxes, and
// vertical margins (multiples of 8)
$scale-1:   8px;
$scale-2:  16px;
$scale-3:  24px;
$scale-4:  32px;
$scale-6:  48px;
$scale-8:  64px;
$scale-10: 80px;

// Colours
// These colours are left here in case you need more for 
// customization, like custom tag colours, etc
$color-white:	#fefefe;
$color-grey-1:	#f5f3f0;
$color-grey-2:	#e2dfdc;
$color-grey-3:	#c9c6c4;
$color-grey-4:	#aaa8a6;
$color-grey-5:	#8b8888;
$color-grey-6:	#6b6868;
$color-grey-7:	#4f4c4d;
$color-grey-8:	#312F30;
$color-grey-9:	#151515;
$color-black:	#080808;

// Elevation
$elevation-1:  0 2px 6px 0 rgba(0,0,0,.2);
$elevation-2: 0 2px 6px 0 rgba(0,0,0,.3);

// Animations / Transitions 
$motion-entrance-productive: cubic-bezier(0, 0, 0.38, 0.9);
$motion-entrance-expressive: cubic-bezier(0, 0, 0.3, 1);
$motion-standard-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
$motion-standard-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
$motion-exit-productive:     cubic-bezier(0.2, 0, 1, 0.9);
$motion-exit-expressive:     cubic-bezier(0.4, 0.14, 1, 1);

// Duration
$duration-fast-1:     70ms;
$duration-fast-2:     110ms;
$duration-moderate-1: 150ms;
$duration-moderate-2: 240ms;
$duration-slow-1:     400ms;
$duration-slow-2:     700ms;

:root {
/* ────────────────────────────── Font Families ───────────────────────────── */

	--font-sans: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	--font-serif: 'IBM Plex Serif', 'Georgia', Times, serif;
	--font-mono: 'IBM Plex Mono', 'iA Writer Mono V', 'iA IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
	--mermaid-font: var(--font-sans);

	--font-preview: 'iA Writer Quattro S', 'IBM Plex Sans', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	--font-editor: 'iA Writer Quattro S', 'IBM Plex Sans', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	--font-ui: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	--font-heading-editor: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	--font-heading-preview: 'IBM Plex Sans', 'iA Writer Quattro S', 'Helvetica Neue', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	--font-frontmatter: 'IBM Plex Mono', 'iA Writer Mono V', 'iA IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
	--footnote-id: 'Footnotes';
	--marker-odd: '–\2009\2009';
	--marker-even: '▪  ';

/* ──────────────────────────────── Variables ─────────────────────────────── */
// Font Weights
	--font-thin: 100;
	--font-extra-light: 200;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

	--line-width: 42em;

	--heading-1: 100;
	--heading-2: 100;
	--heading-3: 100;
	--heading-4: 100;
	--heading-5: 100;
	--heading-6: 100;

	--size-tab-header: 16px;
	--limit-tables: 100%;

	--community-theme: 40vw;
	--community-plugin: 40vw;
	--settings: 40vw;

	--color-l-accent-h: 177.9;
	--color-l-accent-s: 40.2%;
	--color-l-accent-l: 42%;

	--color-d-accent-h: 177.9;
	--color-d-accent-s: 40.2%;
	--color-d-accent-l: 42%;

	--color-highlight-1: rgb(236, 193, 81);
	--color-highlight-2: rgb(64, 150, 147);
	--color-highlight-3: rgb(235, 84, 108);
	--color-highlight-1-h: rgb(8, 8, 8);
	--color-highlight-2-h: rgb(8, 8, 8);
	--color-highlight-3-h: rgb(8, 8, 8);

	--color-fill-focused: rgb(235, 84, 108);
	--color-fill-tag: rgb(64, 150, 147);
	--color-fill-attachment: rgb(236, 193, 81);

	--color-accent-l: rgb(64, 150, 147);
	--color-accent-d: rgb(64, 150, 147);

	--color-checkbox: 140 141 59;

/* ────────────────────────────── Color Palette ───────────────────────────── */
	
	--color-green-0:	#fefefe;
	--color-green-1:	#f2f4ea;
	--color-green-2:	#dfe2bd;
	--color-green-3:	#c9ca85;
	--color-green-4:	#abad55;
	--color-green-5:	#8c8d3b;
	--color-green-6:	#6c6c2e;
	--color-green-7:	#4f4f28;
	--color-green-8:	#31311c;
	--color-green-9:	#15150d;
	--color-green-10:#000000;
	--color-green: var(--color-green-5);

	--color-viridian-0:	#fefefe;
	--color-viridian-1:	#eff5f2;
	--color-viridian-2:	#cce4d6;
	--color-viridian-3:	#a2d1b7;
	--color-viridian-4:	#69b88b;
	--color-viridian-5:	#46996a;
	--color-viridian-6:	#377552;
	--color-viridian-7:	#30543e;
	--color-viridian-8:	#213428;
	--color-viridian-9:	#101612;
	--color-viridian-10:	#000000;
	--color-viridian: var(--color-viridian-5);

	--color-teal-0:	#fefefe;
	--color-teal-1:	#eef5f5;
	--color-teal-2:	#c9e4e2;
	--color-teal-3:	#96d1cf;
	--color-teal-4:	#68b5b1;
	--color-teal-5:	#409693;
	--color-teal-6:	#327370;
	--color-teal-7:	#2c5352;
	--color-teal-8:	#203333;
	--color-teal-9:	#101616;
	--color-teal-10:	#000000;
	--color-teal: var(--color-teal-5);

	--color-blue-0:	#fefefe;
	--color-blue-1:	#f1f4f6;
	--color-blue-2:	#d5e1e8;
	--color-blue-3:	#b1cad8;
	--color-blue-4:	#88adc2;
	--color-blue-5:	#668ea5;
	--color-blue-6:	#416e87;
	--color-blue-7:	#2e5163;
	--color-blue-8:	#22323b;
	--color-blue-9:	#101519;
	--color-blue-10:	#000000;
	--color-blue: var(--color-blue-5);

	--color-lavender-0:	#fefefe;
	--color-lavender-1:	#f4f4f7;
	--color-lavender-2:	#dedee9;
	--color-lavender-3:	#c4c4db;
	--color-lavender-4:	#a5a5ce;
	--color-lavender-5:	#8484bc;
	--color-lavender-6:	#6362a7;
	--color-lavender-7:	#484684;
	--color-lavender-8:	#2c2b53;
	--color-lavender-9:	#131421;
	--color-lavender-10:	#000000;
	--color-lavender: var(--color-lavender-5);

	--color-pink-0:	#fefefe;
	--color-pink-1:	#f9f1f2;
	--color-pink-2:	#f5d7db;
	--color-pink-3:	#f2b7c0;
	--color-pink-4:	#f08a9c;
	--color-pink-5:	#eb546c;
	--color-pink-6:	#c23146;
	--color-pink-7:	#951b2a;
	--color-pink-8:	#561c1f;
	--color-pink-9:	#240f0f;
	--color-pink-10:	#000000;
	--color-pink: var(--color-pink-5);

	--color-red-0:	#fefefe;
	--color-red-1:	#faf1ef;
	--color-red-2:	#f9d7d3;
	--color-red-3:	#fab6ad;
	--color-red-4:	#fc867a;
	--color-red-5:	#f15148;
	--color-red-6:	#c82b29;
	--color-red-7:	#941f1e;
	--color-red-8:	#591a17;
	--color-red-9:	#250e0c;
	--color-red-10:	#000000;
	--color-red: var(--color-red-5);

	--color-orange-0:	#fefefe;
	--color-orange-1:	#f9f2e9;
	--color-orange-2:	#f7daba;
	--color-orange-3:	#f7ba79;
	--color-orange-4:	#f19134;
	--color-orange-5:	#d66c1e;
	--color-orange-6:	#a25426;
	--color-orange-7:	#734023;
	--color-orange-8:	#44291b;
	--color-orange-9:	#1d120d;
	--color-orange-10:	#000000;
	--color-orange: var(--color-orange-5);

	--color-yellow-0:	#fefefd;
	--color-yellow-1:	#f7f4dd;
	--color-yellow-2:	#f2df8d;
	--color-yellow-3:	#ecc151;
	--color-yellow-4:	#d69f28;
	--color-yellow-5:	#af8122;
	--color-yellow-6:	#836426;
	--color-yellow-7:	#5e4a23;
	--color-yellow-8:	#392e1a;
	--color-yellow-9:	#19140c;
	--color-yellow-10:	#000000;
	--color-yellow: var(--color-yellow-3);
}
/* ────────────────────────────── END OF ROOT ───────────────────────────── */


/* ─────────────────────────── Light Theme Colours ────────────────────────── */

.theme-light.sanctum-light {
	--rgb-primary-0: 254, 254, 254;
	--color-primary-0:	#fefefe;
	--color-primary-1:	#f5f3f0;
	--color-primary-2:	#e2dfdc;
	--color-primary-3:	#c9c6c4;
	--color-primary-4:	#aaa8a6;
	--color-primary-5:	#8b8888;
	--color-primary-6:	#6b6868;
	--color-primary-7:	#4f4c4d;
	--color-primary-8:	#312F30;
	--color-primary-9:	#151515;
	--color-primary-10: #080808;
}
.theme-light {
	--rgb-primary-10: 8, 8, 8;
	--rgb-primary-0: 254, 254, 254;
	--color-primary-0:	#fefefe;
	--color-primary-1:	#f5f3f0;
	--color-primary-2:	#e2dfdc;
	--color-primary-3:	#c9c6c4;
	--color-primary-4:	#aaa8a6;
	--color-primary-5:	#8b8888;
	--color-primary-6:	#6b6868;
	--color-primary-7:	#4f4c4d;
	--color-primary-8:	#312F30;
	--color-primary-9:	#151515;
	--color-primary-10: #080808;
}
/*
.theme-light.sanctum-hearth,
.theme-light.sanctum-moss,
.theme-light.sanctum-lavender,*/
.theme-light,
.theme-light.sanctum-light {
	--color-hover:		var(--color-primary-2);
	--color-border-1:	var(--color-primary-2);
	--color-border-2:	var(--color-primary-3);

	--color-accent: var(--color-accent-l);

	--background-primary:		var(--color-primary-1);
	--background-primary-alt:	var(--color-primary-0);
	--background-secondary:		var(--color-primary-1);
	--background-secondary-alt:	var(--color-primary-1);

	--background-modifier-border: var(--color-primary-5);

	--background-modifier-form-field:			rgba(0, 0, 0, .05);
	--background-modifier-form-field-highlighted: var(--color-primary-2);
	--background-modifier-box-shadow:			rgba(0, 0, 0, 0.2);
	--background-modifier-success:				#8c8d3b;
	--background-modifier-error:				#f15148;
	--background-modifier-error-rgb:			196, 46, 39;
	--background-modifier-error-hover:			#f15148;
	--background-modifier-cover:				var(--color-primary-2);

	--text-normal:		var(--color-primary-10);
	--text-muted:		var(--color-primary-7);
	--text-faint:		var(--color-primary-5);
	--text-accent:		var(--color-accent);
	--text-on-accent:	var(--color-primary-0);
	--text-accent-hover: #d66c1e;
	--text-error:		#f15148;
	--text-error-hover:	#f15148;

	--text-highlight-bg:		var(--color-highlight-1);
	--text-highlight-bg-active: #b1cad8;
	--text-selection:			var(--color-accent-l);

	--interactive-normal:		var(--color-primary-2);
	--interactive-hover:		var(--color-primary-2);
	--interactive-accent:		var(--color-accent);
	--interactive-accent-rgb:	var(--color-primary-2);
	--interactive-accent-hover: var(--color-primary-3);
	--interactive-success:		#8c8d3b;

	--scrollbar-bg: rgba(0, 0, 0, 0.05);
	--scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
	--highlight-mix-blend-mode: darken;
}

/* ─────────────────────────── Dark Theme Colours ─────────────────────────── */
.theme-dark.sanctum-true-black {
	--rgb-primary-0: 0,0,0 ;
	--color-primary-0:	#080808;
	--color-primary-1:	#000000;
	--color-primary-2:	#080808;
	--color-primary-3:	#151515;
	--color-primary-4:	#312F30;
	--color-primary-5:	#4f4c4d;
	--color-primary-6:	#6b6868;
	--color-primary-7:	#8b8888;
	--color-primary-8:	#aaa8a6;
	--color-primary-9:	#c9c6c4;
	--color-primary-10: #e2dfdc;
}

.theme-dark.sanctum-dark {
	--rgb-primary-0: 8, 8, 8;
	--color-primary-0:	#080808;
	--color-primary-1:	#151515;
	--color-primary-2:	#312F30;
	--color-primary-3:	#4f4c4d;
	--color-primary-4:	#6b6868;
	--color-primary-5:	#8b8888;
	--color-primary-6:	#aaa8a6;
	--color-primary-7:	#c9c6c4;
	--color-primary-8:	#e2dfdc;
	--color-primary-9:	#f5f3f0;
	--color-primary-10: #fefefe;
	
}

.theme-dark {
	--rgb-primary-0: 8, 8, 8;
	--rgb-primary-10: 254, 254, 254;
	--color-primary-0:	#080808;
	--color-primary-1:	#151515;
	--color-primary-2:	#312F30;
	--color-primary-3:	#4f4c4d;
	--color-primary-4:	#6b6868;
	--color-primary-5:	#8b8888;
	--color-primary-6:	#aaa8a6;
	--color-primary-7:	#c9c6c4;
	--color-primary-8:	#e2dfdc;
	--color-primary-9:	#f5f3f0;
	--color-primary-10: #fefefe;
	
}

.theme-dark,
.theme-dark.sanctum-true-black,
.theme-dark.sanctum-dark {
	
	--font-thin: 100;
	--font-extra-light: 100;
	--font-light: 200;
	--font-regular: 300;
	--font-medium: 400;
	--font-semi-bold: 500;
	--font-bold: 600;


	--color-hover:		var(--color-primary-2);
	--color-border-1:	var(--color-primary-2);
	--color-border-2:	var(--color-primary-3);

	--color-accent: var(--color-accent-d);

	--background-primary:		var(--color-primary-1);
	--background-primary-alt:	var(--color-primary-0);
	--background-secondary:		var(--color-primary-1);
	--background-secondary-alt:	var(--color-primary-1);

	--background-modifier-border:var(--color-primary-5);

	--background-modifier-form-field:			rgba(0, 0, 0, .05);
	--background-modifier-form-field-highlighted: var(--color-primary-2);
	--background-modifier-box-shadow:			rgba(0, 0, 0, 0.2);
	--background-modifier-success:				#8c8d3b;
	--background-modifier-error:				#f15148;
	--background-modifier-error-rgb:			196, 46, 39;
	--background-modifier-error-hover:			#f15148;
	--background-modifier-cover:				var(--color-primary-2);

	--text-normal:		var(--color-primary-10);
	--text-muted:		var(--color-primary-7);
	--text-faint:		var(--color-primary-5);
	--text-accent:		var(--color-accent);
	--text-on-accent:	var(--color-primary-10);
	--text-accent-hover: #d66c1e;
	--text-error:		#f15148;
	--text-error-hover:	#f15148;

	--text-highlight-bg:		var(--color-highlight-1);
	--text-highlight-bg-active: #668ea5;
	--text-selection:			var(--color-accent-d);

	--interactive-normal:		var(--color-primary-2);
	--interactive-hover:		var(--color-primary-2);
	--interactive-accent:		var(--color-accent);
	--interactive-accent-rgb:	var(--color-primary-2);
	--interactive-accent-hover: var(--color-primary-3);
	--interactive-success:		#8c8d3b;

	--scrollbar-bg: rgba(0, 0, 0, 0.05);
	--scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
	--highlight-mix-blend-mode: lighten;
}