/* ─────────────────────────────────────────────────────────────────────────
Sanctum for Obsidian.md
Version 0.5.7
created by @jdanielmourao (Github)

Sponsor my work:
https://ko-fi.com/jdanielmourao
https://paypal.me/jdanielmourao

Readme:
https://github.com/jdanielmourao/obsidian-sanctum

Forum Thread:
https://forum.obsidian.md/t/sanctum-theme/25455

Description:
Sanctum’s a minimalist theme with the aim of creating a serene space of retreat, for thought and uninterrupted work.

Disclaimer:
This theme is designed to be used with the Style Settings plugin.

License:
GNU General Public License v3.0

───────────────────────────────────────────────────────────────────────── */