$color-white:   rgb(252 251 250) ;
$color-grey-10:  rgb(242 239 235);
$color-grey-20:  rgb(226 223 220);
$color-grey-30:  rgb(198 196 194);
$color-grey-40:  rgb(175 174 172);
$color-grey-50:  rgb(153 151 150);
$color-grey-60:  rgb(135 133 132);
$color-grey-70:  rgb(113 111 110);
$color-grey-80:  rgb(97 95 94);
$color-grey-90:  rgb(68 67 66);
$color-grey-100: rgb(51 50 51);
$color-black:    rgb(20 20 20);
$color-true-black:rgb(13 13 13);

/* ─────────────────────────────── New Palette ────────────────────────────── */
$color-white:	#fefefe;
$color-grey-10:	#f5f3f0;
$color-grey-20:	#e1dedb;
$color-grey-30:	#c8c6c3;
$color-grey-40:	#aaa8a6;
$color-grey-50:	#8a8987;
$color-grey-60:	#6a6968;
$color-grey-70:	#4d4d4c;
$color-grey-80:	#343434;
$color-grey-90:	#1b1b1b;
$color-black:	#000000;
/* ────────────────────────────────── Green ───────────────────────────────── */
$color-green-white:	#fefefe;
$color-green-10:	#f2f4ea;
$color-green-20:	#dfe2bd;
$color-green-30:	#c9ca85;
$color-green-40:	#abad55;
$color-green-50:	#8c8d3b;
$color-green-60:	#6c6c2e;
$color-green-70:	#4f4f28;
$color-green-80:	#35351e;
$color-green-90:	#1b1b11;
$color-green-black:	#000000;
/* ──────────────────────────────── Viridian ──────────────────────────────── */
$color-viridian-white:	#fefefe;
$color-viridian-10:		#eff5f2;
$color-viridian-20:		#cce4d6;
$color-viridian-30:		#a2d1b7;
$color-viridian-40:		#69b88b;
$color-viridian-50:		#46996a;
$color-viridian-60:		#377552;
$color-viridian-70:		#30543e;
$color-viridian-80:		#24392b;
$color-viridian-90:		#141d17;
$color-viridian-black:	#000000;
/* ────────────────────────────────── Teal ────────────────────────────────── */
$color-teal-white:	#fefefe;
$color-teal-10:		#eef5f5;
$color-teal-20:		#c9e4e2;
$color-teal-30:		#96d1cf;
$color-teal-40:		#68b5b1;
$color-teal-50:		#409693;
$color-teal-60:		#327370;
$color-teal-70:		#2c5352;
$color-teal-80:		#223737;
$color-teal-90:		#141c1c;
$color-teal-black:	#000000;
/* ────────────────────────────────── Blue ────────────────────────────────── */
$color-blue-white:	#fefefe;
$color-blue-10:		#f1f4f6;
$color-blue-20:		#d5e1e8;
$color-blue-30:		#b1cad8;
$color-blue-40:		#88adc2;
$color-blue-50:		#668ea5;
$color-blue-60:		#416e87;
$color-blue-70:		#2e5163;
$color-blue-80:		#243640;
$color-blue-90:		#141c21;
$color-blue-black:	#000000;
/* ──────────────────────────────── Lavender ──────────────────────────────── */
$color-lavender-white:#fefefe;
$color-lavender-10:	#f4f4f7;
$color-lavender-20:	#dedee9;
$color-lavender-30:	#c4c4db;
$color-lavender-40:	#a5a5ce;
$color-lavender-50:	#8484bc;
$color-lavender-60:	#6362a7;
$color-lavender-70:	#484684;
$color-lavender-80:	#302f5c;
$color-lavender-90:	#19192b;
$color-lavender-black:#000000;
/* ────────────────────────────────── Pink ────────────────────────────────── */
$color-pink-white:	#fefefe;
$color-pink-10:		#f9f1f2;
$color-pink-20:		#f5d7db;
$color-pink-30:		#f2b7c0;
$color-pink-40:		#f08a9c;
$color-pink-50:		#eb546c;
$color-pink-60:		#c23146;
$color-pink-70:		#951b2a;
$color-pink-80:		#5e1e21;
$color-pink-90:		#2e1313;
$color-pink-black:	#000000;
/* ─────────────────────────────────── Red ────────────────────────────────── */
$color-red-white:	#fefefe;
$color-red-10:		#f8f2f2;
$color-red-20:		#f0dad7;
$color-red-30:		#e8bcb6;
$color-red-40:		#e0958c;
$color-red-50:		#d6685d;
$color-red-60:		#c52f2b;
$color-red-70:		#941f1e;
$color-red-80:		#611b18;
$color-red-90:		#30120f;
$color-red-black:	#000000;
/* ───────────────────────────────── Orange ───────────────────────────────── */
$color-orange-white:#fefefe;
$color-orange-10:	#f9f2e9;
$color-orange-20:	#f7daba;
$color-orange-30:	#f7ba79;
$color-orange-40:	#f19134;
$color-orange-50:	#d66c1e;
$color-orange-60:	#a25426;
$color-orange-70:	#734023;
$color-orange-80:	#4a2d1c;
$color-orange-90:	#251810;
$color-orange-black:#000000;
/* ───────────────────────────────── Yellow ───────────────────────────────── */
$color-yellow-white:#fefefd;
$color-yellow-10:	#f7f4dd;
$color-yellow-20:	#f2df8d;
$color-yellow-30:	#ecc151;
$color-yellow-40:	#d69f28;
$color-yellow-50:	#af8122;
$color-yellow-60:	#836426;
$color-yellow-70:	#5e4a23;
$color-yellow-80:	#3e321c;
$color-yellow-90:	#201a10;
$color-yellow-black:#000000;
