@use 'variables/colors';
@use 'variables/theme';

body {
	--input-height: 32px;
	--input-radius: 4px;
}

button {
	padding: 0 16px;
	background-color: var(--layer-1);
	box-shadow: var(--input-shadow);

	&:hover {
		background-color: var(--layer-hover-1);
		box-shadow: var(--input-shadow-hover);
	}

	&:focus-visible {
		box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
	}

	&.mod-cta{
		background-color: rgba(var(--color-accent-rgb), 1);

		&:hover {
			filter: brightness(.95);
		}
		&:focus-visible {
			box-shadow: 0 0 0 2px var(--focus-inset),
						0 0 0 4px var(--background-modifier-border-focus);
		}
	}
}