body {
	--input-height: 32px;
	--input-radius: 4px;
}

.theme-light {
	--shadow-color: 0deg 5% 59%;

	--input-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12),
						  0px 0.5px 0.4px hsl(var(--shadow-color) / 0.47),
						  0px 0.8px 0.7px -1px hsl(var(--shadow-color) / 0.4),
						  0px 1.9px 1.7px -2px hsl(var(--shadow-color) / 0.32),
						  0px 4.5px 4px -3px hsl(var(--shadow-color) / 0.25),
						  0.1px 9.4px 8.4px -4.1px hsl(var(--shadow-color) / 0.18);

	--input-shadow-hover:inset 0 0 0 1px rgba(0, 0, 0, 0.17),
							   0px 0.5px 0.5px hsl(var(--shadow-color) / 0.47),
							   0px 0.9px 0.8px -1px hsl(var(--shadow-color) / 0.4),
							   0px 1.9px 1.7px -2px hsl(var(--shadow-color) / 0.33),
							   0px 4.5px 4.1px -3px hsl(var(--shadow-color) / 0.26),
							   0.1px 9.4px 8.5px -4px hsl(var(--shadow-color) / 0.19);
}

.theme-dark {
	--shadow-color: 0deg 0% 1%;

	--input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
						  0px 0.5px 0.4px hsl(var(--shadow-color) / 0.47),
						  0px 0.8px 0.7px -1px hsl(var(--shadow-color) / 0.4),
						  0px 1.9px 1.7px -2px hsl(var(--shadow-color) / 0.32),
						  0px 4.5px 4px -3px hsl(var(--shadow-color) / 0.25),
						  0.1px 9.4px 8.4px -4.1px hsl(var(--shadow-color) / 0.18);

	--input-shadow-hover:inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
							   0px 0.5px 0.5px hsl(var(--shadow-color) / 0.47),
							   0px 0.9px 0.8px -1px hsl(var(--shadow-color) / 0.4),
							   0px 1.9px 1.7px -2px hsl(var(--shadow-color) / 0.33),
							   0px 4.5px 4.1px -3px hsl(var(--shadow-color) / 0.26),
							   0.1px 9.4px 8.5px -4px hsl(var(--shadow-color) / 0.19);
}


button {
	padding: 0 16px;
	background-color: var(--layer-1);
	box-shadow: var(--input-shadow);

	&:hover {
		background-color: var(--layer-hover-1);
		box-shadow: var(--input-shadow-hover);
	}

	&:focus-visible {
		box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
	}

	&.mod-cta{
		background-color: rgba(var(--color-accent-rgb), 1);

		&:hover {
			filter: brightness(.95);
		}
		&:focus-visible {
			box-shadow: 0 0 0 2px var(--focus-inset),
						0 0 0 4px var(--background-modifier-border-focus);
		}
	}
}