.pickr .pcr-button,
.pickr .pcr-button::before,
.pickr .pcr-button::after {
	border-radius: 100vmax;
	box-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.25);

	&:hover {
		box-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.25), 0 0 0 3px var(--background-modifier-hover);
	}
}

.pcr-app .pcr-swatches > button,
.pcr-app .pcr-swatches > button::before,
.pcr-app .pcr-swatches > button::after {
	border-radius: 50%;
}

.pcr-app.visible {
	border-radius: var(--radius-m);
	gap: 4px;
}

.pcr-app[data-theme='nano'] .pcr-selection .pcr-color-preview {
	justify-content: flex-start;
}
.pcr-app[data-theme='nano'] .pcr-swatches {
	margin: 0;
}

.pcr-app[data-theme='nano'] .pcr-interaction {
	.pcr-result { //color value
		grid-area: result;
		margin: 0;
	}

	.pcr-type[data-type='RGBA'] { //color format
		grid-area: type-1;
		margin: 0;
		font-family: var(--font-interface);
	}

	.pcr-type[data-type='HEXA'] { //color format
		grid-area: type-2;
		margin: 0;
		font-family: var(--font-interface);
	}

	.pcr-type[data-type='HSLA'] { //color format
		grid-area: type-3;
		margin: 0;
		font-family: var(--font-interface);
	}

	.pcr-save { //save button
		grid-area: save;
		margin: 0;
		text-transform: capitalize;
		font-family: var(--font-interface);
	}

	.pcr-cancel {
		grid-area: cancel;
		margin: 0;
		font-family: var(--font-interface);
	}

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
	gap: 4px;
	grid-template-areas:
		"result result result"
		"type-1 type-2 type-3"
		"save save cancel";

}