@use 'variables/colors';
@use 'variables/theme';

select, .dropdown {
	padding: 0 32px 0 16px;
	box-shadow: var(--input-shadow);
	border-radius: var(--input-radius);
	background-color: var(--layer-1);
	background-repeat: no-repeat, repeat;
	background-position: right 8px top 60%, 0 0;
	background-size: 16px auto, 100%;

	&:hover {
		background-color: var(--layer-hover-1);
		box-shadow: var(--input-shadow-hover);
	}
	&:focus-visible {
		box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
	}
}

.theme-light .dropdown {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='icon' opacity='0.4' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E");
}

.theme-dark .dropdown {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='icon' fill='white' opacity='0.4' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cpolygon points='16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 '/%3E%3Crect id='_x3C_Transparent_Rectangle_x3E_' class='st0' width='32' height='32'/%3E%3C/svg%3E");
}