textarea,
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
	--input-radius: 0;

	background: var(--background-modifier-form-field);
	padding: 0px 16px;
	border-radius: var(--input-radius);
	height: var(--input-height);
	border-bottom: 1px solid var(--border-strong-1);
	border-bottom-color: var(--border-strong-1);
	transition: all var(--duration-moderate-2) var(--motion-expressive-entrance);
	margin-top: 8px;
	margin-bottom: 4px;

	&:hover:not(:focus):not(:focus-visible) {
		border-bottom-color: var(--background-modifier-border-focus);
		background-color: var(--field-hover-1);

		&::placeholder {
			color: var(--text-muted);
		}
	}
	&:focus {
		box-shadow: none;
		border-color: var(--background-modifier-border);
		border-bottom-color: var(--background-modifier-border-focus);

		&:placeholder-shown { //when starting to type, this will disappear
			box-shadow: 0 0 0 2px var(--background-primary),
						0 0 0 4px var(--background-modifier-border-focus);
		}
	}
}