body {
	--blockquote-border-thickness: 0px;
	--blockquote-size: .9rem;
	--blockquote-font-style: inherit;
	--blockquote-color: inherit;
	--blockquote-background-color: inherit;
	--blockquote-border-color: var(--background-modifier-border);
}

.markdown-rendered blockquote {
	font-size: var(--blockquote-size);
	color: var(--blockquote-color);
	font-style: var(--blockquote-font-style);
	background-color: var(--blockquote-background-color);
	border-left: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
	padding: 0 0 0 var(--size-7);
	margin-inline-start: 0;
	margin-inline-end: 0;
	quotes: "\201C""\201D""\2018""\2019";

	.blockquote-marker & {
		border-left: none;

		&:before {
			content: "";
			display: block;
			margin-bottom: 4px;
			height: var(--blockquote-border-thickness);
			width: 32px;
			background: var(--blockquote-border-color);
			background-size: 16px 2px;
		}
	}

	.blockquote-border & {
		padding-top: 16px;
		padding-bottom: 16px;
		border-top: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
		border-bottom: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
		border-left: none;

		&::before {
			content: none;
			width: 0;
			background: none;
		}
	}
}


.cm-s-obsidian span.cm-quote {
	color: var(--blockquote-color);
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
	font-style: var(--blockquote-style);
	border: 0 solid var(--blockquote-border-color);
	border-left-width: var(--blockquote-border-thickness);
	background-color: var(--blockquote-background-color);

	.blockquote-marker & {
		border-left: none;
	}
}

.blockquote-marker .markdown-source-view.mod-cm6 .cm-blockquote-border {
	border-left: none;
}