body {
	--callout-radius: var(--radius-s); // obsidian default setting
	--callout-border-opacity: 30%;

	--callout-border-width: 0px;
	--callout-padding: var(--size-4-4) var(--size-4-3) var(--size-4-3) var(--size-4-6);
	--callout-radius: var(--radius-s);
	--callout-title-padding: 0;
	--callout-title-background: transparent;
	--callout-title-size: inherit;
	--callout-content-padding: 0;
}

.callout {
	border: var(--callout-border-width) solid rgba(var(--callout-color), var(--callout-border-opacity));
	background-color: rgba(var(--callout-color), .2);
	
	&-title-inner {
		padding-left: 2px;
	}

	& .callout-icon {
		align-self: baseline;

		svg {
			height: var(--icon-s);
			width: var(--icon-s);
		}
	}
}

/*	Callout Colors
—————————————————————————————————————————————————————————*/

.callout[data-callout='note'] {
	--callout-color: 104, 145, 181;
}

.callout[data-callout='abstract'],
.callout[data-callout='summary'],
.callout[data-callout='tldr'] {
	--callout-color: 104, 145, 181;
}

.callout[data-callout='info'],
.callout[data-callout='todo'] {
	--callout-color: 99, 149, 156;
}

.callout[data-callout='tip'],
.callout[data-callout='hint'],
.callout[data-callout='important'] {
	--callout-color: 92, 153, 124;
}

.callout[data-callout='success'],
.callout[data-callout='check'],
.callout[data-callout='done'] {
	--callout-color: 102, 153, 97;
}

.callout[data-callout='question'],
.callout[data-callout='help'],
.callout[data-callout='faq'] {
	--callout-color:  141, 147, 25;
}

.callout[data-callout='warning'],
.callout[data-callout='caution'],
.callout[data-callout='attention'] {
	--callout-color: 184, 131, 0;
}

.callout[data-callout='failure'],
.callout[data-callout='fail'],
.callout[data-callout='missing'] {
	--callout-color: 226, 105, 52;
}

.callout[data-callout='danger'],
.callout[data-callout='error'] {
	--callout-color: 243, 90, 55;
}

.callout[data-callout='bug'] {
	--callout-color: 236, 90, 118;
}

.callout[data-callout='example'] {
	--callout-color: 165, 119, 218;
}

.callout[data-callout='quote'],
.callout[data-callout='cite'] {
	--callout-color: var(--gray-50);
}









