body:not(.is-grabbing) .nav-file-title.is-being-dragged,
body:not(.is-grabbing) .nav-folder-title.is-being-dragged,
.nav-file-title.is-being-dragged,
.nav-folder-title.is-being-dragged {
	background-color: rgba(var(--color-accent-rgb), .5);
}

.workspace-drop-overlay:before {
	background-color: rgba(var(--color-accent-rgb), .5);
	opacity: 1;
}

