body svg * {
	stroke-linecap: auto;
	stroke-linejoin: auto;
	rx: 1px;
	ry: 1px;
}

body {
	--icon-xs: 16px;
	--icon-s: 16px;
	--icon-m: 18px;
	--icon-l: 18px;
	--icon-xs-stroke-width: 1px;
	--icon-s-stroke-width: 1px;
	--icon-m-stroke-width: 1.25px;
	--icon-l-stroke-width: 1.25px;
}
