.notice {
	color: var(--text-normal);
	padding: .875em 1em .875em 1em;
	max-width: 288px;
	margin-bottom: 16px;
}

.theme-light .notice {
	--shadow-color: 60deg 5% 59%;

	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12),
				0px 0.5px 0.5px hsl(var(--shadow-color) / 0.43),
				0px 1.5px 1.6px -1px hsl(var(--shadow-color) / 0.4),
				0px 4px 4.2px -2px hsl(var(--shadow-color) / 0.36),
				0px 10.1px 10.6px -3px hsl(var(--shadow-color) / 0.32);
}

.theme-dark .notice {
	--shadow-color: 0deg 0% 1%;

	box-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
				0px 0.5px 0.5px hsl(var(--shadow-color) / 0.43),
				0px 1.5px 1.6px -1px hsl(var(--shadow-color) / 0.4),
				0px 4px 4.2px -2px hsl(var(--shadow-color) / 0.36),
				0px 10.1px 10.6px -3px hsl(var(--shadow-color) / 0.32);
}