body {
	--popover-width: 450px;
	--popover-height: 400px;
	--popover-max-height: 70vh;
	--popover-pdf-width: 600px;
	--popover-pdf-height: 800px;
	--popover-font-size: var(--font-text-size);
}

.theme-light .popover {
	--shadow-color: 60deg 5% 59%;
}

.theme-dark .popover {
	--shadow-color: 0deg 0% 1%;
}

.popover {
	box-shadow: 0px 0.5px 0.5px hsl(var(--shadow-color) / 0.43),
	0px 1.5px 1.6px -1px hsl(var(--shadow-color) / 0.4),
	0px 4px 4.2px -2px hsl(var(--shadow-color) / 0.36),
	0px 10.1px 10.6px -3px hsl(var(--shadow-color) / 0.32);
}