@use 'variables/colors';
@use 'variables/theme';

body {
	--scrollbar-active-thumb-bg: rgba(var(--mono-rgb-100), 0.2);
	--scrollbar-bg: rgba(var(--mono-rgb-100), 0.05);
	--scrollbar-thumb-bg: rgba(var(--mono-rgb-100), 0.1);
}