// @use 'variables/colors';
// @use 'variables/theme';
// @use 'obsidian/typography';

.mod-settings .vertical-tab-content > .setting-item:nth-child(2) > .setting-item-control > input[type="color"] {
	visibility: hidden;
	width: 300px;
}

.mod-settings .vertical-tab-content > .setting-item:nth-child(2) > .setting-item-control .lucide-rotate-ccw {
	display: none;
}

.mod-settings .vertical-tab-content > .setting-item:nth-child(2) > .setting-item-control > input[type="color"]::before {
	visibility: visible;
	content: "The accent color is overridden by the theme. Use the Style Settings Plugin to customize theme colors.";
	color: var(--text-error);
	font-family: var(--font-interface);
	font-size: var(--font-ui-smaller);
	line-height: 1.3;
	position: relative;
}


.view-content .style-settings-container .setting-item:not(.setting-item-heading) {
	flex-direction: row;
}


.community-item.is-selected {
	border-color: var(--interactive);
	background-color: var(--background-primary);
	color: var(--text-normal);

	.community-item-author,
	.community-item-downloads {
		color: var(--text-muted);
		opacity: 1;
	}
}

.community-item.is-selected:hover,
.community-item:hover {
	background-color: var(--background-modifier-hover);
	color: var(--text-normal);


	.community-item-author,
	.community-item-downloads {
		color: var(--text-muted);
		opacity: 1;
	}
}

.style-settings-heading {
	border-bottom: none;
	border-top: 1px solid var(--background-modifier-border);
	margin-bottom: 0;
	min-height: 40px;
	padding: 8px 0;
}

.style-settings-container {
	margin-bottom: 24px;
	padding-left: 16px;
	padding-top: 8px;
}

.themed-color-wrapper > div {
	padding: 4px;
}

.style-settings-heading.is-collapsed .style-settings-collapse-indicator > svg.right-triangle {
	transform: scale(1.5);
}

.style-settings-collapse-indicator > svg.right-triangle {
	transform: scale(1.5) scaleY(-1);
}