// @use 'variables/colors';
// @use 'variables/theme';

body {
	--tag-size: var(--font-smaller);
	--tag-color: var(--text-accent);
	--tag-color-hover: var(--text-accent);
	--tag-decoration: none;
	--tag-decoration-hover: none;
	--tag-background: rgba(var(--color-accent-rgb), 0.15);
	--tag-background-hover: rgba(var(--color-accent-rgb), 0.25);
	--tag-border-color: rgba(var(--color-accent-rgb), 0.15);
	--tag-border-color-hover: rgba(var(--color-accent-rgb), 0.25);
	--tag-border-width: 0px;
	--tag-padding-x: 0.65em;
	--tag-padding-y: 0.25em;
	--tag-radius: 2em;
}