.view-header:not(.focus-within) {
	height: 0px;
	border-width: 0;
}

.view-header .view-actions {
	position: sticky;
	margin-top: 24px;
}

.workspace-leaf-content[data-type='style-settings'] .view-header,
.workspace-leaf-content[data-type='graph'] .view-header {
	height: unset;

	.view-header-title {
		visibility: hidden;
	}
	.view-actions {
		position: unset;
		margin-top: unset;
	}
}

body.pane-relief-pane-numbering .workspace-split .workspace-leaf-content[data-type='style-settings'] .view-header-icon {
	display: none;
}

.sticky-view-actions .view-header {
	height: unset;
	border-width: 1px;
}

.sticky-view-actions .view-header .view-actions {
	position: unset;
	margin-top: unset;
}