@use 'variables/colors';
@use 'variables/theme';

.tooltip {
	color: var(--background-primary);
	background-color: var(--background-inverse);
	left: 50%;
	max-width: 288px;
	padding: 4px 16px;
}

.theme-light .tooltip {
	--shadow-color: 60deg 5% 59%;

	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12),
				0px 0.5px 0.5px hsl(var(--shadow-color) / 0.43),
				0px 1.5px 1.6px -1px hsl(var(--shadow-color) / 0.4),
				0px 4px 4.2px -2px hsl(var(--shadow-color) / 0.36),
				0px 10.1px 10.6px -3px hsl(var(--shadow-color) / 0.32);
}

.theme-dark .tooltip {
	--shadow-color: 0deg 0% 1%;

	box-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
				0px 0.5px 0.5px hsl(var(--shadow-color) / 0.43),
				0px 1.5px 1.6px -1px hsl(var(--shadow-color) / 0.4),
				0px 4px 4.2px -2px hsl(var(--shadow-color) / 0.36),
				0px 10.1px 10.6px -3px hsl(var(--shadow-color) / 0.32);
}


/* Triangle hack to make tooltip look like a speech bubble */
.tooltip .tooltip-arrow {
	position: absolute;
	top: -5px;
	left: 50%;
	width: 0;
	margin-left: -5px;
	border-bottom: 5px solid var(--background-inverse);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}
.tooltip.mod-right .tooltip-arrow {
	top: calc(50% - 5px);
	left: -5px;
	border-right: 5px solid var(--background-inverse);
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.tooltip.mod-left .tooltip-arrow {
	top: calc(50% - 5px);
	left: calc(100% + 5px);
	border-left: 5px solid var(--background-inverse);
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.tooltip.mod-top .tooltip-arrow {
	top: calc(100%);
	border-top: 5px solid var(--background-inverse);
	border-bottom: 5px solid transparent;
}
.tooltip.mod-error .tooltip-arrow {
	border-bottom-color: var(--background-modifier-error);
}
.tooltip.mod-error.mod-right .tooltip-arrow {
	border-right-color: var(--background-modifier-error);
	border-bottom: 5px solid transparent;
}
.tooltip.mod-error.mod-left .tooltip-arrow {
	border-left-color: var(--background-modifier-error);
	border-bottom: 5px solid transparent;
}