.markdown-preview-view div.callout,
.markdown-source-view.mod-cm6.is-live-preview div.callout {
	background-color: rgb(var(--rgb-primary-0), .3);
	border-left: 1.5px solid rgb(var(--callout-color), 0.5);
	border-radius: 0 4px 4px 0px;

	.callout-title {
		padding: 8px;
		gap: 8px;
		/* background-color: rgb(var(--callout-color),0.1); */
		background-color: transparent;
		border-bottom: 1px solid rgb(var(--callout-color), .5);

		&-inner {
			font-weight: var(--font-bold);
		}
	}
}


.markdown-source-view.mod-cm6.is-live-preview .HyperMD-callout {
	& .cm-blockquote-border	{
		border: none;
		color: transparent;
	}
}
