.markdown-preview-view code,.markdown-preview-view pre {
	border-radius: 0px;
}


.cm-s-obsidian div.HyperMD-codeblock-begin-bg,
.cm-s-obsidian div.HyperMD-codeblock-bg,
.cm-s-obsidian div.HyperMD-codeblock-end-bg,
.cm-s-obsidian pre.HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code,
.markdown-preview-view code,
.markdown-preview-view div.el-pre pre,
.markdown-preview-view span.cm-inline-code,
.theme-dark code[class*=language-],
.theme-dark pre[class*=language-],
.theme-light code[class*=language-],
.theme-light pre[class*=language-] {
	font-variant-ligatures: no-common-ligatures;
	font-family: var(--font-monospace);
	font-weight: var(--font-medium);
	font-size: var(--font-scale-00);
	line-height: var(--leading-2);
	letter-spacing: var(--tracking-2);
	border-radius: 3px;
}

//latex
.cm-s-obsidian .cm-math {
	font-variant-ligatures: no-common-ligatures;
	font-family: var(--font-monospace);
	font-weight: var(--font-medium);
	letter-spacing: var(--tracking-2);
}

.theme-dark code[class*=language-],
.theme-dark pre[class*=language-],
.theme-light code[class*=language-],
.theme-light pre[class*=language-] {
	padding-top: 2px;
	padding-bottom: 2px;
}

.markdown-preview-view code,
.markdown-preview-view div.el-pre pre,
.markdown-preview-view span.cm-inline-code,
code[class*=language-],
pre[class*=language-],
code[class*=language-],
pre[class*=language-] {
	background-color: rgb(var(--rgb-primary-0), 0.7);
}

.cm-s-obsidian span.cm-inline-code,
.markdown-preview-view span.cm-inline-code {
	font-size: var(--font-scale-00);
	line-height: var(--leading-0);
}

.markdown-preview-view div.el-pre pre:not(pre.frontmatter.language-yaml) {
	padding: 8px
			 40px
			 8px
			 16px;
	white-space: wrap;
	width: 100%;
	border: 1px solid var(--color-border-2); //color block borders
}

// preview
.markdown-preview-view code {
	color: var(--color-pink-5);
	padding: 0px 4px;
	line-height: 1.5; /* this fixes the padding not doing its job thing*/
	font-family: var(--font-monospace);
}

.markdown-preview-view p code { // makes it only applies to inline code (the p is the filter)
	border: 1px solid var(--color-border-2); //inline code borders
}

// edit
.cm-s-obsidian .cm-math,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code {
	color: var(--color-pink-5);
}

.cm-s-obsidian span.cm-inline-code {
	border-radius: 4px;
}
/*
.cm-s-obsidian .cm-line:not(.cm-active.cm-line) span.cm-inline-code {
	outline: 1px solid var(--color-primary-1);
	padding: 0 4px;	
	.theme-light & {
		outline-color: var(--color-primary-2);
	}
}*/

//Live Preview
.markdown-source-view .HyperMD-codeblock.HyperMD-codeblock-bg.cm-line,
.cm-s-obsidian div.HyperMD-codeblock-begin-bg,
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
	background-color: rgb(var(--rgb-primary-0), 0.7);
}

/* ────────────────────────────── Code Comments ───────────────────────────── */
.cm-s-obsidian .HyperMD-codeblock span.cm-comment,
.markdown-preview-view code .token.comment {
	font-weight: var(--font-light);
	font-style: normal;
}

/* ──────────────────────────── Copy Code Button ──────────────────────────── */
body:not(.is-mobile) button.copy-code-button {
	display: block;
	content: "";
	-webkit-mask-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M28 10v18H10V10h18m0-2H10a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V10a2 2 0 0 0-2-2Z'/%3E%3Cpath d='M4 18H2V4a2 2 0 0 1 2-2h14v2H4Z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	transform: scale(1.65);
	background-repeat: no-repeat;
	color: currentColor;
	background-color: var(--text-faint);
	font-size: 0px;
	position: absolute;
	top: 10px;
	right: 10px;
	transition: transform var(--duration-fast-1) var(--motion-standard-expressive);

	&:hover {
		background-color: var(--text-muted);
	}
	&:active {
		background-color: var(--text-normal);
		transform: scale(1.4); // makes it shrink a bit when clicked
		transition: transform var(--duration-fast-1) var(--motion-standard-expressive);
	}
}

.is-mobile button.copy-code-button {
	width: 100%;
	top: -4px;
	border-radius: 0;
	background-color: var(--background-primary);
	border-bottom: 1px solid var(--color-border-1);
}

/* ───────────────────────────── Pure Text Block ──────────────────────────── */
code[class*=language-pure-text],
.markdown-preview-view div.el-pre:not(pre.frontmatter.language-yaml) pre[class*=language-pure-text],
.markdown-preview-view div.el-pre:not(pre.frontmatter.language-yaml) pre[class*=language-pure-text] .language-pure-text.is-loaded {
	font-variant-ligatures: common-ligatures;
	color: var(--text-normal);
	font-family: var(--font-text);
	font-weight: var(--font-regular);
	font-size: var(--font-scale-0);
	white-space: normal;
	text-shadow: transparent 0px 1px;
	hyphens: auto;
	background-color: transparent;
	padding-left: 0;
	border: 0px solid transparent;
}

/* ───────────────────────────── Code Highlights ──────────────────────────── */

.theme-light,
.theme-dark {
	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata,
	.cm-comment,
	.cm-meta,
	.cm-qualifier {
		color: var(--text-faint);
	}
	.token.punctuation,
	.cm-punctuation,
	.cm-bracket,
	.cm-hr {
		color: var(--text-faint);
	}
	.token.namespace {
		opacity: 0.7;
	}
	.token.property,
	.token.tag,
	.token.boolean,
	.token.number,
	.token.constant,
	.token.symbol,
	.token.deleted,
	.cm-number,
	.cm-tag {
		color: var(--color-pink-5);
	}
	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted,
	.cm-attribute {
		color: var(--color-green-5);
	}
	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.cm-operator,
	.cm-string,
	.cm-string-2,
	.cm-link {
		color: var(--color-orange-5);
	}
	.token.atrule,
	.token.attr-value,
	.token.keyword,
	.cm-keyword,
	.cm-builtin {
		color: var(--color-teal-5);
	}
	.token.function,
	.token.class-name,
	.cm-type,
	.cm-def {
		color: var(--color-lavender-5);
	}
	.token.regex,
	.token.important,
	.token.variable,
	.cm-variable-2,
	.cm-variable-3 {
		color: var(--color-orange-5);
	}
}