.cm-s-obsidian span.cm-comment,
.markdown-preview-view .token.comment {
	font-weight: var(--font-extra-light);
	font-style: normal;
}

.cm-s-obsidian span.cm-comment,
.markdown-preview-view .token.comment {
		color: var(--text-faint);
}

//makes list markers the same colour as comments (styles the marker only if it's followed by a comment element)
.cm-comment.cm-hmd-list-indent + .list-bullet::before {
	color: var(--text-faint);
}