.CodeMirror-cursor {
	border:none;
	border-right: 2px solid var(--color-accent);
}

.cm-focused .cm-cursor-primary.cm-fat-cursor, //vim cursor
.cm-fat-cursor .CodeMirror-cursor {
	background: var(--color-accent);
	color: var(--color-accent);
}

.CodeMirror div.CodeMirror-secondarycursor {
	border-left: 2px solid var(--color-accent);
}
