/* ────── Adapted from Matthias C. Hormann's (Moonbase59) Clean Embeds ────── */

// remove border and scroll
.markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed,
.markdown-source-view .markdown-embed,
.markdown-source-view .file-embed {
	border: none;
	padding: 0px;
	margin: 0px;
}

.markdown-embed .markdown-preview-view .markdown-preview-sizer.markdown-preview-section {
	margin: 0; // makes embeds look like normal text (margin-wise)
}

.markdown-embed-title { //removed embed file title
	display: none;
}

/* Link icon */
.markdown-embed .markdown-embed-link,
.markdown-embed .file-embed-link {
	top: 0;
	right: 0;
	left: unset;
	text-align: right;
	border: none;
	margin: 0 24px;
	width: 24px;
	height: 24px;
	color: var(--text-faint);
	cursor: pointer;
	display: unset;
	opacity: 0
}

.markdown-embed:hover .markdown-embed-link,
.markdown-embed:hover .file-embed-link {
	opacity: 1; //makes link icon show when hovering embeds
}

.markdown-embed:hover .markdown-embed-link:hover,
.markdown-embed:hover .file-embed-link:hover {
	opacity: 1;
	color: var(--text-muted); //makes link icon change color once hovered
}

// change background on hover, to exactly see what’s embedded
.markdown-source-view .markdown-embed:hover,
.markdown-source-view .file-embed:hover,
.markdown-preview-view .markdown-embed:hover,
.markdown-preview-view .file-embed:hover {
	border: none;
	background-color: transparent;
	border-radius: 4px;
}

.markdown-preview-view .markdown-embed-content,
.markdown-preview-view .markdown-embed-content > .markdown-preview-view { 
	max-height: unset;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

// make tables respect readable line width when having embeds.
// Decent for Eisenhower matrixes
.markdown-preview-view table .markdown-embed-content,
.markdown-preview-view table .markdown-embed-content > .markdown-preview-view { 
	max-width: 310px;
}

// remove <br> between internal embeds
.markdown-preview-section div > br {
	display: none;
}

// remove vertical space added by markdown-preview-sizer
 div.markdown-preview-sizer.markdown-preview-section {
	min-height: unset;
	padding-bottom: 0px;
}

// special considerations for printing (PDF export)
@media print {

// remove frontmatter box if "Show frontmatter" was enabled */
// Also remove metadata table from "Metatable" plugin */
//	pre.frontmatter,
	.obsidian-metatable {
		display: none;
	}

	iframe {
	    border-width: 0px;
	    border-style: inset;
	    border-color: initial;
	    border-image: initial;
	}
}

/* ────────────────────────────── Live Preview ────────────────────────────── */

.markdown-source-view.mod-cm6 .cm-embed-block {
	border: 1px solid transparent;
	border-radius: 4px;

	&:hover {
		border-color: var(--color-border-2);
	}
}