/* ───────────────────────────── External Links ───────────────────────────── */
.cm-commenturl, //external links in comments
.cm-s-obsidian span.cm-link,
.markdown-source-view.mod-cm6 .cm-underline,
.external-link {
	word-break: break-all;
	text-decoration: none;
	color: var(--text-accent);
	border-radius: 4px;
	background: none;
	padding-right: 0;

	&:hover {
		color: var(--text-accent);
		background-color: rgba(var(--color-accent-l) / .2);
		transition: background var(--duration-moderate-2) var(--motion-entrance-productive);
	
		.theme-dark & {
			background-color: rgba(var(--color-accent-d) / .2);
		}
	}
}

.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-url, // regular external link
.cm-s-obsidian span.cm-formatting-link.cm-link { // [alias](external link)
	color: var(--text-accent);
	text-decoration: none;

	&:hover {
		color: var(--text-accent);
	}
}

.cm-s-obsidian span.cm-string.cm-url { // link url
	color: var(--text-faint);
}

//Link icon
.external-link:after,
.cm-commenturl:after {
	display: inline;
	content: "";
	background-color: var(--color-accent);
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M26 28H6a2.003 2.003 0 0 1-2-2V6a2.003 2.003 0 0 1 2-2h10v2H6v20h20V16h2v10a2.003 2.003 0 0 1-2 2Z'/%3E%3Cpath d='M20 2v2h6.586L18 12.586 19.414 14 28 5.414V12h2V2H20z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z' data-name='&lt;Transparent Rectangle&gt;'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	font-size: 12px;
	vertical-align: -1.5px;
	padding-right: 12px;
}

/* ───────────────────────────── Internal Links ───────────────────────────── */
.cm-s-obsidian span.cm-hmd-internal-link {
	background-color: transparent; /* no background in highlights in Editing View*/
}

.callout-content .internal-link,
.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-preview-view .internal-link {
	text-decoration: none;
	color: var(--text-accent);
	font-weight: 450;
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: .125em;
	border-radius: 4px;

	&:hover {
		text-decoration: none;
		color: var(--text-accent);
		background-color: rgba(var(--color-accent-l) / .2);
		transition: background var(--duration-moderate-2) var(--motion-entrance-productive);
	
		.theme-dark & {
			background-color: rgba(var(--color-accent-d) / .2);
		}
	}
}

.markdown-preview-view mark .internal-link {
	color: var(--text-accent); //gives accent color to highlighted internal links
}

.cm-comment.cm-hmd-internal-link .cm-underline {
	font-weight: var(--font-medium); //gives proper weight to internal links in comments

}


/* Highlight fix */
.markdown-rendered mark,
.cm-highlight.cm-hmd-internal-link .cm-underline {
	background: rgba(214 159 40 / .5);
	padding: 3px 0 1.5px 0;
	border-radius: 0;
	
	.alt-link & {
		padding: 0;
	}
}

.markdown-rendered em mark,
.cm-em.cm-highlight.cm-hmd-internal-link .cm-underline {
	background-color: rgba(104 181 177 / .5);
	font-style: normal;
}

.markdown-rendered strong mark,
.cm-highlight.cm-hmd-internal-link.cm-strong .cm-underline {
	background-color: rgba(240 138 156 / .5);
	font-weight: var(--font-regular);
}

.alt-link .cm-s-obsidian span.cm-hmd-internal-link,
.alt-link .markdown-preview-view .internal-link {
	text-decoration: none;
	color: var(--text-accent);
	font-weight: 450;
	text-transform: none;
	font-size: inherit;
	letter-spacing: inherit;
	border-radius: 4px;
}
/* ──────────────────────────── Unresolved Links ──────────────────────────── */
// Internal link to uncreated note
.markdown-preview-view .internal-link.is-unresolved {
	opacity: .6;
}