ul li::marker,
ol li::marker {
	font-weight: var(--font-regular);
	font-size: var(--font-scale-0);
	font-family: var(--font-text-theme); // not font-preview, because otherwise it will change
	font-variant-numeric: tabular-nums;
}

li::marker {
	color: inherit;
	-webkit-font-smoothing: auto;
}

.markdown-preview-view {
	& ol li p {
		margin: 0;
	}
	& ol li,
	& ul li {
		line-height: var(--leading-4); //adds white space to lists, and makes it match task lists
		margin: 4px 0;
		padding-left: 4px;
	}
	
	& .list-collapse-indicator { // generic ul and task list
		margin-left: -2.5rem;
		color: var(--text-faint);
	}
	& ul .list-collapse-indicator {
		padding-left: 4px;
	}
	& ol li .list-collapse-indicator { // ol under 10
		margin-left: -3rem;
	}
	& ol li:nth-child(n+10) ol ol li:nth-child(n+10) .list-collapse-indicator, // ol over 10
	& ol li:nth-child(n+10) .list-collapse-indicator {
		margin-left: -3rem;
	}
	& ol li:nth-child(n+10) ol .list-collapse-indicator {
		margin-left: -3rem;
	}
}
/* ────────────────────────────── Ordered List ────────────────────────────── */

ol,
ol ol ol,
ol ol ol ol ol,
ol ol ol ol ol ol ol {
	margin-left: 0px;
	list-style-type: decimal;
}

ol ol,
ol ol ol ol,
ol ol ol ol ol ol,
ol ol ol ol ol ol ol ol {
	margin-left: 0px;
	list-style-type: lower-alpha;
}

/* ───────────────────────────── Unordered List ───────────────────────────── */
ul {
	padding-inline-start: 1.5rem;
	list-style-position: outside;
}

ul,
ul ul ul,
ul ul ul ul ul,
ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul,
ol ul, // making sure that even if you indent an ul inside an ol, it will display the correct list-style-type
ul ol ul,
ol ol ul,
ol ul ol ul,
ol ul ul ul,	
ul ol ul ul ul {
	list-style-type: var(--marker-odd); // "\2009" stands for thin space
	margin: 0px;
	padding: 0px;
	padding-left: 1.5rem;
}

ul ul,
ul ul ul ul,
ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul,
ul ul ul ul ul ul ul ul ul ul,
ol ul ul,
ol ol ul ul,
ul ol ul ul,
ol ul ol ul ul,
ul ol ol ul ul {
	list-style-type: var(--marker-even); // don't set it as square, because it will misalign
	padding: 0px;
	padding-left: 1.5rem;
}


ol {
	padding-inline-start: 1.5em;
	list-style-position: outside;
}

li {
	margin-bottom: 4px; // adds a bit more spacing to lists
}

.cm-s-obsidian .HyperMD-list-line {
	padding-top: 0; // avoids weird disalignment with line numbers
}

// Live Preview bullet points
.list-bullet {
	left: 4px;
	padding-right: 6px; //fixes double markers
}

.markdown-source-view.mod-cm6 .list-bullet::after {
	font-family: var(--font-text-theme);
}
.list-bullet::after {
	color:var(--text-normal);
	transform: translateY(1px);
}

.markdown-source-view.mod-cm6 {
	& div.HyperMD-list-line.HyperMD-list-line-1.cm-line .list-bullet::after { content: var(--marker-odd) ;}
	& div.HyperMD-list-line.HyperMD-list-line-2.cm-line .list-bullet::after { content: var(--marker-even);}
	& div.HyperMD-list-line.HyperMD-list-line-3.cm-line .list-bullet::after { content: var(--marker-odd); }
	& div.HyperMD-list-line.HyperMD-list-line-4.cm-line .list-bullet::after { content: var(--marker-even); }
	& div.HyperMD-list-line.HyperMD-list-line-5.cm-line .list-bullet::after { content: var(--marker-odd); }
	& div.HyperMD-list-line.HyperMD-list-line-6.cm-line .list-bullet::after { content: var(--marker-even); }
	& div.HyperMD-list-line.HyperMD-list-line-7.cm-line .list-bullet::after { content: var(--marker-odd); }
	& div.HyperMD-list-line.HyperMD-list-line-8.cm-line .list-bullet::after { content: var(--marker-even);}
	& div.HyperMD-list-line.HyperMD-list-line-9.cm-line .list-bullet::after { content: var(--marker-odd); }
	& div.HyperMD-list-line.HyperMD-list-line-10.cm-line .list-bullet::after { content: var(--marker-even); }
}



span.cm-comment .list-bullet::after { // makes bullets same colors as comments when inside them
	color: var(--text-faint);
}

.markdown-source-view.mod-cm6 .cm-list-2 .list-bullet,
.markdown-source-view.mod-cm6 .cm-list-4 .list-bullet,
.markdown-source-view.mod-cm6 .cm-list-6 .list-bullet,
.markdown-source-view.mod-cm6 .cm-list-8 .list-bullet,
.markdown-source-view.mod-cm6 .cm-list-10 .list-bullet {
	left: 1px;
}

.markdown-source-view.mod-cm6 .cm-list-1 .list-bullet,
.markdown-source-view.mod-cm6 .cm-list-3 .list-bullet,
.markdown-source-view.mod-cm6 .cm-list-5 .list-bullet,
.markdown-source-view.mod-cm6 .cm-list-7 .list-bullet,
.markdown-source-view.mod-cm6 .cm-list-9 .list-bullet {
	left: -1px;
}

.cm-line.HyperMD-task-line .cm-hmd-list-indent {
	padding-left: 3px; //works on some indented lists with a task parent
}

.markdown-source-view.mod-cm6.is-live-preview .cm-fold-indicator .collapse-indicator {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding-right: 8px;
}

.markdown-source-view.mod-cm6 .HyperMD-task-line .cm-list-1 {
	padding-left: 8px;
}

.markdown-preview-view ul li.task-list-item .task-list-item-checkbox {
	margin-right: 8px;
}