/* Tags in Edit Mode */

div > .CodeMirror-line span.cm-hashtag-end {
	font-weight: var(--font-regular);
	color: var(--color-accent);
}

/* Tags in Preview */
.cm-s-obsidian span.cm-hashtag,
.tag:not(.token) {
	display: inline-block;
	background-color: rgba(var(--color-accent-l) / .15); //light mode
	color: var(--color-accent);
	font-size: var(--font-scale-00);
	font-weight: var(--font-regular);
	line-height: var(--leading-0);
	padding: 2px 4px 2px 4px;
	text-align: center;
	text-decoration: none;
	margin: 0px 0px;
	border: 1px solid transparent;
	border-radius: .4em;
/* 	border-color: rgba(var(--color-accent-d) / .2); //dark mode
	border: 1px solid rgba(var(--color-accent-l) / .2); //light mode */
	transition: var(--duration-moderate-1) var(--motion-exit-productive);
	filter: saturate(1);
	
	.theme-dark & {
		background-color: rgba(var(--color-accent-d) / .15); //dark mode
	}

	&:hover {
		cursor: pointer;
		border: 1px solid var(--color-accent);
	}
}

.cm-s-obsidian span.cm-hashtag {
	padding: 2px 0px 2px 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	&:hover {
		border-color: transparent;
	}
}

span.cm-hashtag.cm-hashtag-end {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: .4em;
	border-bottom-right-radius: .4em;
	padding-left: 0;
	padding-right: 8px;

	&::before {
		display: none;
	}
}