.tag-tag.el-pre {
	display: flex;
	flex-direction: column-reverse;
}

/* ───────────────────────────── METADATA BLOCK ───────────────────────────── */
.markdown-preview-view .frontmatter-container {
	font-size: .75rem;
	font-weight: var(--font-medium);
	color: var(--text-muted);
	background-color: transparent;
	border: 0px;
	border-bottom: 0px solid var(--color-border-1);
	border-radius: 0px;
	padding: 8px 16px 4px 0px;

	& .frontmatter-section-label {
		display: none;
	}
	& .frontmatter-section.mod-tags {
		margin-bottom: 0;
	}
	& .frontmatter-section {
		margin: 8px 0;
	}
	& .frontmatter-container-header{ //"Metadata" title
		font-size: .75rem;
		border-bottom: 0px;
		color: var(--text-faint);
	}
	&-header {
		user-select: none;
		cursor: pointer;
		font-size: var(--font-scale-000);
		text-transform: uppercase;
		font-weight: 400;
		margin: 0px;
	}
	& .frontmatter-alias {
		border-radius: 30px;
		background-color: var(--background-primary-alt);
		font-size: var(--font-scale-000);
		font-weight: var(--font-regular);
		line-height: var(--leading-4);
		color: var(--text-muted);
		margin-left: 0px;
		margin-right: 4px;
		padding: 0px 8px 0px 8px;
		border: 1px solid var(--color-border-1);
	}
	& .tag {
		border-radius: .8em;
		padding: 2px 8px;
		font-size: var(--font-scale-000);
		border: 1px solid rgba(var(--color-accent-l) / .2); //light mode
		margin-right: 8px;
		letter-spacing: var(--tracking-2);

		.theme-dark & {
			border-color: rgba(var(--color-accent-d) / .2); //dark mode
		}
	
		&:hover {
		color: var(--color-accent);
		font-weight: var(--font-regular);
		background-color: rgba(var(--color-accent-d) / .3); //dark mode
		background-color: rgba(var(--color-accent-l) / .3); //light mode
		border-color: rgba(var(--color-accent-d) / .4); //dark mode
		border: 1px solid rgba(var(--color-accent-l) / .4); //light mode
		}
	}
}

// YAML
body .markdown-preview-view pre.frontmatter.language-yaml { // big metadata and yaml container
	background: var(--background-primary);
	font-weight: var(--font-regular);
	text-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid var(--color-border-1);
	padding: 4px 0 0 0;
	margin-bottom: 16px;
	margin-top: 4px;
}

code.language-yaml.is-loaded {
/*	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	grid-template-columns: 1fr 1fr;
	place-items: center start;
	gap: 0px 8px;*/
	font-family: var(--font-preview);
	font-weight: var(--font-light);
	background-color: transparent;
	text-shadow: none;
	font-size: var(--font-scale-00);
	line-height: 1.8em;
	padding: 4px 0 2px 0px; 
	// didn't add a transition because it makes the hover extremely buggy
	
	& .token {
		font-weight: var(--font-light);
	}
	& .token.selector,
	& .token.attr-name,
	& .token.string,
	& .token.char,
	& .token.builtin,
	& .token.inserted {
		color: var(--color-orange);
	}
	& .token.boolean,
	& .token.number {
		color: var(--color-blue);
	}
	& .token.punctuation {
		display: visible; // can use this to remove colons
	}
	& .token:not(.token.key.atrule) {
		color: var(--text-normal);
		padding-left: 4px;
	}
	.token.key.atrule {
		color: var(--color-accent); // this adds a bit more contrast compared to text-normal
		font-weight: var(--font-regular);
	}
}

// Metadata Container in Edit Mode
.cm-s-obsidian span.cm-hmd-frontmatter {
	opacity: 1;
	font-family: var(--font-frontmatter);
	font-size: var(--font-scale-00);
	line-height: var(--leading-0);
	font-style: normal;
}

.cm-s-obsidian span.cm-atom.cm-hmd-frontmatter {
	color: var(--color-accent); // YAML property colour
}

.cm-s-obsidian span.cm-hmd-frontmatter {
	color: var(--color-primary-5); // Value color
}

.frontmatter-container { // disable Metadata container
	display: visible;
}