.graph-view.color {
	// color of nodes
	&-fill {
		color: var(--color-primary-5);

		&-focused {
			color: var(--color-fill-focused);
		}
		.theme-dark &-tag,
		.theme-light &-tag {
			color: var(--color-fill-tag);
		}
		.theme-light &-attachment,
		.theme-dark &-attachment {
			color: var(--color-fill-attachment);
		}
		&-highlight { // focused node colour
			color: var(--color-pink);
		}
		&-unresolved {
			color: var(--color-fill-unresolved);
			opacity: 1;
		}
	}
	// focused node border color
	&-circle {
		color: var(--color-pink);

		.theme-light & {
			color: var(--color-pink);
		}
	}
	&-line {
		.theme-light &,
		.theme-dark & {
			color: var(--color-primary-3);
			opacity: .5;
		}
		// focused node connections
		&-highlight {
			color: var(--color-primary-3);
			opacity: .5;
		}
	}
	&-arrow {
		color: var(--color-primary-5);
		opacity: 1;
	}
	&-text {
		color: var(--text-faint);
	}
}

.graph-controls {
	border-color: var(--color-border-1);
	background-color: rgba(var(--rgb-primary-0), .5);
	backdrop-filter: blur(0px);
	transition: var(--duration-fast-1) var(--motion-standard-expressive);

	& div.setting-item .setting-item-name {
		font-size: var(--font-scale-00);
	}
	&.is-close {
		min-width: inherit;
		background-color: var(--background-primary);
		//border: 1px solid var(--color-border-1);
		padding: 8px
				 8px
				 8px
				 8px;
		top: 4px;
		left: 16px; //makes it so when it's in a side panel, it aligns with nav action buttons
	}
	&.is-close:hover {
	//box-shadow: var(--elevation-1);
	}
	&:not(.graph-controls.is-close) {
		box-shadow: var(--elevation-1);
	}
	&::-webkit-scrollbar-thumb {
		border-width: 3px;
		&:hover {
			border-width: 2px;
		}
	}
	& .tree-item-self {
		font-size: var(--font-scale-00);
		padding-left: 0;
	}
	& .tree-item-icon.collapse-icon {
		padding-right: 8px;
	}
}

.graph-color-button-container button.mod-cta {
	width: 100%;
	margin: 0;
	padding: 8px;
}

.graph-controls-button.mod-open > svg {
	height: 16px;
	width: 16px;
}

.graph-controls-button.mod-animate > svg {
	height: 16px;
	width: 16px;
}

.graph-controls-button {

	&:hover {
		color: var(--color-accent);
	}
}