.prompt {
	padding: 16px;
	box-shadow: var(--elevation-1);

	&-results {
		padding: 16px
				 0px
				 0px
				 0px;
	}
	&-results span.suggestion-flair {
		left: 0px;
		transform: scale(1) translateY(4px);
	}
}

.suggestion {
	border-radius: 4px;

	&-container{ // hashtag suggestion
		border: none;
		box-shadow: var(--elevation-1);
	}
	.suggestion-container & .suggestion-item {
		position: relative;
		padding: 4px
				 16px 
				 4px 
				 32px;
		cursor: pointer;
		white-space: pre-wrap;
		line-height: var(--leading-3);
	}
	.suggestion-container & .suggestion-flair {
		margin-left: -4px;
		transform: scale(.8);
		margin-top: -2px;
	}
	&-item { // prompt suggestion
		position: relative;
		padding: 8px
				 0px 
				 8px 
				 32px;
		cursor: pointer;
		white-space: pre-wrap;
		line-height: var(--leading-3);
		
		& .suggestion-hotkey {
			background-color: var(--color-primary-0);
			border: 1px solid var(--color-border-1);
		}
		&:hover .suggestion-hotkey {
			border-color: var(--color-border-2);
		}
	}
	&-item.is-selected {
		background-color: var(--color-hover);
		border-radius: 4px;
	}
	.prompt-results &-flair {
		left: 0px;
		transform: scale(0.8);
		padding-left: 8px;
	}
	.prompt-results &-prefix {
		color: var(--color-accent);
	}
}