audio {
	height: 32px;

	.theme-dark & {
		filter:none;

		&::-webkit-media-controls-play-button,
		&::-internal-media-controls-overflow-button,
		&::-webkit-media-controls-timeline,
		&::-webkit-media-controls-volume-control-container,
		&::-webkit-media-controls-current-time-display,
		&::-webkit-media-controls-time-remaining-display,
		&::-internal-media-controls-overflow-button {
			filter:invert(1);
		}
	}
	&::-webkit-media-controls-enclosure {
		border: 1px solid var(--color-border-2);
		background-color: var(--color-primary-0);
		border-radius: 4px;
	}
	&::-webkit-media-controls-current-time-display {
		color:var(--text-normal);
		font-family:var(--font-interface);
		font-size: var(--font-scale-000);
		text-shadow:none;
	}
	&::-webkit-media-controls-time-remaining-display {
		color:var(--text-muted);
		font-family:var(--font-interface);
		font-size: var(--font-scale-000);
		text-shadow:none;
	}
	&::-webkit-media-controls-panel {
		padding: 2px 1.5px;
	}
	&::-webkit-media-controls input[pseudo="-internal-media-controls-overflow-button" i]:enabled:hover::-internal-media-controls-button-hover-background {
		background-color:transparent;
	}
}

