.notice {
	font-family: var(--font-mono);
	font-size: var(--font-scale-00);
	font-weight: var(--font-regular);
	color: var(--background-primary);
	border-radius: 4px;
	transition: var(--duration-moderate-2) var(--motion-entrance-expressive);
	background-color: var(--color-primary-9);

	.theme-dark & { // needs this because of the native code specifies dark mode
		background-color: var(--color-primary-9);
		color: var(--background-primary);
	}
}