.markdown-source-view.is-live-preview progress,
.markdown-preview-view progress {
	-webkit-writing-mode: horizontal-tb;
	writing-mode: horizontal-tb;
	appearance: none;
	box-sizing: border-box;
	display: inline-block;
	height: .25em;
	width: 15em;
	border-radius: 0;
	vertical-align: -0.2rem;

	&:after {
		content: "";
		display: block;
		font-size: var(--font-scale-000);
	}

	&[value]::-webkit-progress-bar { //background
		background-color: var(--color-primary-2);
		border-radius: 0px;
	}

	&[value]::-webkit-progress-value{ //actual bar
		background-color: var(--color-accent);
	}
	
	&[value^='1']::-webkit-progress-value,
	&[value^='2']::-webkit-progress-value,
	&[value^='3']::-webkit-progress-value {
		background-color: var(--color-red-5);
	}

	&[value^='4']::-webkit-progress-value,
	&[value^='5']::-webkit-progress-value,
	&[value^='6']::-webkit-progress-value {
		background-color: var(--color-orange-5);
	}
	&[value^='7']::-webkit-progress-value,
	&[value^='8']::-webkit-progress-value,
	&[value^='9']::-webkit-progress-value {
		background-color: var(--color-green-5);
	}
	&[value^='10']::-webkit-progress-value {
		background-color: var(--color-accent);
	}

	&[value^='0'] {
		&:after {
			content: "0%";
		}
	}
	&[value] {
		&:after {
			content: attr(value) "/" attr(max);
			float: right;
		}
	}
}


.markdown-source-view.is-live-preview meter,
.markdown-preview-view meter {
	display: inline-block;
	width: 240px;
	
	&::-webkit-meter-bar {
		appearance: none;
		background-color: var(--color-primary-2);
		box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
		border-radius: 0px;
		border: none;
		height: 4px;
	}
	&::-webkit-meter-optimum-value,
	&::-webkit-meter-suboptimum-value,
	&::-webkit-meter-even-less-good-value {
	border-radius: 0px;
	}
	&::-webkit-meter-even-less-good-value  {
		background-color: var(--color-red-5);
	}
	&::-webkit-meter-suboptimum-value {
		background-color: var(--color-orange-5);
	}
	&::-webkit-meter-optimum-value {
		background-color: var(--color-green-5)
	}
	&::-webkit-meter-maximum-value {
		background-color: var(--color-accent);
	}
}