.search-result-file-title {
	font-weight: var(--font-semi-bold);
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
	background: var(--color-primary-0);
	color: var(--text-normal);
	font-family: var(--font-interface);
	padding: 8px 16px;
	font-size: var(--font-scale-00);
	border-radius: 0px;
	outline: none;
	height: 24px;
	margin: 0;
	margin-bottom: 1px; //makes sure there's space for the whole outline in focus to show
	border-color: transparent;
	border-bottom: 1px solid var(--color-border-2);

	&:hover {
		background-color: var(--color-hover);
	}
	&:active {
		background-color: var(--color-primary-0);
	}
	&:focus:not(:active) {
		border-color: transparent;
		border-bottom: 1px solid var(--color-accent);
		outline: none;
		transition: var(--duration-fast-2) var(--motion-standard-expressive);
	}
}

// Document Search
.document-search-container {
	position: fixed;
	bottom: 0px;
	top: 32px;
	width: 100%;
	height: min-content;
	background-color: var(--background-primary);
	display: flex;
	flex-direction: column;
	padding: 0px;
	z-index: var(--layer-popover);

	& .document-search {
		height: 32px;
	}
	& .document-replace {
		height: 32px;
	}
	& .document-search-button {
		height: 24px;
		font-size: var(--font-scale-00);
		padding: 2px
				 8px;
		color: var(--text-muted);
		margin: 4px
				2px;
		background-color: var(--color-border-1);
	}
	& .document-search .document-search-input {
		margin: 4px
				2px;
	}
}

body:not(.is-mobile) .document-search, body:not(.is-mobile) .document-replace {
	width: var(--line-width);
	margin: 0 auto;
	padding: 0 4px;
}

.document-search-close-button:before {
	color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg id='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:hsl(34.3, 21.2%25, 93.5%25);%7D.cls-2%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eclose%3C/title%3E%3Cpolygon class='cls-1' points='24 9.4 22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4'/%3E%3Crect class='cls-2' width='32' height='32'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: center center;
	background-position: -6px 8px;

	.theme-light & {
		background-image: url("data:image/svg+xml,%3Csvg id='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23000000;%7D.cls-2%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eclose%3C/title%3E%3Cpolygon class='cls-1' points='24 9.4 22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4'/%3E%3Crect class='cls-2' width='32' height='32'/%3E%3C/svg%3E");
	}
}

//general search input container
.search-input-container {
	margin: 16px
			16px
			2px
			16px;
	position: relative;
	background-color: var(--background-primary);
}

//global search results
.search-result-container.mod-global-search {
	overflow-y: auto;
	background-color: var(--background-primary);
}
//global search individual result
.search-result-file-matches {
	font-size: var(--font-scale-00);
	margin-bottom: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	color: var(--text-faint);
	margin-left: 8px;
	border-bottom: 1px solid var(--color-border-1);

	& .search-result-hover-button {
		&:hover {
			background-color: transparent;
			color: var(--color-accent);
		}
	}
}

.search-result-file-match-destination-file {
	display: inline-flex;
	background-color: var(--background-primary);
	border-radius: 4px;
	padding: 2px 8px 2px 8px;
	margin: 4px 8px 0px 0px;
	border: 1px solid var(--color-border-1);
}

.cm-s-obsidian span.obsidian-search-match-highlight,
.search-result-file-matched-text { // matched highlighted text
	background: var(--color-green-2);
	.theme-dark & {
		background: var(--color-green-7);
	}
}

.markdown-preview-view div.search-highlight div,
.markdown-preview-view div.search-highlight div.is-active {
	border: 2px solid var(--color-green);
	border-radius: 4px;
}

.markdown-preview-view div.search-highlight div.is-active {
	background-color: var(--color-green-2);
	.theme-dark & {
		background-color: var(--color-green-8);
	}
}


.search-empty-state { // no results
	color: var(--text-muted);
	font-size: var(--font-scale-00);
	margin: 0px
			16px
			8px
			16px;
}

.setting-item-control button {
	margin: 0px;
}

.document-search button,
.document-search input {
	margin: 4px;
}

.document-search,
.document-replace {
	width: 100%;
	display: flex;
	height: 48px;
	overflow: hidden;
}

.document-replace .document-replace-input {
	margin: 4px;
}

.workspace-leaf-content .search-result-container.mod-global-search {
	padding: 16px;
}

.plugin-list-plugins .setting-item-control .search-input-container {
	margin-right: 2px;
}