/* @plugins
core:
- audio-recorder
- backlink
- command-palette
- daily-notes
- editor-status
- file-explorer
- file-recovery
- global-search
- graph
- outgoing-link
- outline
- page-preview
- starred
- switcher
- sync
- tag-pane

community:
- calendar
- dataview
- obsidian-style-settings

*/

