.empty-state {
	&-title {
		display: flex;
		flex-direction: column;
		font-weight: var(--font-semi-bold);
		font-size: 0px;
		line-height: var(--leading-3);
		position: relative;
		margin: 0;
		color: var(--text-normal);
	}
	&-action-list {
		font-size: var(--font-scale-0);
		font-weight: 400;
		line-height: var(--leading-3);
		color: var(--text-faint);
		margin-top: 16px;
		padding: 8px 16px;

		body:not(.is-mobile) & {
		display: grid;
		grid-template: 
			"action1" 1fr
			"action2" 1fr
			"action3" 1fr
			"after" auto
			/ 100% ;
		column-gap: 1px;
		place-items: stretch start;
		align-content: space-evenly;
		border: 0px solid var(--color-border-2);
		}
		.is-mobile & {
			margin-top: 8px;
		}
		body:not(.is-mobile) &::after {
			grid-area: after;
			margin-top: 8px;
			border-top: 1px solid var(--color-border-2);
			padding-top: 8px;
			padding-left: 12px;
			white-space: pre-wrap;
			content: "Sanctum v0.6.3 \A Designed by @jdanielmourao 2021-2022 \A Font: IBM Plex Sans & Mono";
			font-size: var(--font-scale-000);
			font-family: var(--font-monospace-theme);
			font-weight: var(--font-light);
		}
	}
	&-action {
		cursor: pointer;
		font-size: var(--font-scale-0);
		line-height: var(--leading-3);
		padding: 4px 28px 4px 12px;

		&:hover:before {
			position: absolute;
			transform: translateX(-16px);
			display: inline-flex;
			content: "↳";
			padding-right: 4px;
		}
		.is-mobile & {
			padding: 4px 32px;
			border-radius: 8px;
			font-size: var(--font-scale-00);
			border: 1px solid var(--color-border-1);
		}
	}
	&-action:hover {
		color: var(--color-accent);
	}
}