.modal {
	border:none;
	background:var(--background-primary);
	border-radius: 6px;
	overflow:hidden;
	padding: 16px
			 16px
			 8px;

	&-close-button {
		right: 12px;
		top: 12px;
	
		&:before {
			color: transparent;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='hsl(0, 0%, 99.6%)' viewBox='0 0 32 32'%3E%3Cpath d='M24 9.4 22.6 8 16 14.6 9.4 8 8 9.4l6.6 6.6L8 22.6 9.4 24l6.6-6.6 6.6 6.6 1.4-1.4-6.6-6.6L24 9.4z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 24px 24px;
			background-position: center center;
			opacity: .5;

			.theme-light & {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M24 9.4 22.6 8 16 14.6 9.4 8 8 9.4l6.6 6.6L8 22.6 9.4 24l6.6-6.6 6.6 6.6 1.4-1.4-6.6-6.6L24 9.4z'/%3E%3Cpath fill='none' d='M0 0h32v32H0z'/%3E%3C/svg%3E");
			}
		}

	}
	&.mod-sync-history { //generic modal dimensions
		width: 40vw;
		min-width: 1000px;
		max-width: 40vw;
		max-height: 80vh;
	}
}

//Sync History
textarea.sync-history-content {
	margin-top: 7px;
	border-radius: 0px;
	border-color: var(--color-border-1);
}

.sync-history-list {
	& .setting-item-control div.search-input-container {
		margin: 16px
				16px
				16px
				16px;
	}
	& .search-input-container .search-input-clear-button {
		margin-right: -6px;
		background-color: transparent;
	}
	&-item {
		border-left: 1.5px solid transparent;
		padding: 8px
				 16px
				 8px
				 16px;

		&.is-active,
		&:hover {
			background-color: var(--background-secondary);
			border-left: 1.5px solid var(--color-accent);
		}
		&:hover {
			background-color: var(--color-hover);
		}
	}
}

