/* ──────────────────────────── Mobile font sizes ─────────────────────────── */

@media (max-width: 400pt) {
	.is-mobile {
		--font-scale-000: 	calc(.75rem * .875);
		--font-scale-00: 	calc(.875rem * .875);
		--font-scale-0: 	calc(1rem * .875);
		--font-scale-1: 	calc(1.125rem * .875);
		--font-scale-2:  	calc(1.25rem * .875);
		--font-scale-3:   	calc(1.5rem * .875);
		--font-scale-4:  	calc(1.75rem * .875);
		--font-scale-5:     calc(2rem * .875);
		--font-scale-6:  	calc(2.25rem * .875);
		--font-scale-7: 	calc(2.625rem * .875);
		--font-scale-8:     calc(3rem * .875);
		--font-scale-9: 	calc(3.375rem * .875);
		--font-scale-10: 	calc(3.75rem * .875);

		--heading-1-mobile: calc(var(--heading-1) * .875);
		--heading-2-mobile: calc(var(--heading-2) * .875);
		--heading-3-mobile: calc(var(--heading-3) * .875);
		--heading-4-mobile: calc(var(--heading-4) * .875);
		--heading-5-mobile: calc(var(--heading-5) * .875);
		--heading-6-mobile: calc(var(--heading-6) * .875);

		.markdown-preview-view h1,
		.cm-s-obsidian .cm-header-1,
		.cm-s-obsidian .HyperMD-header-1 {font-size: var(--heading-1-mobile);}	
		.markdown-preview-view h2,
		.cm-s-obsidian .cm-header-2,
		.cm-s-obsidian .HyperMD-header-2 {font-size: var(--heading-2-mobile);}	
		.markdown-preview-view h3,
		.cm-s-obsidian .cm-header-3,
		.cm-s-obsidian .HyperMD-header-3 {font-size: var(--heading-3-mobile);}	
		.markdown-preview-view h4,
		.cm-s-obsidian .cm-header-4,
		.cm-s-obsidian .HyperMD-header-4 {font-size: var(--heading-4-mobile);}
		.markdown-preview-view h5,
		.cm-s-obsidian .cm-header-5,
		.cm-s-obsidian .HyperMD-header-5 {font-size: var(--heading-5-mobile);}
		.markdown-preview-view h6,
		.cm-s-obsidian .cm-header-6,
		.cm-s-obsidian .HyperMD-header-6 {font-size: var(--heading-6-mobile);}
	}
}

/* ───────────────────────────────── UI Font ──────────────────────────────── */
body {
	font-feature-settings: 'zero', 'ss05', 'ss02' on;

	&, & input,
	& button, //buttons
	& textarea, //text input
	& select { //dropdowns
		font-optical-sizing: auto;
		font-family: var(--font-ui);
		font-feature-settings: "zero", "ss05" on;
		font-weight:  var(--font-regular);
		font-size: var(--font-scale-00);
		line-height: var(--leading-2);
		letter-spacing: var(--tracking-1);
		font-variant-ligatures: no-common-ligatures;
	}
	&.theme-dark , body.theme-dark input, body.theme-dark button {
		--font-regular: 300; //for visual balance between light and dark modes
	}
}

/* ───────────────────────────── Note Typography ──────────────────────────── */
.markdown-preview-view { //preview
	font-optical-sizing: auto;
	font-family: var(--font-preview);
	line-height: var(--leading-4);
	letter-spacing: var(--tracking-0);
	hyphens: auto;
	font-variant-ligatures: common-ligatures;
}

.cm-list-1, .cm-list-2, .cm-list-3, .cm-list-4, .cm-list-5, .cm-list-6, .cm-list-7, .cm-list-8, .cm-list-9, .cm-list-10,
.cm-line, // live preview
.markdown-source-view.mod-cm6 .cm-scroller,
.markdown-source-view,
.cm-s-obsidian,
.HyperMD-table-2.HyperMD-table-row.cm-line { //tables
	font-variant-ligatures: common-ligatures;
	font-optical-sizing: auto;
	font-family: var(--font-editor);
	line-height: var(--leading-4);
	letter-spacing: var(--tracking-2);
}

.cm-s-obsidian { //edit/source mode
	font-variant-ligatures: common-ligatures;
	font-optical-sizing: auto;
	font-family: var(--font-editor);
	letter-spacing: var(--tracking-2);
}

.CodeMirror-sizer { // Legacy Editor
	line-height: var(--leading-4);
}
/*
.CodeMirror-wrap .CodeMirror-line,
.CodeMirror-wrap .CodeMirror-line-like {
	word-wrap: break-word; // same as overflow-wrap:break-word 
	white-space: pre-wrap;
	word-break: break-word;
	hyphens: auto;
}*/

/* ──────────────────────────────── Headings ──────────────────────────────── */

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
	font-family: var(--font-heading-preview);
}

.cm-s-obsidian .cm-header-1,
.cm-s-obsidian .cm-header-2,
.cm-s-obsidian .cm-header-3,
.cm-s-obsidian .cm-header-4,
.cm-s-obsidian .cm-header-5,
.cm-s-obsidian .cm-header-6,
.cm-s-obsidian .HyperMD-header-1,
.cm-s-obsidian .HyperMD-header-2,
.cm-s-obsidian .HyperMD-header-3,
.cm-s-obsidian .HyperMD-header-4,
.cm-s-obsidian .HyperMD-header-5,
.cm-s-obsidian .HyperMD-header-6 {
	font-family: var(--font-heading-editor) !important; //!important is for edge cases like underline, which inherit body text font family
}

.theme-light {
	--color-heading-1: var(--color-heading-1-l);
	--color-heading-2: var(--color-heading-2-l);
	--color-heading-3: var(--color-heading-3-l);
	--color-heading-4: var(--color-heading-4-l);
	--color-heading-5: var(--color-heading-5-l);
	--color-heading-6: var(--color-heading-6-l);

	--color-heading-1-bg: var(--color-heading-1-bg-l);
	--color-heading-2-bg: var(--color-heading-2-bg-l);
	--color-heading-3-bg: var(--color-heading-3-bg-l);
	--color-heading-4-bg: var(--color-heading-4-bg-l);
	--color-heading-5-bg: var(--color-heading-5-bg-l);
	--color-heading-6-bg: var(--color-heading-6-bg-l);

	--color-heading-1-l: rgb(8, 8, 8); 
	--color-heading-2-l: rgb(8, 8, 8);
	--color-heading-3-l: rgb(8, 8, 8);
	--color-heading-4-l: rgb(8, 8, 8);
	--color-heading-5-l: rgb(8, 8, 8);
	--color-heading-6-l: rgb(8, 8, 8);

	--color-heading-1-bg-l: rgb(245, 243, 240);
	--color-heading-2-bg-l: rgb(245, 243, 240);
	--color-heading-3-bg-l: rgb(245, 243, 240);
	--color-heading-4-bg-l: rgb(245, 243, 240);
	--color-heading-5-bg-l: rgb(245, 243, 240);
	--color-heading-6-bg-l: rgb(245, 243, 240);
}

.theme-dark {
	--color-heading-1: var(--color-heading-1-d);
	--color-heading-2: var(--color-heading-2-d);
	--color-heading-3: var(--color-heading-3-d);
	--color-heading-4: var(--color-heading-4-d);
	--color-heading-5: var(--color-heading-5-d);
	--color-heading-6: var(--color-heading-6-d);

	--color-heading-1-bg: var(--color-heading-1-bg-d);
	--color-heading-2-bg: var(--color-heading-2-bg-d);
	--color-heading-3-bg: var(--color-heading-3-bg-d);
	--color-heading-4-bg: var(--color-heading-4-bg-d);
	--color-heading-5-bg: var(--color-heading-5-bg-d);
	--color-heading-6-bg: var(--color-heading-6-bg-d);

	--color-heading-1-d: rgb(254, 254, 254);
	--color-heading-2-d: rgb(254, 254, 254);
	--color-heading-3-d: rgb(254, 254, 254);
	--color-heading-4-d: rgb(254, 254, 254);
	--color-heading-5-d: rgb(254, 254, 254);
	--color-heading-6-d: rgb(254, 254, 254);

	--color-heading-1-bg-d: rgb(21, 21, 21);
	--color-heading-2-bg-d: rgb(21, 21, 21);
	--color-heading-3-bg-d: rgb(21, 21, 21);
	--color-heading-4-bg-d: rgb(21, 21, 21);
	--color-heading-5-bg-d: rgb(21, 21, 21);
	--color-heading-6-bg-d: rgb(21, 21, 21);
}



.markdown-preview-view {
	.heading-clr & {
		& h1 {color: var(--color-heading-1);}
		& h2 {color: var(--color-heading-2);}
		& h3 {color: var(--color-heading-3);}
		& h4 {color: var(--color-heading-4);}
		& h5 {color: var(--color-heading-5);}
		& h6 {color: var(--color-heading-6);}
	}
	.heading-clr-bg & {
		& h1 {background-color: var(--color-heading-1-bg); padding: 4px;}
		& h2 {background-color: var(--color-heading-2-bg); padding: 4px;}
		& h3 {background-color: var(--color-heading-3-bg); padding: 4px;}
		& h4 {background-color: var(--color-heading-4-bg); padding: 4px;}
		& h5 {background-color: var(--color-heading-5-bg); padding: 4px;}
		& h6 {background-color: var(--color-heading-6-bg); padding: 4px;}
	}
}

.cm-s-obsidian {
	.heading-clr & {
		& .cm-header-1 {color: var(--color-heading-1);}
		& .cm-header-2 {color: var(--color-heading-2);}
		& .cm-header-3 {color: var(--color-heading-3);}
		& .cm-header-4 {color: var(--color-heading-4);}
		& .cm-header-5 {color: var(--color-heading-5);}
		& .cm-header-6 {color: var(--color-heading-6);}
	}
	.heading-clr-bg & {
		& .HyperMD-header-1.cm-line {background-color: var(--color-heading-1-bg); padding: 4px;}
		& .HyperMD-header-2.cm-line {background-color: var(--color-heading-2-bg); padding: 4px;}
		& .HyperMD-header-3.cm-line {background-color: var(--color-heading-3-bg); padding: 4px;}
		& .HyperMD-header-4.cm-line {background-color: var(--color-heading-4-bg); padding: 4px;}
		& .HyperMD-header-5.cm-line {background-color: var(--color-heading-5-bg); padding: 4px;}
		& .HyperMD-header-6.cm-line {background-color: var(--color-heading-6-bg); padding: 4px;}
	}
}

:root {
	--heading-1: 2rem;
	--heading-2: 1.75rem;
	--heading-3: 1.5rem;
	--heading-4: 1.25rem;
	--heading-5: 1.125rem;
	--heading-6: 1rem;

	--heading-1-weight: 600; //semi-bold by default
	--heading-2-weight: 600;
	--heading-3-weight: 500;
	--heading-4-weight: 500;
	--heading-5-weight: 400;
	--heading-6-weight: 400;
}

.theme-dark { //visual balance between light and dark mode heading weights
	--heading-1-weight-d: calc(var(--heading-1-weight) - 100); 
	--heading-2-weight-d: calc(var(--heading-2-weight) - 100);
	--heading-3-weight-d: calc(var(--heading-3-weight) - 100);
	--heading-4-weight-d: calc(var(--heading-4-weight) - 100);
	--heading-5-weight-d: calc(var(--heading-5-weight) - 100);
	--heading-6-weight-d: calc(var(--heading-6-weight) - 100);

	.markdown-preview-view h1, .cm-s-obsidian .cm-header-1, .cm-s-obsidian .HyperMD-header-1 {
		font-weight: var(--heading-1-weight-d);
	}
	.markdown-preview-view h2, .cm-s-obsidian .cm-header-2, .cm-s-obsidian .HyperMD-header-2 {
		font-weight: var(--heading-2-weight-d);
	}
	.markdown-preview-view h3, .cm-s-obsidian .cm-header-3, .cm-s-obsidian .HyperMD-header-3 {
		font-weight: var(--heading-3-weight-d);
	}
	.markdown-preview-view h4, .cm-s-obsidian .cm-header-4, .cm-s-obsidian .HyperMD-header-4 {
		font-weight: var(--heading-4-weight-d);
	}
	.markdown-preview-view h5, .cm-s-obsidian .cm-header-5, .cm-s-obsidian .HyperMD-header-5 {
		font-weight: var(--heading-5-weight-d);
	}
	.markdown-preview-view h6, .cm-s-obsidian .cm-header-6, .cm-s-obsidian .HyperMD-header-6 {
		font-weight: var(--heading-6-weight-d);
	}
}

.markdown-preview-view h1,
.cm-s-obsidian .cm-header-1,
.cm-s-obsidian .HyperMD-header-1 {
	font-size: var(--heading-1);
	line-height: var(--leading-1);
	font-weight: var(--heading-1-weight);
	letter-spacing: var(--tracking-0);
	margin-top: .5em;
	margin-bottom: .5em;
}	
.markdown-preview-view h2,
.cm-s-obsidian .cm-header-2,
.cm-s-obsidian .HyperMD-header-2 {
	font-size: var(--heading-2);
	line-height: var(--leading-1);
	font-weight: var(--heading-2-weight);
	letter-spacing: var(--tracking-0);
	margin-top: .75em;
	margin-bottom: .75em;
}	
.markdown-preview-view h3,
.cm-s-obsidian .cm-header-3,
.cm-s-obsidian .HyperMD-header-3 {
	font-size: var(--heading-3);
	line-height: var(--leading-1);
	font-weight: var(--heading-3-weight);
	letter-spacing: var(--tracking-0);
	margin-top: .875em;
	margin-bottom: .875em;
}	
.markdown-preview-view h4,
.cm-s-obsidian .cm-header-4,
.cm-s-obsidian .HyperMD-header-4 {
	font-size: var(--heading-4);
	line-height: var(--leading-1);
	font-weight: var(--heading-4-weight);
	letter-spacing: var(--tracking-0);
	margin-top: 1em;
	margin-bottom: 1em;
}	
.markdown-preview-view h5,
.cm-s-obsidian .cm-header-5,
.cm-s-obsidian .HyperMD-header-5 {
	font-size: var(--heading-5);
	line-height: var(--leading-1);
	font-weight: var(--heading-5-weight);
	letter-spacing: var(--tracking-0);
	margin-top: 1.125em;
	margin-bottom: 1.125em;
	color:var(--text-normal);
}	
.markdown-preview-view h6,
.cm-s-obsidian .cm-header-6,
.cm-s-obsidian .HyperMD-header-6 {
	font-size: var(--heading-6);
	line-height: var(--leading-1);
	font-weight: var(--heading-6-weight);
	letter-spacing: var(--tracking-1);
	margin-top: 1.125em;
	margin-bottom: 1.125em;
	color:var(--text-normal);
}


// Legacy Editor (fixes the cursor problem)
.markdown-source-view.mod-cm5 .cm-s-obsidian .HyperMD-header {
	padding: 0;
	margin: 0;
}

/* ─────────────────────────── Productive Headings ────────────────────────── */

.community-plugin-info .community-plugin-readme { // Plugin README headings, tables, lists and paragraphs
	& table,
	& li,
	& p {
		font-size: var(--font-scale-0);
		color: var(--text-normal);
	}
	& h1 {
		font-size: var(--heading-1);
	}
	& h2 {
		font-size: var(--heading-2);
	}
	& h3 {
		font-size: var(--heading-3);
	}
	& h4 {
		font-size: var(--heading-4);
	}
	& h5 {
		font-size: var(--heading-5);
	}
	& h6 {
		font-size: var(--heading-6);
	}
}

/* ────────────────────────── Contextual Typography ───────────────────────── */

.markdown-preview-view {
	
	& div[data-tag-name="h1"] + div > hr { margin-top: -1.125em; }
	& div[data-tag-name="h2"] + div > hr { margin-top: -1.375em; }
	& div[data-tag-name="h3"] + div > hr { margin-top: -1.375em; }
	& div[data-tag-name="h4"] + div > hr { margin-top: -1.275em; }
	& div[data-tag-name="h5"] + div > hr { margin-top: -1.275em; }
	& div[data-tag-name="h6"] + div > hr { margin-top: -1.13em; }
}

/* ──────────────────────── Typora-like heading tags ──────────────────────── */

:root {
	--h1: .95rem;
	--h2: 0.9rem;
	--h3: 0.85rem;
	--h4: 0.8rem;
	--h5: 0.75rem;
	--h6: 0.7rem;
}

.markdown-source-view.mod-cm6.is-live-preview .cm-formatting-header {
	color: var(--text-faint);
}


.head-indicator-active .mod-cm6.is-live-preview {
	.HyperMD-header-1.cm-active.cm-line > span:nth-child(2)::before {
		content: "H1";
		display: inline-block;
		color: var(--color-accent);
		font-size: var(--h1);
		font-family: var(--font-editor);
		padding-right: 4px;
	}
	.HyperMD-header-2.cm-active.cm-line > span:nth-child(2)::before {
		content: "H2";
		color: var(--color-accent);
		font-size: var(--h2);
		font-family: var(--font-editor);
		padding-right: 4px;
	}
	.HyperMD-header-3.cm-active.cm-line > span:nth-child(2)::before {
		content: "H3";
		color: var(--color-accent);
		font-size: var(--h3);
		font-family: var(--font-editor);
		padding-right: 4px;
	}
	.HyperMD-header-4.cm-active.cm-line > span:nth-child(2)::before {
		content: "H4";
		color: var(--color-accent);
		font-size: var(--h4);
		font-family: var(--font-editor);
		padding-right: 4px;
	}
	.HyperMD-header-5.cm-active.cm-line > span:nth-child(2)::before {
		content: "H5";
		color: var(--color-accent);
		font-size: var(--h5);
		font-family: var(--font-editor);
		padding-right: 4px;
	}
	.HyperMD-header-6.cm-active.cm-line > span:nth-child(2)::before {
		content: "H6";
		color: var(--color-accent);
		font-size: var(--h6);
		font-family: var(--font-editor);
		padding-right: 4px;
	}
}




body.head-indicator .mod-cm6.is-live-preview {
	& .HyperMD-header::before {
		position: relative;
		display: inline-block;
		font-family: var(--font-mono);
		color: var(--color-accent);
		right: 4px;
	}
	& .HyperMD-header-1::before {
		content: "H1";
		font-size: var(--h1);
		bottom: calc(var(--heading-1) / 4);
	}
	& .HyperMD-header-2::before {
		content: "H2";
		font-size: var(--h2);
		bottom: calc(var(--heading-2) / 4);
	}
	& .HyperMD-header-3::before {
		content: "H3";
		font-size: var(--h3);
		bottom: calc(var(--heading-3) / 4);
	}
	& .HyperMD-header-4::before {
		content: "H4";
		font-size: var(--h4);
		bottom: calc(var(--heading-4) / 4);
	}
	& .HyperMD-header-5::before {
		content: "H5";
		font-size: var(--h5);
		bottom: calc(var(--heading-5) / 4);
	}
	& .HyperMD-header-6::before {
		content: "H6";
		font-size: var(--h6);
		bottom: calc(var(--heading-6) / 4);
	}
}

body.head-indicator .markdown-source-view.mod-cm6.is-live-preview .HyperMD-header .cm-fold-indicator .collapse-indicator {
	transform: translateY(25%);
}

//Fix collapse indicators size in LP Headings
.markdown-source-view.mod-cm6 .HyperMD-header-1 > .cm-fold-indicator {font-size: var(--heading-1);}
.markdown-source-view.mod-cm6 .HyperMD-header-2 > .cm-fold-indicator {font-size: var(--heading-2);}
.markdown-source-view.mod-cm6 .HyperMD-header-3 > .cm-fold-indicator {font-size: var(--heading-3);}
.markdown-source-view.mod-cm6 .HyperMD-header-4 > .cm-fold-indicator {font-size: var(--heading-4);}
.markdown-source-view.mod-cm6 .HyperMD-header-5 > .cm-fold-indicator {font-size: var(--heading-5);}
.markdown-source-view.mod-cm6 .HyperMD-header-6 > .cm-fold-indicator {font-size: var(--heading-6);}
