
body {
	--font-monospace-theme: 'IBM Plex Mono *', monospace;
	--font-text-theme: 'IBM Plex Sans *', sans-serif;
	--font-interface-theme: 'IBM Plex Sans *', sans-serif;
}

:root {
/* ────────────────────────────── Font Families ───────────────────────────── */
	--version: "You are currently using Sanctum for Obsidian v0.15.8 \a \a It is highly recommended to install the Style Settings and Contextual Typography plugins.\a If you run into any issues, try updating to the latest version of the theme. If the issue isn't resolved, you can file a report on github (link in the button above). \a \a Support my work:\a ko-fi.com/jdanielmourao \a paypal.me/jdanielmourao";
	--version-empty-page: "Sanctum for Obsidian v0.15.8\A Designed by @jdanielmourao 2021-2022 \A Font: IBM Plex Sans & Mono";
	--font-sans: 'IBM Plex Sans *', sans-serif;
	--font-serif: 'IBM Plex Serif', serif;
	--mermaid-font: var(--font-sans);

	--footnote-id: 'Footnotes';
	--marker-odd: '–\2009\2009';
	--marker-even: '▪\2009\2009';

/* ──────────────────────────────── Variables ─────────────────────────────── */

/* ────────────────────────── Leading (line-height) ───────────────────────── */
	--leading-0:      1em;
	--leading-1:  1.125em;
	--leading-2:   1.25em;
	--leading-3:  1.375em;
	--leading-4:    1.5em;
	--leading-5:  1.625em;
	--leading-6:   1.75em;
	--leading-7:  1.875em;
	--leading-8:   2.25em;
	--leading-9:    2.5em;
	--leading-10:  2.75em;

/* ──────────────────────── Tracking (letter-spacing) ─────────────────────── */
	--tracking-0:   0px;
	--tracking-1: .16px;
	--tracking-2: .32px;
	--tracking-3: .64px;
	--tracking-4: .96px;

/* ────────────────────────────── Layout Sizing ───────────────────────────── */
	--size-0:    0px;
	--size-1:    2px;
	--size-2:    4px;
	--size-3:    8px;
	--size-4:   12px;
	--size-5:   16px;
	--size-6:   24px;
	--size-7:   32px;
	--size-8:   40px;
	--size-9:   48px;
	--size-10:  64px;
	--size-11:  80px;
	--size-12:  96px;
	--size-13: 160px;

/* ────────────────────────────── Shade Palette ───────────────────────────── */
	// These colours are left here in case you need more for 
	// customization, like custom tag colours, etc
	//Color steps: 21,18.26,13.22,8.45,5.48,3.49,2.37,1.7,1.33,1.10,1
	--color-white:	#fefefe;
	--color-grey-1:	#f5f3f0;
	--color-grey-2:	#e2dfdc;
	--color-grey-3:	#c9c6c4;
	--color-grey-4:	#aaa8a6;
	--color-grey-5:	#8b8888;
	--color-grey-6:	#6b6868;
	--color-grey-7:	#4f4c4d;
	--color-grey-8:	#312F30;
	--color-grey-9:	#151515;
	--color-black:	#080808;

/* ──────────────────────────────── Elevation ─────────────────────────────── */
	--elevation-1:  0 2px 6px 0 rgba(0,0,0,.2);
	--elevation-2: 0 2px 6px 0 rgba(0,0,0,.3);

/* ──────────────────────── Animations / Transitions ──────────────────────── */
	--motion-entrance-productive: cubic-bezier(0, 0, 0.38, 0.9);
	--motion-entrance-expressive: cubic-bezier(0, 0, 0.3, 1);
	--motion-standard-productive: cubic-bezier(0.2, 0, 0.38, 0.9);
	--motion-standard-expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
	--motion-exit-productive:     cubic-bezier(0.2, 0, 1, 0.9);
	--motion-exit-expressive:     cubic-bezier(0.4, 0.14, 1, 1);

/* ──────────────────────────────── Duration ──────────────────────────────── */
	--duration-fast-1:     70ms;
	--duration-fast-2:     110ms;
	--duration-moderate-1: 150ms;
	--duration-moderate-2: 240ms;
	--duration-slow-1:     400ms;
	--duration-slow-2:     700ms;

/* ──────────────────────── Typographic Modular Scale ─────────────────────── */
	--font-scale-000: .75rem;
	--font-scale-00: .875rem;
	--font-scale-0:     1rem;
	--font-scale-1: 1.125rem;
	--font-scale-2:  1.25rem;
	--font-scale-3:   1.5rem;
	--font-scale-4:  1.75rem;
	--font-scale-5:     2rem;
	--font-scale-6:  2.25rem;
	--font-scale-7: 2.625rem;
	--font-scale-8:     3rem;
	--font-scale-9: 3.375rem;
	--font-scale-10: 3.75rem;

/* ────────────────────────────── Font Weights ────────────────────────────── */
	--font-thin: 100;
	--font-extra-light: 200;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;

/* ──────────────────────── Style Settings variables ──────────────────────── */

	--line-width: 42em;

	--size-tab-header: 16px;
	--limit-tables: 100%;

	--community-theme: 40vw;
	--community-plugin: 40vw;
	--settings: 40vw;

	--color-highlight-1: 214 159 40;
	--color-highlight-2: 64 150 147;
	--color-highlight-3: 235 84 108;

	--color-fill-focused: rgb(235, 84, 108);
	--color-fill-tag: rgb(64, 150, 147);
	--color-fill-attachment: rgb(236, 193, 81);
	--color-fill-unresolved: rgb(241, 81, 72);

	--color-accent-l: 64 150 147;
	--color-accent-d: 64 150 147;

	--color-checkbox: 140 141 59;

	/* ────────────────────────────── Color Palette ───────────────────────────── */
	
	--color-green-0:	#fefefe;
	--color-green-1:	#f2f4eb;
	--color-green-2:	#dfe2be;
	--color-green-3:	#c7cb91;
	--color-green-4:	#abad56;
	--color-green-5:	#8c8d3b;
	--color-green-6:	#6c6c2e;
	--color-green-7:	#4f4f27;
	--color-green-8:	#35351e;
	--color-green-9:	#1b1b11;
	--color-green-10:	#080808;
	--color-green: var(--color-green-5);

	--color-viridian-0:	#fefefe;
	--color-viridian-1:	#eff5f2;
	--color-viridian-2:	#cee5d7;
	--color-viridian-3:	#a2d1b7;
	--color-viridian-4:	#6ab88c;
	--color-viridian-5:	#46996a;
	--color-viridian-6:	#377552;
	--color-viridian-7:	#30543e;
	--color-viridian-8:	#23382b;
	--color-viridian-9:	#141d17;
	--color-viridian-10:#080808;
	--color-viridian: var(--color-viridian-5);

	--color-teal-0:	#fefefe;
	--color-teal-1:	#eef5f5;
	--color-teal-2:	#cbe4e3;
	--color-teal-3:	#96d1cf;
	--color-teal-4:	#69b5b1;
	--color-teal-5:	#419693;
	--color-teal-6:	#327370;
	--color-teal-7:	#2c5352;
	--color-teal-8:	#223737;
	--color-teal-9:	#131c1c;
	--color-teal-10:#080808;
	--color-teal: var(--color-teal-5);

	--color-blue-0:	#fefefe;
	--color-blue-1:	#f1f4f6;
	--color-blue-2:	#d5e1e8;
	--color-blue-3:	#b1cad8;
	--color-blue-4:	#89adc2;
	--color-blue-5:	#678ea5;
	--color-blue-6:	#426e87;
	--color-blue-7:	#2e5164;
	--color-blue-8:	#243641;
	--color-blue-9:	#141c21;
	--color-blue-10:#080808;
	--color-blue: var(--color-blue-5);

	--color-lavender-0:	#fefefe;
	--color-lavender-1:	#f4f4f7;
	--color-lavender-2:	#dedee9;
	--color-lavender-3:	#c4c4db;
	--color-lavender-4:	#a5a5ce;
	--color-lavender-5:	#8484bc;
	--color-lavender-6:	#6362a7;
	--color-lavender-7:	#484684;
	--color-lavender-8:	#2c2b53;
	--color-lavender-9:	#131421;
	--color-lavender-10:#000000;
	--color-lavender: var(--color-lavender-5);

	--color-pink-0:	#fefefe;
	--color-pink-1:	#f9f2f3;
	--color-pink-2:	#f5d9dc;
	--color-pink-3:	#f2b7c0;
	--color-pink-4:	#f08a9c;
	--color-pink-5:	#eb546c;
	--color-pink-6:	#ac4856;
	--color-pink-7:	#783a41;
	--color-pink-8:	#4d2a2d;
	--color-pink-9:	#271718;
	--color-pink-10:#080808;
	--color-pink: var(--color-pink-5);

	--color-red-0:	#fefefe;
	--color-red-1:	#faf2f0;
	--color-red-2:	#f8d8d4;
	--color-red-3:	#f9b6ad;
	--color-red-4:	#fb877b;
	--color-red-5:	#f15148;
	--color-red-6:	#c82b29;
	--color-red-7:	#941f1e;
	--color-red-8:	#5e1f1a;
	--color-red-9:	#2e1310;
	--color-red-10:	#080808;
	--color-red: var(--color-red-5);

	--color-orange-0:	#fefefe;
	--color-orange-1:	#f9f2ea;
	--color-orange-2:	#f7dbbc;
	--color-orange-3:	#f3bb84;
	--color-orange-4:	#f19137;
	--color-orange-5:	#d66c1e;
	--color-orange-6:	#9b5830;
	--color-orange-7:	#6d432a;
	--color-orange-8:	#482e20;
	--color-orange-9:	#241812;
	--color-orange-10:	#000000;
	--color-orange: var(--color-orange-5);

	--color-yellow-0:	#fefefe;
	--color-yellow-1:	#f7f4df;
	--color-yellow-2:	#f2e091;
	--color-yellow-3:	#ecc152;
	--color-yellow-4:	#d69f28;
	--color-yellow-5:	#b08122;
	--color-yellow-6:	#7d6637;
	--color-yellow-7:	#5b4b29;
	--color-yellow-8:	#3d321d;
	--color-yellow-9:	#201a11;
	--color-yellow-10:	#080808;
	--color-yellow: var(--color-yellow-3);

	--txt-sel: rgba(64 150 147 / .3);
}
/* ────────────────────────────── END OF ROOT ───────────────────────────── */


/* ─────────────────────────── Light Theme Colours ────────────────────────── */
:root {
	--base-h-l: 30;
	--base-s-l: 1%;
	--base-l-l: 100%;
}

.theme-light.custom-l {
	--rgb-primary-10: 8, 8, 8;
	--color-primary-0:	#fefefe;
	--color-primary-1:	hsl(var(--base-h-l), var(--base-s-l), calc(var(--base-l-l) - 4.9%));
	--color-primary-2:	hsl(var(--base-h-l), var(--base-s-l), calc(var(--base-l-l) - 12.5%));
	--color-primary-3:	hsl(var(--base-h-l), var(--base-s-l), calc(var(--base-l-l) - 22.2%));
	--color-primary-4:	hsl(var(--base-h-l), var(--base-s-l), calc(var(--base-l-l) - 34.1%));
	--color-primary-5:	hsl(var(--base-h-l), var(--base-s-l), calc(var(--base-l-l) - 46.1%));
	--color-primary-6:	hsl(var(--base-h-l), var(--base-s-l), calc(var(--base-l-l) - 58.6%));
	--color-primary-7:	hsl(var(--base-h-l), var(--base-s-l), calc(var(--base-l-l) - 69.6%));
	--color-primary-8:	hsl(var(--base-h-l), var(--base-s-l), calc(var(--base-l-l) - 81.2%));
	--color-primary-9:	hsl(var(--base-h-l), var(--base-s-l), calc(var(--base-l-l) - 91.8%));
	--color-primary-10: #080808;
}

/* .theme-light .markdown-preview-view.cold-grey,
.theme-light .markdown-source-view.cold-grey {
	background-color: #f1f3f7;
}
.theme-light .markdown-preview-view.coldgrey,
.theme-light .markdown-source-view.coldgrey, */
.theme-light.sanctum-coldgrey {
	--rgb-primary-0: 254, 254, 254;
	--color-primary-0:	#fefefe;
	--color-primary-1:	#f1f3f7;
	--color-primary-2:	#dce0e5;
	--color-primary-3:	#c1c7cd;
	--color-primary-4:	#a3a9b1;
	--color-primary-5:	#838a92;
	--color-primary-6:	#636a71;
	--color-primary-7:	#474e53;
	--color-primary-8:	#2f3538;
	--color-primary-9:	#171b1f;
	--color-primary-10: #080808;
}

/* .theme-light .markdown-preview-view.hearth,
.theme-light .markdown-source-view.hearth {
	background-color: #f9f2ea;
}
.theme-light .markdown-preview-view.hearth,
.theme-light .markdown-source-view.hearth, */
.theme-light.sanctum-hearth {
	--rgb-primary-0: 254, 254, 254;
	--color-primary-0:	#fefefe;
	--color-primary-1:	#f9f2ea;
	--color-primary-2:	#f7dbbc;
	--color-primary-3:	#f3bb84;
	--color-primary-4:	#f19137;
	--color-primary-5:	#d66c1e;
	--color-primary-6:	#9b5830;
	--color-primary-7:	#6d432a;
	--color-primary-8:	#482e20;
	--color-primary-9:	#241812;
	--color-primary-10: #080808;
}
/* 
.theme-light .markdown-preview-view.moss,
.theme-light .markdown-source-view.moss {
	background-color: #f2f4eb;
}
.theme-light .markdown-preview-view.moss,
.theme-light .markdown-source-view.moss, */
.theme-light.sanctum-moss {
	--rgb-primary-0: 254, 254, 254;
	--color-primary-0:	#fefefe;
	--color-primary-1:	#f2f4eb;
	--color-primary-2:	#dfe2be;
	--color-primary-3:	#c7cb91;
	--color-primary-4:	#abad56;
	--color-primary-5:	#8c8d3b;
	--color-primary-6:	#6c6c2e;
	--color-primary-7:	#4f4f27;
	--color-primary-8:	#35351e;
	--color-primary-9:	#1b1b11;
	--color-primary-10: #080808;
}

/* .theme-light .markdown-preview-view.tide,
.theme-light .markdown-source-view.tide {
	background-color: #eef5f5;
}
.theme-light .markdown-preview-view.tide,
.theme-light .markdown-source-view.tide, */
.theme-light.sanctum-tide {
	--rgb-primary-0: 254, 254, 254;
	--color-primary-0:	#fefefe;
	--color-primary-1:	#eef5f5;
	--color-primary-2:	#cbe4e3;
	--color-primary-3:	#96d1cf;
	--color-primary-4:	#69b5b1;
	--color-primary-5:	#419693;
	--color-primary-6:	#327370;
	--color-primary-7:	#2c5352;
	--color-primary-8:	#223737;
	--color-primary-9:	#131c1c;
	--color-primary-10: #080808;
}

.theme-light.sanctum-light {
	--rgb-primary-0: 254, 254, 254;
	--color-primary-0:	#fefefe;
	--color-primary-1:	#f5f3f0;
	--color-primary-2:	#e2dfdc;
	--color-primary-3:	#c9c6c4;
	--color-primary-4:	#aaa8a6;
	--color-primary-5:	#8b8888;
	--color-primary-6:	#6b6868;
	--color-primary-7:	#4f4c4d;
	--color-primary-8:	#312F30;
	--color-primary-9:	#151515;
	--color-primary-10: #080808;
}
.theme-light {
	--rgb-primary-10: 8, 8, 8;
	--rgb-primary-0: 254, 254, 254;
	--color-primary-0:	#fefefe;
	--color-primary-1:	#f5f3f0;
	--color-primary-2:	#e2dfdc;
	--color-primary-3:	#c9c6c4;
	--color-primary-4:	#aaa8a6;
	--color-primary-5:	#8b8888;
	--color-primary-6:	#6b6868;
	--color-primary-7:	#4f4c4d;
	--color-primary-8:	#312F30;
	--color-primary-9:	#151515;
	--color-primary-10: #080808;
}

/* .theme-light .markdown-preview-view.coldgrey,
.theme-light .markdown-source-view.coldgrey,
.theme-light .markdown-preview-view.tide,
.theme-light .markdown-source-view.tide,
.theme-light .markdown-preview-view.moss,
.theme-light .markdown-source-view.moss,
.theme-light .markdown-preview-view.hearth,
.theme-light .markdown-source-view.hearth,
.theme-light .markdown-preview-view.coldgrey,
.theme-light .markdown-source-view.coldgrey, */
.theme-light.custom-l,
.theme-light.sanctum-coldgrey,
.theme-light.sanctum-tide,
.theme-light.sanctum-hearth,
.theme-light.sanctum-moss,
.theme-light,
.theme-light.sanctum-light {
	--color-hover:		var(--color-primary-2);
	--color-border-1:	var(--color-primary-2);
	--color-border-2:	var(--color-primary-3);

	--color-accent: rgb(var(--color-accent-l));

	--background-primary:		var(--color-primary-1);
	--background-primary-alt:	var(--color-primary-0);
	--background-secondary:		var(--color-primary-1);
	--background-secondary-alt:	var(--color-primary-1);

	--background-modifier-border: var(--color-primary-5);

	--background-modifier-form-field:			rgba(0, 0, 0, .05);
	--background-modifier-form-field-highlighted: var(--color-primary-2);
	--background-modifier-box-shadow:			rgba(0, 0, 0, 0.2);
	--background-modifier-success:				#8c8d3b;
	--background-modifier-error:				#f15148;
	--background-modifier-error-rgb:			196, 46, 39;
	--background-modifier-error-hover:			#f15148;
	--background-modifier-cover:				var(--color-primary-2);

	--text-normal:		var(--color-primary-8);
	--text-muted:		var(--color-primary-7);
	--text-faint:		var(--color-primary-5);
	--text-accent:		var(--color-accent);
	--text-on-accent:	var(--color-primary-0);
	--text-accent-hover: #d66c1e;
	--text-error:		#f15148;
	--text-error-hover:	#f15148;

	--text-highlight-bg:		var(--color-accent);
	--text-highlight-bg-active: var(--color-accent);
	--text-selection:			var(--txt-sel);

	--interactive-normal:		var(--color-primary-2);
	--interactive-hover:		var(--color-primary-2);
	--interactive-accent:		var(--color-accent);
	--interactive-accent-rgb:	var(--color-primary-2);
	--interactive-accent-hover: var(--color-primary-3);
	--interactive-success:		#8c8d3b;

	--scrollbar-bg: rgba(0, 0, 0, 0.05);
	--scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
	--highlight-mix-blend-mode: darken;
}

/* ─────────────────────────── Dark Theme Colours ─────────────────────────── */
:root {
	--base-h-d: 30;
	--base-s-d: 1%;
	--base-l-d: 10%;
}

.theme-dark.custom-d {
	--rgb-primary-0: 8, 8, 8;
	--rgb-primary-10: 254, 254, 254;
	--color-primary-0:	#080808;
	--color-primary-1:	hsl(var(--base-h-d), var(--base-s-d), calc(var(--base-l-d) + 0.6%));
	--color-primary-2:	hsl(var(--base-h-d), var(--base-s-d), calc(var(--base-l-d) + 10.6%));
	--color-primary-3:	hsl(var(--base-h-d), var(--base-s-d), calc(var(--base-l-d) + 20.4%));
	--color-primary-4:	hsl(var(--base-h-d), var(--base-s-d), calc(var(--base-l-d) + 31.4%));
	--color-primary-5:	hsl(var(--base-h-d), var(--base-s-d), calc(var(--base-l-d) + 43.9%));
	--color-primary-6:	hsl(var(--base-h-d), var(--base-s-d), calc(var(--base-l-d) + 55.9%));
	--color-primary-7:	hsl(var(--base-h-d), var(--base-s-d), calc(var(--base-l-d) + 67.6%));
	--color-primary-8:	hsl(var(--base-h-d), var(--base-s-d), calc(var(--base-l-d) + 77.5%));
	--color-primary-9:	hsl(var(--base-h-d), var(--base-s-d), calc(var(--base-l-d) + 85.1%));
	--color-primary-10: #fefefe;
}

/* .theme-dark .markdown-preview-view.cold-grey,
.theme-dark .markdown-source-view.cold-grey {
	background-color: #171b1f;
}
.theme-dark .markdown-preview-view.coldgrey,
.theme-dark .markdown-source-view.coldgrey, */
.theme-dark.sanctum-coldgrey-d {
	--rgb-primary-0: 8, 8, 8;
	--color-primary-0:	#080808;
	--color-primary-1:	#171b1f;
	--color-primary-2:	#2f3538;
	--color-primary-3:	#474e53;
	--color-primary-4:	#636a71;
	--color-primary-5:	#838a92;
	--color-primary-6:	#a3a9b1;
	--color-primary-7:	#c1c7cd;
	--color-primary-8:	#dce0e5;
	--color-primary-9:	#f1f3f7;
	--color-primary-10:	#fefefe;
}

/* .theme-dark .markdown-preview-view.hearth,
.theme-dark .markdown-source-view.hearth {
	background-color: #201a14;
}
.theme-dark .markdown-preview-view.hearth,
.theme-dark .markdown-source-view.hearth, */
.theme-dark.sanctum-chocolate { /* this one differs a bit from orange, so it has a better dark mode*/
	--rgb-primary-0: 8, 8, 8;
	--color-primary-0:	#080808;
	--color-primary-1:	#201a14;
	--color-primary-2:	#403124;
	--color-primary-3:	#614832;
	--color-primary-4:	#86613f;
	--color-primary-5:	#b37e4c;
	--color-primary-6:	#db9b5e;
	--color-primary-7:	#f3bc85;
	--color-primary-8:	#f7dbbc;
	--color-primary-9:	#f9f2eb;
	--color-primary-10:	#fefefe;
}

/* .theme-dark .markdown-preview-view.moss,
.theme-dark .markdown-source-view.moss {
	background-color: #1b1b11;
}
.theme-dark .markdown-preview-view.moss,
.theme-dark .markdown-source-view.moss, */
.theme-dark.sanctum-forest {
	--rgb-primary-0: 8, 8, 8;
	--color-primary-0:	#080808;
	--color-primary-1:	#1b1b11;
	--color-primary-2:	#35351e;
	--color-primary-3:	#4f4f27;
	--color-primary-4:	#6c6c2e;
	--color-primary-5:	#8c8d3b;
	--color-primary-6:	#abad56;
	--color-primary-7:	#c7cb91;
	--color-primary-8:	#dfe2be;
	--color-primary-9:	#f2f4eb;
	--color-primary-10:	#fefefe;
}

/* .theme-dark .markdown-preview-view.tide,
.theme-dark .markdown-source-view.tide {
	background-color: #131c1c;
}
.theme-dark .markdown-preview-view.tide,
.theme-dark .markdown-source-view.tide, */
.theme-dark.sanctum-sea {
	--rgb-primary-0: 8, 8, 8;
	--color-primary-0:	#080808;
	--color-primary-1:	#131c1c;
	--color-primary-2:	#223737;
	--color-primary-3:	#2c5352;
	--color-primary-4:	#327370;
	--color-primary-5:	#419693;
	--color-primary-6:	#69b5b1;
	--color-primary-7:	#96d1cf;
	--color-primary-8:	#cbe4e3;
	--color-primary-9:	#eef5f5;
	--color-primary-10:	#fefefe;
}

/* .theme-dark .markdown-preview-view.true-black,
.theme-dark .markdown-source-view.true-black {
	background-color: #000000;
}
.theme-dark .markdown-preview-view.true-black,
.theme-dark .markdown-source-view.true-black, */
.theme-dark.sanctum-true-black {
	--rgb-primary-0: 0,0,0 ;
	--color-primary-0:	#080808;
	--color-primary-1:	#000000;
	--color-primary-2:	#1b1b1b;
	--color-primary-3:	#363334;
	--color-primary-4:	#4f4c4d;
	--color-primary-5:	#6b6869;
	--color-primary-6:	#8b8888;
	--color-primary-7:	#aaa8a6;
	--color-primary-8:	#c9c6c3;
	--color-primary-9:	#e2dfdc;
	--color-primary-10: #f5f3f0;
}

.theme-dark.sanctum-dark {
	--rgb-primary-0: 8, 8, 8;
	--color-primary-0:	#080808;
	--color-primary-1:	#1b1b1b;
	--color-primary-2:	#363334;
	--color-primary-3:	#4f4c4d;
	--color-primary-4:	#6b6869;
	--color-primary-5:	#8b8888;
	--color-primary-6:	#aaa8a6;
	--color-primary-7:	#c9c6c3;
	--color-primary-8:	#e2dfdc;
	--color-primary-9:	#f5f3f0;
	--color-primary-10: #fefefe;
}

.theme-dark.sanctum-legacy-dark {
	--rgb-primary-0: 8, 8, 8;
	--color-primary-0:	#080808;
	--color-primary-1:	#151515;
	--color-primary-2:	#312F30;
	--color-primary-3:	#4f4c4d;
	--color-primary-4:	#6b6868;
	--color-primary-5:	#8b8888;
	--color-primary-6:	#aaa8a6;
	--color-primary-7:	#c9c6c4;
	--color-primary-8:	#e2dfdc;
	--color-primary-9:	#f5f3f0;
	--color-primary-10: #fefefe;
}

.theme-dark {
	--rgb-primary-0: 8, 8, 8;
	--rgb-primary-10: 254, 254, 254;
	--color-primary-0:	#080808;
	--color-primary-1:	#1b1b1b;
	--color-primary-2:	#363334;
	--color-primary-3:	#4f4c4d;
	--color-primary-4:	#6b6869;
	--color-primary-5:	#8b8888;
	--color-primary-6:	#aaa8a6;
	--color-primary-7:	#c9c6c3;
	--color-primary-8:	#e2dfdc;
	--color-primary-9:	#f5f3f0;
	--color-primary-10: #fefefe;
}
/* .theme-dark .markdown-preview-view.true-black,
.theme-dark .markdown-source-view.true-black,
.theme-dark .markdown-preview-view.tide,
.theme-dark .markdown-source-view.tide,
.theme-dark .markdown-preview-view.moss,
.theme-dark .markdown-source-view.moss,
.theme-dark .markdown-preview-view.hearth,
.theme-dark .markdown-source-view.hearth,
.theme-dark .markdown-preview-view.coldgrey,
.theme-dark .markdown-source-view.coldgrey, */
.theme-dark.custom-d,
.theme-dark.sanctum-coldgrey-d,
.theme-dark.sanctum-sea,
.theme-dark.sanctum-fire,
.theme-dark.sanctum-forest,
.theme-dark,
.theme-dark.sanctum-true-black,
.theme-dark.sanctum-dark,
.theme-dark.sanctum-legacy-dark {
	
	--font-thin: 100;
	--font-extra-light: 100;
	--font-light: 200;
	--font-regular: 300;
	--font-medium: 400;
	--font-semi-bold: 500;
	--font-bold: 600;


	--color-hover:		var(--color-primary-2);
	--color-border-1:	var(--color-primary-2);
	--color-border-2:	var(--color-primary-3);

	--color-accent: rgb(var(--color-accent-d));

	--background-primary:		var(--color-primary-1);
	--background-primary-alt:	var(--color-primary-0);
	--background-secondary:		var(--color-primary-1);
	--background-secondary-alt:	var(--color-primary-1);

	--background-modifier-border:var(--color-primary-5);

	--background-modifier-form-field:			rgba(0, 0, 0, .05);
	--background-modifier-form-field-highlighted: var(--color-primary-2);
	--background-modifier-box-shadow:			rgba(0, 0, 0, 0.2);
	--background-modifier-success:				#8c8d3b;
	--background-modifier-error:				#f15148;
	--background-modifier-error-rgb:			196, 46, 39;
	--background-modifier-error-hover:			#f15148;
	--background-modifier-cover:				var(--color-primary-2);

	--text-normal:		var(--color-primary-8);
	--text-muted:		var(--color-primary-7);
	--text-faint:		var(--color-primary-5);
	--text-accent:		var(--color-accent);
	--text-on-accent:	var(--color-primary-10);
	--text-accent-hover: #d66c1e;
	--text-error:		#f15148;
	--text-error-hover:	#f15148;

	--text-highlight-bg:		var(--color-accent);
	--text-highlight-bg-active: var(--color-accent);
	--text-selection:			var(--txt-sel);

	--interactive-normal:		var(--color-primary-2);
	--interactive-hover:		var(--color-primary-2);
	--interactive-accent:		var(--color-accent);
	--interactive-accent-rgb:	var(--color-primary-2);
	--interactive-accent-hover: var(--color-primary-3);
	--interactive-success:		#8c8d3b;

	--scrollbar-bg: rgba(0, 0, 0, 0.05);
	--scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
	--highlight-mix-blend-mode: lighten;
}

/*

- Global Settings
	- GLobal Filter
	- Angular or Round Shapes
	- Animations
- Cursor
- UI Elements
	- Title Bar
	- Settings Button
	- Ribbons
	- Tooltips
	- Notices (Notifications)
	- Header Bar
	- Status Bar
	- Scrollbar
- Sidebar
	- Files in the Sidebar
	- Tab Headers
	- Hidden sidebars tabs
	- Resize Handles
- Vault Launch Progress Bar
- Components
	- Buttons
	- Warnings
	- Toggles
	- Input & Textarea
	- Dropdown
	- Slider
	- Search & Replace (cmd + F)
	- Search Matches
	- Context Menus
	- Close Buttons
- Prompts
	- Command Palette
	- QuickSwitcher
	- Editor Suggestions
- Modals & Settings
	- Modals in general
	- Confirmation Modal
	- Settings Menu
 		- Login Menu
 		- Community plugin list
 		- Core plugin
 		- Hotkey search
	- Plugin Browser
		- Plugin Search Results (left side)
		- Plugin Info / Readme (right side)
	- Theme Browser
		- GitHub Info for this Theme
		- Remaining Community Theme Browser
- Editor
	- Active / Inactive Note
	- Trailing Whitespace
	- Empty State
	- Editor Properties
	- Active Line Highlight
	- Embeds
		- iframes
		- Embedded Notes
		- Embedded Search Queries
		- Clean Embeds
	- YAML Header
 		- YAML Frontmatter
 		- Metadata Block
	- Gutter
		- Collapse Indicators
		- Line Numbers
	- Progress bars (<progress>)
	- Images
	- Mermaid
	- PDFs
	- Spellcheck
	- Max View
 		- Line Length & Tables
 		- Images
 		- PDFs
 		- Mermaid
- Markup
	- Headings
	- Blockquotes
	- Citation Syntax
	- Pseudo-Admonitions
	- Tables
	- Code
		- Inline Code
		- Code Blocks
	- Syntax Highlighting
	- Bullet List
	- Bullet Point Relationship Lines
	- Links
 		- Unresolved links
 		- fold external URLs (CM6 Source Mode)
	- Tags
		- Annotation Tags
	- Comments & HTML Tags
	- Tasks
	- Checkboxes
	- Highlights & Selection
 		- Highlights
 		- Selection (Selected Text)
	- Multi-Color Highlighting
	- Pseudo-Spoiler-Tag
	- Strikethroughs
	- Pandoc Citations
	- Footnotes
 		- Footnote Indicator in Gutter
	- Horizontal line (hr)
- CSS Classes
- Mobile
	- Typography
	- Header
- Core Plugins
	- Editor Status (CM6)
	- File Explorer
		- Relationship Lines
		- Folder Icons & Note Icons
	- Panes
 		- Core Panes in general
		- Outline
		- Backlinks & Outgoing
		- Search Pane
 		- Search suggestion container
		- Tag Pane
		- Starred
	- Popover (Page Preview)
	- File Recovery
	- Graph View
- Community Plugins

- Style Setting Options
- Compatibility Info for the Obsidian Hub
*/
