body {

	--font-editor-theme: ??;
	--font-editor: var(--font-editor-theme), var(--font-text);

	--font-text-theme: Inter,sans-serif;
	--font-monospace-theme: Menlo,SFMono-Regular,Consolas,"Roboto Mono",monospace;
	--font-interface-theme: Inter,sans-serif;
}